<template>
    <div class="c-landingPageBottomBar">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="buttonGroup">
                        <div class="c-button c-botton-outline-blue widthFitContent">
                            <NuxtLink to="">
                                <img src="~/assets/img/icon/share.svg" alt="">
                            </NuxtLink>
                        </div>
                        <div class="c-button c-botton-outline-blue widthFitContent">
                            <NuxtLink to="">
                                <img src="~/assets/img/icon/favorite.svg" alt="">
                            </NuxtLink>
                        </div>
                        <div class="c-button c-botton-yellow">
                            <NuxtLink to="">
                                <p>贊助專案</p>
                            </NuxtLink>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>