<template>
    <div class="c-landingPageNavBar">
        <div class="container navBar">
            <div class="row align-items-center">
                <div class="col-lg-8 col-12 d-flex">
                    <div class="buttonGroup">
                        <div class="c-navBarButton active">
                            <NuxtLink to="">
                                <p>專案介紹</p>
                            </NuxtLink>
                        </div>
                        <div class="c-navBarButton">
                            <NuxtLink to="">
                                <p>產品規格</p>
                            </NuxtLink>
                        </div>
                        <div class="c-navBarButton">
                            <NuxtLink to="">
                                <p>常見問題</p>
                            </NuxtLink>
                        </div>
                        <div class="c-navBarButton">
                            <NuxtLink to="">
                                <p>團隊介紹</p>
                            </NuxtLink>
                        </div>
                        <div class="c-navBarButton">
                            <NuxtLink to="">
                                <p>開發故事</p>
                            </NuxtLink>
                        </div>
                        <div class="c-navBarButton">
                            <NuxtLink to="">
                                <p>最新公告</p>
                            </NuxtLink>
                        </div>
                        <div class="c-navBarButton">
                            <NuxtLink to="">
                                <p>留言板</p>
                            </NuxtLink>
                        </div>
                    </div>
                </div>
                <div class="col-4 d-lg-block d-none">
                    <div class="c-button c-botton-yellow">
                        <NuxtLink to="">
                            <p>贊助專案</p>
                        </NuxtLink>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>