<template>
    <!-- :class="[cardData.type,returnProjectStatus]" -->
    <NuxtLink class="c-projectCard" to="/">
        <div class="imgBox">
            <img src="~/assets/img/crowdfunding/banner1.jpg" alt="">
        </div>
        <div class="cardInfomation">
            <div class="topGroup">
                <div class="price">
                    <p>
                        ${{cardData.price}}
                    </p>
                </div>
                <div class="c-tag c-tag-gray">
                    <p>已經贊助{{cardData.sponsorTimes }}次</p>
                </div>
            </div>
            <div class="title">
                <p>{{cardData.title}}</p>
            </div>
            <div class="tag">
                <div v-for="tag in cardData.tags" class="c-tag c-tag-red">
                    <p>{{ tag }}</p>
                </div>
            </div>
            <div class="discription">
                <p v-for="discription in cardData.discriptions">{{ discription }}</p>
            </div>
            <div>
                <div class="c-button c-botton-yellow">
                    <div>
                        贊助
                    </div>
                </div>
            </div>
        </div>
    </NuxtLink>
</template>

<script>
export default {
    data() {
        return{
            projectStatus: "",
            cardData:{
                price: 26900,
                sponsorTimes: 3,
                title: "品友VIP限定優惠｜限時14天！",
                tags:[
                    "限量50組"
                ],
                discriptions: [
                    "只到 9/19 中午12:00！",
                    "內容物：好洗翻*1（含完整配件）",
                    "未來定價 $31900，現省 $6000",
                    "如需先寄貨，下單時務必備註",
                    "下單一個月內須安裝完成，如有特殊需求請先私訊MYFEEL客服詢問",
                    "下單再贈Baby SHARP空氣清淨機",
                    "購買後10/16前至夏普官網登入資料(保卡發票等)，才會寄出贈品﻿",
                ],
            }
        }
    },
}
</script>