<template>
    <div class="p-account">
        <Header></Header>
        <div class="container">
            <div class="accountContent">
                <div class="row justify-content-center">
                    <div class="col-md-6 col-12 titleGroup">
                        <div class="c-title text-center">
                            <h2>忘記密碼</h2>
                        </div>
                        <div class="underLineLink d-flex justify-content-center">
                            <p>
                                想起密碼了！
                            </p>
                            <NuxtLink to="/account/login">
                                <p>立即登入</p>
                            </NuxtLink>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6 col-12 formGroup">
                        <div v-for="data in inputData">
                            <p class="a-font color-gray900 weight-bold mb-2" v-text="data.title"></p>
                            <div class="inputGroup">
                                <div v-for="form in data.form" class="w-100">
                                    <div v-if="data.type == 'dropdown'">
                                        <DropDown :dropDownData="form"></DropDown>
                                    </div>
                                    <div v-else-if="data.type == 'input'" class="c-input">
                                        <input :type="form.inputType" :placeholder="form.placeholder">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="a-font color-gray500">我們將寄送重設密碼連結給您</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6 col-12 buttonGroup">
                        <div class="c-button c-botton-blue">
                            <NuxtLink to="/account/changepassword">
                                <p>重新設定密碼</p>
                            </NuxtLink>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <Footer></Footer>
    </div>
</template>

<script>
export default {
    data() {
        return {
            inputData: [
                {
                    title: "註冊時的Email",
                    type: "input",
                    form: [
                        {
                            placeholder: "請輸入註冊時的 Email",
                            inputType: "email",
                        }
                    ],
                },
            ]
        }
    },
}
</script>