<template>
    <div class="p-account">
        <Header></Header>
        <div class="container">
            <div class="accountContent">
                <div class="row justify-content-center">
                    <div class="col-md-6 col-12 titleGroup">
                        <div class="c-title text-center">
                            <h2>登入</h2>
                        </div>
                        <div class="underLineLink d-flex justify-content-center">
                            <p>
                                尚未成為會員？
                            </p>
                            <NuxtLink to="/account/register">
                                <p>立即註冊</p>
                            </NuxtLink>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6 col-12 ssoButtonGroup">
                        <div class="ssoButton c-button c-botton-outline-gray colorfulImg">
                            <NuxtLink to="/">
                                <img src="~/assets/img/icon/facebookColorful.svg" alt="">
                                <p>使用Facebook登入</p>
                            </NuxtLink>
                        </div>
                        <div class="ssoButton c-button c-botton-outline-gray colorfulImg">
                            <NuxtLink to="/">
                                <img src="~/assets/img/icon/googleColorful.svg" alt="">
                                <p>使用Google登入</p>
                            </NuxtLink>
                        </div>
                        <div class="ssoButton c-button c-botton-outline-gray colorfulImg">
                            <NuxtLink to="/">
                                <img src="~/assets/img/icon/lineColorful.svg" alt="">
                                <p>使用Line登入</p>
                            </NuxtLink>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6 col-12 seperationLine">
                        <div class="line"></div>
                        <p class="a-font color-gray500">或使用MYFEEL帳號密碼</p>
                        <div class="line"></div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6 col-12 formGroup">
                        <div v-for="data in inputData">
                            <p class="a-font color-gray900 weight-bold mb-2" v-text="data.title"></p>
                            <div class="inputGroup">
                                <div v-for="form in data.form" class="w-100">
                                    <div v-if="data.type == 'dropdown'">
                                        <DropDown :dropDownData="form"></DropDown>
                                    </div>
                                    <div v-else-if="data.type == 'input'" class="c-input">
                                        <input :type="form.inputType" :placeholder="form.placeholder">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6 col-12 buttonGroup">
                        <div class="c-button c-botton-blue">
                            <NuxtLink to="/">
                                <p>登入</p>
                            </NuxtLink>
                        </div>
                        <div class="underLineLink">
                            <NuxtLink to="/account/forgetpassword">
                                <p>忘記密碼</p>
                            </NuxtLink>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <Footer></Footer>
    </div>
</template>

<script>
export default {
    data() {
        return {
            inputData: [
                {
                    title: "Email",
                    type: "input",
                    form: [
                        {
                            placeholder: "請輸入 Email",
                            inputType: "email",
                        }
                    ],
                },
                {
                    title: "密碼",
                    type: "input",
                    form: [
                        {
                            placeholder: "請輸入密碼",
                            inputType: "password",
                        }
                    ],
                },
            ]
        }
    },
}
</script>