<template>
    <div class="p-account">
        <Header></Header>
        <div class="container">
            <div class="accountContent">
                <div class="row justify-content-center">
                    <div class="col-md-6 col-12 titleGroup">
                        <div class="c-title text-center">
                            <h2>註冊會員</h2>
                        </div>
                        <div class="underLineLink d-flex justify-content-center">
                            <p>
                                已有帳號？
                            </p>
                            <NuxtLink to="/account/login">
                                <p>立即登入</p>
                            </NuxtLink>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6 col-12 ssoButtonGroup">
                        <div class="ssoButton c-button c-botton-outline-gray colorfulImg">
                            <NuxtLink to="/">
                                <img src="~/assets/img/icon/facebookColorful.svg" alt="">
                                <p>使用Facebook帳號註冊</p>
                            </NuxtLink>
                        </div>
                        <div class="ssoButton c-button c-botton-outline-gray colorfulImg">
                            <NuxtLink to="/">
                                <img src="~/assets/img/icon/googleColorful.svg" alt="">
                                <p>使用Google帳號註冊</p>
                            </NuxtLink>
                        </div>
                        <div class="ssoButton c-button c-botton-outline-gray colorfulImg">
                            <NuxtLink to="/">
                                <img src="~/assets/img/icon/lineColorful.svg" alt="">
                                <p>使用Line帳號註冊</p>
                            </NuxtLink>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6 col-12 seperationLine">
                        <div class="line"></div>
                        <p class="a-font color-gray500">或使用MYFEEL帳號密碼</p>
                        <div class="line"></div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6 col-12 formGroup">
                        <div v-for="data in inputData">
                            <p class="a-font color-gray900 weight-bold mb-2" v-text="data.title"></p>
                            <div class="inputGroup">
                                <div v-for="form in data.form" class="w-100">
                                    <div v-if="data.type == 'dropdown'">
                                        <DropDown :dropDownData="form"></DropDown>
                                    </div>
                                    <div v-else-if="data.type == 'input'" class="c-input">
                                        <input :type="form.inputType" :placeholder="form.placeholder">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label a-font color-gray500" for="flexCheckDefault">
                                我想訂閱電子報
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6 col-12 buttonGroup">
                        <div class="c-button c-botton-blue">
                            <NuxtLink to="/">
                                <p>註冊</p>
                            </NuxtLink>
                        </div>
                        <div class="underLineLink d-flex">
                            <p>註冊即表示同意</p>
                            <NuxtLink to="/account/forgetpassword">
                                <p>忘記密碼</p>
                            </NuxtLink>
                            <p>與</p>
                            <NuxtLink to="/">
                                <p>隱私權政策</p>
                            </NuxtLink>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <Footer></Footer>
    </div>
</template>

<script>
export default {
    data() {
        return {
            inputData: [
                {
                    title: "Email",
                    type: "input",
                    form: [
                        {
                            placeholder: "請輸入 Email",
                            inputType: "email",
                        }
                    ],
                },
                {
                    title: "真實姓名",
                    type: "input",
                    form: [
                        {
                            placeholder: "請輸入真實姓名",
                            inputType: "text",
                        }
                    ],
                },
                {
                    title: "密碼",
                    type: "input",
                    form: [
                        {
                            placeholder: "請輸入密碼",
                            inputType: "password",
                        }
                    ],
                },
                {
                    title: "確認密碼",
                    type: "input",
                    form: [
                        {
                            placeholder: "請再次輸入密碼",
                            inputType: "password",
                        }
                    ],
                },
                {
                    title: "生理性別",
                    type: "dropdown",
                    form:[
                        {
                            placeholder: "請選擇性別",
                            li: [
                                "男性",
                                "女性",
                                "我不想提供",
                            ]
                        },
                    ]
                },
                {
                    title: "出生年月日",
                    type: "dropdown",
                    form: [
                        {
                            placeholder: "年份",
                            li: [
                                "1990",
                                "1991",
                                "1992",
                            ]
                        },
                        {
                            placeholder: "月份",
                            li: [
                                "1",
                                "2",
                                "3",
                                "4",
                                "5",
                                "6",
                                "7",
                                "8",
                                "9",
                                "10",
                                "11",
                                "12",
                            ]
                        },
                        {
                            placeholder: "日期",
                            li: [
                                "1",
                                "2",
                                "3",
                                "4",
                                "5",
                                "6",
                                "7",
                                "8",
                                "9",
                                "10",
                                "11",
                                "12",
                                "13",
                                "14",
                                "15",
                                "16",
                                "17",
                                "18",
                                "19",
                                "20",
                                "21",
                                "22",
                                "23",
                                "24",
                                "25",
                                "26",
                                "27",
                                "28",
                                "29",
                                "30",
                                "31",
                            ]
                        },
                    ]
                },
            ]
        }
    },
}
</script>