<template>
    <div class="c-userNavBar row align-items-center">
        <div class="col-lg-10 col-12">
            <div class="buttonGroup">
                <div v-for="data in navBarData" class="c-navBarButton" :class="{active : navBarActive == data.title}">
                    <NuxtLink :to="data.link">
                        <p v-text="data.title"></p>
                    </NuxtLink>
                </div>
            </div>
        </div>
        <div class="col-2 d-lg-block d-none">
            <div class="c-button c-botton-red">
                <NuxtLink to="">
                    <p>登出</p>
                </NuxtLink>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: [
        'navBarActive'
    ],
    data(){
        return{
            navBarData:[
                {
                    title: "我的頁面",
                    link: "/user"
                },
                {
                    title: "我的收藏",
                    link: "/user"
                },
                {
                    title: "購物車",
                    link: "/user"
                },
                {
                    title: "贊助紀錄",
                    link: "/user"
                },
                {
                    title: "我的專案",
                    link: "/user"
                },
                {
                    title: "編輯個人資料",
                    link: "/user"
                },
                {
                    title: "變更密碼",
                    link: "/user/changepassword"
                },
            ],
        }
    },
    mounted(){
        console.log(this.navBarActive)
        // this.navBarActive = this.navBarActive
    }
}
</script>