<template>
    <div class="c-userTab row align-items-center">
        <div class="col-12">
            <div class="buttonGroup">
                <div v-for="data in tabData" class="c-navBarButton" :class="{active : tabActive == data.title}">
                    <NuxtLink :to="data.link">
                        <p v-text="data.title"></p>
                    </NuxtLink>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: [
        'tabActive'
    ],
    data(){
        return{
            tabData:[
                {
                    title: "我的頁面",
                    link: "/user"
                },
                {
                    title: "我的收藏",
                    link: "/user"
                },
                {
                    title: "購物車",
                    link: "/user"
                },
            ],
        }
    },

}
</script>