.a-font{
    &.color{
        &-blue {
            color: $myfeelMajor;
        }
    
        &-red {
            color: $myfeelYellow;
        }
    
        &-green {
            color: $myfeelGreen;
        }
    
        &-lightBlue {
            color: $myfeelLightBlue;
        }
    
        &-red {
            color: $myfeelRed;
        }
    
        &-white {
            color: white;
        }
    
        &-gray500 {
            color: $gray500;
        }
    
        &-gray900 {
            color: $gray900;
        }
    }
    &.weight{
        &-bold{
            font-weight: bold;
        }
        &-normal{
            font-weight: normal;
        }
    }
    &.size{
        &-025 {
            font-size: 0.25rem;
        }
        &-050{
            font-size: 0.5rem;
        }
        &-075 {
            font-size: 0.75rem;
        }
        &-100 {
            font-size: 1rem;
        }
        &-125 {
            font-size: 1.25rem;
        }
        &-150 {
            font-size: 1.5rem;
        }
        &-175 {
            font-size: 1.75rem;
        }
        &-200 {
            font-size: 2rem;
        }
        &-225 {
            font-size: 2.25rem;
        }
        &-250 {
            font-size: 2.5rem;
        }
        &-275 {
            font-size: 2.75rem;
        }
        &-300 {
            font-size: 3rem;
        }
        &-325 {
            font-size: 3.25rem;
        }
        &-350 {
            font-size: 3.5rem;
        }
        &-375 {
            font-size: 3.75rem;
        }
        &-400 {
            font-size: 4rem;
        }
        &-425 {
            font-size: 4.25rem;
        }
        &-450 {
            font-size: 4.5rem;
        }
        &-475 {
            font-size: 4.75rem;
        }
        &-500 {
            font-size: 5rem;
        }
        &-525 {
            font-size: 5.25rem;
        }
        &-550 {
            font-size: 5.5rem;
        }
        &-575 {
            font-size: 5.75rem;
        }
    }
}