@mixin max-xxl {
    @media (max-width: $breakpoint-xxl - 1px) {
        @content;
    }
}
@mixin max-xl {
    @media (max-width: $breakpoint-xl - 1px) {
        @content;
    }
}
@mixin max-lg {
    @media (max-width: $breakpoint-lg  - 1px) {
        @content;
    }
}
@mixin max-md {
    @media (max-width: $breakpoint-md - 1px) {
        @content;
    }
}
@mixin max-sm {
    @media (max-width: $breakpoint-sm - 1px) {
        @content;
    }
}

@mixin min-xxl {
    @media (min-width: $breakpoint-xxl) {
        @content;
    }
}
@mixin min-xl {
    @media (min-width: $breakpoint-xl) {
        @content;
    }
}
@mixin min-lg {
    @media (min-width: $breakpoint-lg ) {
        @content;
    }
}
@mixin min-md {
    @media (min-width: $breakpoint-md) {
        @content;
    }
}
@mixin min-sm {
    @media (min-width: $breakpoint-sm) {
        @content;
    }
}

@mixin transition($s:1s){
    transition: $s;
    -webkit-transition: $s;
    -moz-transition: $s;
    -ms-transition: $s;
    -o-transition: $s;
}