$breakpoint-xxl: 1400px;
$breakpoint-xl: 1200px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;

$carouselBreakPointXL: 1200px;

$dropShadow: 0 0 0.5rem rgba(black, 0.15);
$dropShadowHover: 0 0 0.75rem rgba(black, 0.25);

$myfeelMajor: #193563;
$myfeelYellow: #FBC100;
$myfeelGreen: #40D1A1;
$myfeelRed: #FF7A4D;
$myfeelLightBlue: #83CFF7;

$myfeelMajorFilter: brightness(0) saturate(100%) invert(19%) sepia(21%) saturate(1744%) hue-rotate(177deg) brightness(100%) contrast(98%);
$myfeelYellowFilter: brightness(0) saturate(100%) invert(88%) sepia(28%) saturate(7394%) hue-rotate(1deg) brightness(105%) contrast(102%);
$myfeelGreenFilter: brightness(0) saturate(100%) invert(68%) sepia(52%) saturate(480%) hue-rotate(109deg) brightness(93%) contrast(90%);
$myfeelRedFilter: brightness(0) saturate(100%) invert(59%) sepia(98%) saturate(1686%) hue-rotate(327deg) brightness(101%) contrast(101%);
$myfeelLightBlueFilter: brightness(0) saturate(100%) invert(70%) sepia(58%) saturate(338%) hue-rotate(167deg) brightness(100%) contrast(95%);
$gray300Filter: brightness(0) saturate(100%) invert(92%) sepia(10%) saturate(1%) hue-rotate(338deg) brightness(93%) contrast(102%);
$gray500Filter: brightness(0) saturate(100%) invert(64%) sepia(0%) saturate(200%) hue-rotate(79deg) brightness(98%) contrast(94%);
$whiteFilter:brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(96deg) brightness(103%) contrast(103%);
$defaultFilter: brightness(0) saturate(0) invert(0) sepia(0) saturate(0) hue-rotate(0) brightness(0) contrast(0);

$gray100: #F5F5F5;
$gray200: #EEEEEE;
$gray300: #E0E0E0;
$gray400: #BDBDBD;
$gray500: #9E9E9E;
$gray600: #757575;
$gray700: #616161;
$gray800: #424242;
$gray900: #212121;