@import "base/index";
@import "abstracts/index";
@import "components/index";
@import "layout/index";
@import "utilities/index";
@import "vendors/index";
@import "pages/index";

@import url('https://fonts.cdnfonts.com/css/noto-sans');

html, body{
    font-family: 'Noto Sans', sans-serif;
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6,a,p{
    margin: 0;
}

h1,h2,h3,h4,h5,h6{
    font-weight: bold;
}