.c-bootstrapDropDown{
    .dropdown-toggle{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
        border-radius: 0.5rem 0 0.5rem 0;
        border: 0;
        outline: 2px solid $gray500;
        outline-offset: -2px;
        color: $gray500;
        img {
            width: 1.5rem;
            filter: $gray500Filter;
        }
        .arrowDown{
            display: block;
        }
        .arrowUp{
            display: none;
        }
        &::after{
            display: none;
        }
        &:active,&:hover,&:focus{
            outline: 2px solid $myfeelMajor;
            img{
                filter: $myfeelMajorFilter;
            }
        }
        &:focus{
            .arrowDown {
                display: none;
            }
        
            .arrowUp {
                display: block;
            }
        }
    }
    .dropdown-menu{
        width: 100%;
        border-radius: 0.5rem 0 0.5rem 0;
        border: 0;
        outline: 2px solid $gray500;
        outline-offset: -2px;
        padding: 0;
        overflow: hidden;
        transform: translate3d(0px, 48px, 0px) !important;
        max-height: 200px;
        overflow: scroll;
        .dropdown-item{
            padding: 0.5rem;
            border-bottom: 2px solid $gray300;
            color: $gray500;
            &:hover,&:active {
                background-color: $gray100;
            }
        }
    }
}