@mixin buttonStyle($buttonColor: $myfeelMajor, $style: "default", $imgFilter: $myfeelMajorFilter){
    @if $style == "outline"{
        a,div{
            background-color: transparent;
            outline: 2px solid $buttonColor;
            outline-offset: -2px;
            color: $buttonColor;
            img{
                filter: $imgFilter;
            }
            &:hover{
                
                color: white;
                background-color: $buttonColor;
                img{
                    filter: $whiteFilter;
                }
            }
        }
    } @else if $style =="default" {
        a,div{
            background-color: $buttonColor;
            color: white;
            &:hover {
                background-color: lighten($buttonColor, 5%);
            }
            img{
                filter: $whiteFilter;
            }
        }
    }
}

.c-button{
    width: 100%;
    height: fit-content;
    &.widthFitContent{
        width: fit-content;
    }
    a,div{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem 1rem;
        font-weight: bold;
        border-radius: 0.5rem 0 0.5rem 0;
        border: 0;
        p{
            margin: 0 2px;
        }
        img{
            margin: 0 2px;
            width: 1.5rem;
        }
    }
    &.c-botton{
        &-blue{
            @include buttonStyle
        }
        &-yellow{
            @include buttonStyle($myfeelYellow)
        }
        &-green {
            @include buttonStyle($myfeelGreen)
        }
        &-red {
            @include buttonStyle($myfeelRed)
        }
        &-lightBlue {
            @include buttonStyle($myfeelLightBlue)
        }
        &-gray {
            @include buttonStyle($gray500)
        }
        &-disable{
            @include buttonStyle($gray500);
            a,div{
                color: $gray300;
                cursor: default;
                &:hover{
                    background-color: $gray500;
                }
            }
            img{
                filter: $gray300Filter;
            }
        }
        &-outline{
            &-blue{
                @include buttonStyle($style: "outline")
            }
            &-yellow{
                @include buttonStyle($myfeelYellow , "outline", $myfeelYellowFilter)
            }
            &-green {
                @include buttonStyle($myfeelGreen ,"outline",$myfeelGreenFilter)
            }

            &-red {
                @include buttonStyle($myfeelRed , "outline", $myfeelRedFilter)
            }
            &-lightBlue {
                @include buttonStyle($myfeelLightBlue , "outline", $myfeelLightBlueFilter)
            }
            &-gray {
                @include buttonStyle($gray500 , "outline", $gray500Filter)
            }
            &-disable {
                @include buttonStyle($gray300, "outline", $gray300Filter);
                a,div{
                    cursor: default;
                }
                &:hover {
                    a,div{
                        background-color: white;
                        border: 2px solid $gray300;
                        color: $gray300;
                    
                        img {
                            filter: $gray300Filter;
                        }
                    }
                }
            }
        }
    }
    &.colorfulImg{
        a,div {
            img {
                filter: none;
            }
        }
    }
}