.c-card{
    &.crowdfunding{
        .cardInfomation{
            .crowdfundingData{
                .countDown{
                    p{
                        color: $myfeelYellow;
                    }
                }
                .dataBar{
                    .bar{
                        background-color: $myfeelYellow;
                    }
                }
            }
        }
    }
    &.subscription{
        .cardInfomation{
            .crowdfundingData{
                .countDown{
                    p{
                        color: $myfeelGreen;
                    }
                }
                .dataBar{
                    .bar{
                        background-color: $myfeelGreen;
                    }
                }
            }
        }
    }
    &.longTerm{
        .cardInfomation{
            .crowdfundingData{
                .countDown{
                    p{
                        color: $myfeelLightBlue;
                    }
                }
                .dataBar{
                    .bar{
                        background-color: $myfeelLightBlue;
                    }
                }
            }
        }
    }
    &.product{
        .cardInfomation{
            .title{
                p{
                    -webkit-line-clamp: 3;
                    height: 4.5rem;
                }
            }
        }
    }
    &.media{
        background-color: transparent;
        .infomationContainer{
            padding: 1rem 0;
            .imgBox {
                border-radius: 1rem 0 1rem 0;
            }
        
            .cardInfomation {
                filter: none;
            }
        }
    }
    &.commingSoon{
        .cardInfomation{
            .crowdfundingData{
                .countDown{
                    p{
                        font-size: 1rem;
                        color: $gray500;
                    }
                }
            }
        }
    }
    &.progressing, &.finished{
        .cardInfomation{
            .crowdfundingData{
                .countDown{
                    p{
                        font-size: 0.75rem;
                    }
                }
            }
        }
    }
    
    background-color: white;
    filter: drop-shadow($dropShadow);
    width: 100%;
    border-radius: 1rem 0 1rem 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: auto;
    // padding: 1rem;
    transition: 0.3s;
    &:hover{
        filter: drop-shadow($dropShadowHover);
        .favoriteButton{
            top: 0.5rem;
            opacity: 1;
        }
        .imgBox{
            img{
                transform: scale(1.1);
            }
        }
    }
    .favoriteButton{
        position: absolute;
        right: 0.5rem;
        top: 0rem;
        width: 1.5rem;
        height: 1.5rem;
        filter: drop-shadow($dropShadow);
        opacity: 0;
        transition: 0.3s;
        z-index: 100;
        @include max-lg{
            top: 0.5rem;
            opacity: 1;
        }
        img{
            position: absolute;
            width: 1.5rem;
        }
        .default{
            transition: 0.3s;
            opacity: 1;
            filter: $whiteFilter;
        }
        .hover{
            transition: 0.3s;
            opacity: 0;
            filter: $myfeelYellowFilter;
        }
        &:hover{
            filter: drop-shadow($dropShadowHover);
            .default{
                opacity: 0;
            }
            .hover{
                opacity: 1;
            }
        }
        &.active{
            top: 0.5rem;
            opacity: 1;
            .default {
                opacity: 0;
            }
            .hover {
                opacity: 1;
            }
        }
    }
    .imgBox{
        overflow: hidden;
        img{
            transition: 0.3s;
            width: 100%;
        }
        // margin-bottom: 1rem;
    }
    .infomationContainer{
        padding: 1rem;
        .cardInfomation {
            display: flex;
            flex-direction: column;
            margin: -0.5rem 0;
            &>* {
                margin: 0.5rem 0;
            }
    
            .supplier,
            .editor {
                p {
                    color: $gray500;
                    font-size: 0.75rem;
                }
            }
    
            .editor {
                display: flex;
                align-items: center;
    
                img {
                    width: 1.5rem;
                    border-radius: 1.5rem;
                    margin-right: 0.5rem;
                }
            }
    
            .title {
                p {
                    color: $gray900;
                    font-size: 1rem;
                    font-weight: bold;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    white-space: normal;
                    height: 3rem;
                }
            }
    
            .crowdfundingData {
                display: flex;
                flex-direction: column;
    
                .topData {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
    
                    .accumulationAmount {
                        p {
                            font-size: 1rem;
                            font-weight: bold;
                            color: $gray900;
                        }
                    }
    
                    .countDown {
                        p {
                            // font-size: 0.75rem;
                            font-weight: bold;
                        }
                    }
                }
    
                .dataBar {
                    width: 100%;
                    height: 6px;
                    background-color: $gray300;
                    border-radius: 3px;
                    margin: 4px 0;
                    overflow: hidden;
    
                    .bar {
                        height: 6px;
                        border-radius: 3px;
                    }
                }
    
                .bottomData {
                    display: flex;
                    justify-content: space-between;
    
                    .accumulationSponsor,
                    .accumulationPercentage {
                        p {
                            font-size: 0.75rem;
                            color: $gray500;
                        }
                    }
                }
            }
    
            .productPrice {
                display: flex;
                align-items: flex-end;
    
                &.hot {
                    .price {
                        p {
                            font-size: 0.75rem;
                            color: $gray500;
                            text-decoration: line-through;
                            font-weight: normal;
                        }
                    }
    
                    .hotPrice {
                        margin-right: 0.5rem;
                        font-size: 1.5rem;
                        font-weight: bold;
                        color: $myfeelRed;
                    }
                }
    
                .price {
                    p {
                        font-size: 1.5rem;
                        font-weight: bold;
                        color: $gray900;
                    }
                }
            }
    
            .mediaData {
                .discription {
                    margin-bottom: 1rem;
    
                    p {
                        color: $gray500;
                        font-size: 1rem;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        white-space: normal;
                        height: 3rem;
                    }
                }
    
                .dataGroup {
                    display: flex;
                    justify-content: space-between;
    
                    .releaseDate {
                        p {
                            font-size: 0.75rem;
                            color: $gray500;
                        }
                    }
    
                    .accumulationViewer {
                        display: flex;
                        align-items: center;
    
                        img {
                            width: 1.5rem;
                            filter: $gray500Filter;
                            margin-right: 0.5rem;
                        }
    
                        p {
                            font-size: 0.75rem;
                            color: $gray500;
                        }
                    }
                }
            }
        }
    }
    
}