.c-input{
    input{
        width: 100%;
        padding: 0.5rem;
        border-radius: 0.5rem 0 0.5rem 0;
        outline: 2px solid $gray500;
        outline-offset: -2px;
        border: 0;
        color: $gray900;
        display: flex;
        font-size: 1rem;
        line-height: 1.5rem;
        &:hover,&:focus{
            outline: 2px solid $myfeelMajor;
            &+img{
                filter: $myfeelMajorFilter;
            }
        }
        &::placeholder{
            color: $gray500;
        }
    }
    &.inputWithIcon{
        input{
            padding-right: 2.25rem;
        }
        img{
            position: absolute;
            width: 1.5rem;
            top: 8px;
            right: calc(15px + 0.5rem);
        }
    }
}