.c-landingPageBottomBar{
    z-index: 1000;
    background-color: $gray100;
    filter: drop-shadow($dropShadow);
    position: fixed;
    width: 100%;
    bottom: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    .buttonGroup{
        display: flex;
        margin: 0 -0.25rem;
        & > *{
            margin: 0 0.25rem;
        }
    }
}