.c-landingPageNavBar{
    background-color: $gray100;
    filter: drop-shadow($dropShadow);
    .navBar{
        .buttonGroup {
            display: flex;
            overflow: scroll;
        }
    }
}