.c-linkButton{
    &.whiteLink{
        a{
            &::after {
                border: 1px solid white;
            }
            p {
                color: white;
            }
            img {
                filter: $whiteFilter;
            }
        }
    }
    a{
        display: flex;
        position: relative;
        &::after{
            position: absolute;
            content: "";
            border: 1px solid $myfeelMajor;
            top: 1.5rem;
            @include transition;
            animation-name:linkAnimation;
            animation-duration:2s;
            animation-iteration-count:infinite;
        }
        p{
            color: $myfeelMajor;
            font-weight: bold;
        }
        img{
            width: 1.5rem;
            filter: $myfeelMajorFilter;
        }
    }
}
@keyframes linkAnimation{
    from{
        left: 50%;
        width: 0;
        opacity: 0;
    }
    to{
        left: 0;
        width: 100%;
        opacity: 1;
    }
}