.c-navBarButton{
    &.active{
        a{ 
            p{
                color: $gray900;
            }
            &::after{
                border: 2px solid $myfeelMajor;
            }
        }
    }
    a{
        display: block;
        width: max-content;
        position: relative;
        p{
            padding: 1rem;
            font-size: 1rem;
            font-weight: bold;
            color: $gray500;
            text-align: center;
        }
        &::after{
            width: 100%;
            position: absolute;
            content: "";
            bottom: 0;
        }
        &:hover{
            p{
                color: $gray900;
            }
            &::after{
                border: 2px solid $myfeelMajor;
            }
        }
    }
}