.c-projectCard{
    background-color: white;
    filter: drop-shadow($dropShadow);
    width: 100%;
    border-radius: 1rem 0 1rem 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    &:hover{
        filter: drop-shadow($dropShadowHover);
    }
    .imgBox{
        img{
            width: 100%;
        }
    }
    .cardInfomation{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        margin: -0.5rem 0;
        &>*{
            margin: 0.5rem 0;
        }
        .topGroup{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .price{
                p{
                    font-size: 2.25rem;
                    color: $myfeelRed;
                    font-weight: bold;
                }
            }
        }
        .title{
            display: flex;
            p{
                font-size: 1.5rem;
                font-weight: bold;
                color: $gray900;
            }
        }
        .tag{
            display: flex;
        }
        .discription{
            display: flex;
            flex-direction: column;
            p{
                font-size: 1rem;
                color: $gray500;
            }
        }
    }
}