.c-tag{
    width: fit-content;
    height: fit-content;
    border-radius: 0.5rem 0 0.5rem 0;
    padding: 0.25rem 0.5rem;
    p{
        font-weight: bold;
        font-size: 0.75rem;
        color: white;
    }
    &.c-tag{
        &-blue{
            background-color: $myfeelMajor;
        }
        &-yellow{
            background-color:$myfeelYellow;
        }
        &-green {
            background-color:$myfeelGreen;
        }
        &-red {
            background-color:$myfeelRed;
        }
        &-lightBlue {
            background-color:$myfeelLightBlue;
        }
        &-gray{
            background-color:$gray500;
        }
        &-outline{
            &-blue{
                background-color: transparent;
                border:1px solid  $myfeelMajor;
                color: $myfeelMajor;
            }
            &-yellow{
                background-color: transparent;
                border:1px solid $myfeelYellow;
                color: $myfeelYellow;
            }
            &-green {
                background-color: transparent;
                border:1px solid $myfeelGreen;
                color: $myfeelGreen;
            }
            &-red {
                background-color: transparent;
                border:1px solid $myfeelRed;
                color: $myfeelRed;
            }
            &-lightBlue {
                background-color: transparent;
                border:1px solid $myfeelLightBlue;
                color: $myfeelLightBlue;
            }
            &-gray{
                background-color: transparent;
                border:1px solid $gray500;
                color: $gray500;
            }
        }
    }
}