.c-title{
    h2{
        font-size: 2.25rem;
        line-height: calc( 2.25rem * 1.5);
        @include max-md{
            font-size: 1.5rem;
            line-height: calc( 1.5rem * 1.5);
        }
    }
}