.c-userNavBar{
    position: relative;
    &::after,&::before{
        z-index: 0;
        content: "";
        position: absolute;
        border: 1px solid $gray300;
        left: 15px;
        width:  calc(100% - 30px);
        height: 1px;
        display: block;
    }
    &::before {
        top: 0;
    }
    &::after {
        bottom: 0;
    }
    .buttonGroup {
        display: flex;
        overflow: scroll;
        div{
            z-index: 10;
        }
    }
}