<template>
    <NuxtLink class="c-card" :class="[cardData.type,returnProjectStatus]" :to="'crowdfunding/' + cardData.slug">
        <div class="favoriteButton" :class="{active:favoriteButtonActive}" @click.prevent="toggleFavoriteButton">
            <img class="default" src="~/assets/img/icon/favorite.svg" alt="">
            <img class="hover" src="~/assets/img/icon/favoriteSolid.svg" alt="">
        </div>
        <div class="imgBox">
            <img :src="cardData.bannerSrc" alt="">
        </div>
        <div class="infomationContainer">
            <div class="cardInfomation">
                <div v-if="cardData.type != 'media'" class="supplier">
                    <p>發起人：{{ cardData.supplier }}</p>
                </div>
                <div v-else class="editor">
                    <img :src="cardData.editor.imgSrc" alt="">
                    <p>作者：{{ cardData.editor.name }}</p>
                </div>
                <div class="title">
                    <p>{{ cardData.title }}</p>
                </div>
                <div v-if="cardData.type == 'crowdfunding' || cardData.type == 'subscription' || cardData.type == 'longTerm'" class="crowdfundingData">
                    <div class="topData">
                        <div v-if="projectStatus != 'commingSoon'" class="accumulationAmount">
                            <p>
                                NT {{ cardData.price.accumulationAmount | numberFormat }}
                            </p>
                        </div>
                        <div class="countDown">
                            <p>
                                {{ getCountDown }}
                            </p>
                        </div>
                        <div v-if="projectStatus == 'commingSoon'">
                            <p class="a-font weight-bold size-075 color-gray500">即將上市</p>
                        </div>
                    </div>
                    <div class="dataBar">
                        <div v-if="projectStatus != 'commingSoon'" class="bar" :style="{ 'width': (getPercentage >= 100 ? 100 + '%' : getPercentage + '%') }"></div>
                    </div>
                    <div v-if="projectStatus != 'commingSoon'" class="bottomData">
                        <div class="accumulationSponsor">
                            <p>累積 {{ cardData.accumulationSponsor | numberFormat }} 人支持</p>
                        </div>
                        <div class="accumulationPercentage">
                            <p>{{ getPercentage | numberFormat }} %</p>
                        </div>
                    </div>
                </div>
                <div v-if="cardData.type == 'product'" :class="[cardData.price.hotPrice != null ? 'hot' : '']" class="productPrice">
                    <div v-if="cardData.price.hotPrice" class="hotPrice">
                        <p>NT$ {{ cardData.price.hotPrice | numberFormat }}</p>
                    </div>
                    <div class="price">
                        <p>NT$ {{ cardData.price.ogPrice | numberFormat }}</p>
                    </div>
                </div>
                <div v-if="cardData.type == 'media'" class="mediaData">
                    <div class="discription">
                        <p>{{ cardData.discription }}</p>
                    </div>
                    <div class="dataGroup">
                        <div class="releaseDate">
                            <p>發布時間:</p>
                        </div>
                        <div class="accumulationViewer">
                            <img src="~/assets/img/icon/eye.svg" alt="">
                            <p>{{ cardData.accumulationViewer | numberFormat }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </NuxtLink>
</template>

<script>
export default {
    props: [
        'cardData'
    ],
    data() {
        return{
            favoriteButtonActive: false,
            projectStatus: "",
        }
    },
    computed:{
        getPercentage(){
            var percentage;
            percentage = Math.round(this.cardData.price.accumulationAmount / this.cardData.price.goalAmount * 100);
            return percentage;
        },
        getStartNow(){
            return Date.now() - this.cardData.date.startingDate
        },
        getExpirationNow(){
            return Date.now() - this.cardData.date.expirationDate
        },
        getCountDown(){
            if(this.getStartNow < 0){
                let DHMS = this.convertMilliseconds(-this.getStartNow)
                return "倒數 " + DHMS[0] + " 天 " + DHMS[1] + " 時 " + DHMS[2] + " 分 " + DHMS[3] + " 秒" 
            }else if(this.getExpirationNow < 0 && this.getStartNow > 0){
                let DHMS = this.convertMilliseconds(-this.getExpirationNow)
                if(DHMS[0] > 1){
                    return "倒數 " + DHMS[0] + " 天"
                }else{
                    return "倒數 " + DHMS[1] + " 時 " + DHMS[2] + " 分 " + DHMS[3] + " 秒"
                }
            }else{
                if(this.getPercentage >= 100){
                    return "募資成功"
                }else{
                    return "已結束"
                }
            }
        },
        returnProjectStatus(){
            if(this.cardData.type == "crowdfunding" || this.cardData.type == "subscription" || this.cardData.type == "longTerm"){
                if(this.getStartNow < 0){
                    this.projectStatus = "commingSoon";
                    return "commingSoon";
                }else if(this.getExpirationNow < 0 && this.getStartNow > 0){
                    this.projectStatus = "progressing";
                    return "progressing";
                }else{
                    this.projectStatus = "finished";
                    return "finished"
                }
            }
            return 0;
        }
    },
    methods: {
        toggleFavoriteButton(){
            this.favoriteButtonActive = !this.favoriteButtonActive;
        },
        convertMilliseconds(milliseconds){
            // 计算总共有多少秒
            var totalSeconds = Math.floor(milliseconds / 1000);
            var days = Math.floor(totalSeconds / 3600 /24)
            // 计算有多少小时
            var hours = Math.floor(totalSeconds / 3600 % 24);
            // 剩余的秒数
            var secondsLeft = totalSeconds % 3600;
            // 计算分钟数
            var minutes = Math.floor(secondsLeft / 60);
            // 剩余的秒数
            var seconds = secondsLeft % 60;
            var DHMS = [days , hours, minutes, seconds]
            return DHMS
        },
    },
    mounted() {
    },
}
</script>