<template>
    <div class="dropdown c-bootstrapDropDown w-100">
        <NuxtLink class="dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" to="/">
            <p>{{ selected }}</p>
            <img class="arrowDown" src="~/assets/img/icon/arrowDown.svg" alt="">
            <img class="arrowUp" src="~/assets/img/icon/arrowUp.svg" alt="">
        </NuxtLink>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li v-for="list in dropDownData.li" @click="getData">
                <NuxtLink class="dropdown-item" to="#" v-text="list">
                </NuxtLink>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    props: [
        'dropDownData'
    ],
    data() {
        return {
            selected: ""
        }
    },
    methods:{
        getData(e){
            this.selected = e.target.innerText;
        }
    },
    mounted(){
        this.selected = this.dropDownData.placeholder
    },
}
</script>