<template>
    <div class="l-footer">
        <div class="container">
            <div class="row top">
                <div class="col-12 d-flex align-items-end justify-content-md-start justify-content-center">
                    <img class="mr-2" :src="footerInfo.top.imgSrc" alt="">
                    <p class="a-font size-075 color-white d-md-inline d-none">{{footerInfo.top.subtitle}}</p>
                </div>
            </div>
            <div class="row center">
                <div v-for="(info,index) in footerInfo.center" :key="'footerInfoCenter'+index" class="col-md-4 col-12 linkGroup">
                    <div class="footerTitle mb-3">
                        <h4 class="a-font color-white">{{info.title}}</h4>
                    </div>
                    <div class="footerLinkButton">
                        <div v-for="(linkButton,index) in info.linkButton" :key="'footerLinkButton'+index" class="footerLink">
                            <NuxtLink class="a-font color-white" :to="linkButton.link">{{ linkButton.title }}</NuxtLink>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row bottom">
                <div class="col-12 linkGroup">
                    <NuxtLink class="linkButton" v-for="(linkButton, index) in footerInfo.bottom.linkButton" :key="'footerInfoBottomLink' + index" :to="linkButton.link">
                        <img :src="linkButton.imgSrc" alt="">
                    </NuxtLink>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <p class="a-font size-075 color-white">{{footerInfo.bottom.copyRight }}</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import LogoWhite from '~/assets/img/LogoWhite.svg';
import InstagramImg from '~/assets/img/icon/instagram.svg';
import FacebookImg from '~/assets/img/icon/facebook.svg';
import LineImg from '~/assets/img/icon/line.svg';
import YouTubeImg from '~/assets/img/icon/youtube.svg';
export default {
    data() {
        return {
            footerInfo:{
                top:{
                    imgSrc: LogoWhite,
                    subtitle: "亞洲最大跨國集資平台"
                },
                center:[
                    {
                        title: "來逛逛",
                            linkButton: [
                                {
                                    title: "群眾募資",
                                    link: "/"
                                },
                                {
                                    title: "產品館",
                                    link: "/"
                                },
                                {
                                    title: "品味誌",
                                    link: "/"
                                },
                                {
                                    title: "品牌旗艦館",
                                    link: "/"
                                },
                                {
                                    title: "全球好物推薦",
                                    link: "/"
                                },
                            ]
                    },
                    {
                        title: "來提案",
                            linkButton: [
                                {
                                    title: "發起專案",
                                    link: "/"
                                },
                                {
                                    title: "提案諮詢",
                                    link: "/"
                                },
                                {
                                    title: "品牌資源",
                                    link: "/"
                                },
                            ]
                    },
                    {
                        title: "來瞭解",
                            linkButton: [
                                {
                                    title: "關於我們",
                                    link: "/"
                                },
                                {
                                    title: "常見問題",
                                    link: "/"
                                },
                                {
                                    title: "品味誌",
                                    link: "/"
                                },
                                {
                                    title: "隱私權保護條款",
                                    link: "/"
                                },
                                {
                                    title: "消費者服務條款",
                                    link: "/"
                                },
                                {
                                    title: "保固及售後服務",
                                    link: "/"
                                },
                                {
                                    title: "EZWAY服務說明",
                                    link: "/"
                                },
                            ]
                    },
                ],
                bottom:{
                    linkButton:[
                        {
                            imgSrc: InstagramImg,
                            link: "/"
                        },
                        {
                            imgSrc: FacebookImg,
                            link: "/"
                        },
                        {
                            imgSrc: LineImg,
                            link: "/"
                        },
                        {
                            imgSrc: YouTubeImg,
                            link: "/"
                        },
                    ],
                    copyRight: "All right reserved ⓒ MYFEEL.Inc 2022"
                }
                            
            },
        }
    },
    methods: {
    },
}
</script>