<template>
    <div class="l-header">
        <div class="container topBar">
            <div class="row py-lg-4 py-3 justify-content-between align-items-center">
                <!-- header左側 -->
                <div class="col-auto d-flex align-items-center headerLeftGroup" v-if="!searchActive">
                    <!-- Logo -->
                    <NuxtLink class="mr-3 logo" to="/">
                        <img src="~/assets/img/Logo.svg" alt=""/>
                    </NuxtLink>
                    <!-- Link Group -->
                    <div class="d-lg-flex d-none linkGroup">
                        <NuxtLink v-for="(link, index) in headerLeftGroup" :key="index + 'headerLeftGroupLink'" class="link" :to="link.link">{{ link.title }}</NuxtLink>
                    </div>
                </div>
                <!-- header右側 -->
                <div class="col-auto d-flex headerRightGroup" :class="[searchActive ? 'flex-fill' : '']">
                    <!-- PC flex-fill為了撐開input -->
                    <div class="d-lg-flex d-none flex-fill pc align-items-center">
                        <!-- Icon群組 -->
                        <div class="iconGroup d-flex flex-fill align-items-center">
                            <!-- Search Icon -->
                            <NuxtLink v-for="(icon, index) in headerRightGroup.icon.default" :key="index + 'headerRightGroupIconDefault'" @click.native="activeSearchBar" class="icon" :to="icon.link" > 
                                <img :src="icon.src" alt=""/>
                            </NuxtLink>
                            <!-- Search Input -->
                            <div class="searchInput d-flex flex-fill" v-if="searchActive">
                                <input ref="searchInput" type="text" class="flex-fill" id="" placeholder="請輸入關鍵字">
                            </div>
                            <!-- Close Icon -->
                            <NuxtLink @click.native="closeSearchBar" v-if="searchActive" class="icon" to="#">
                                <img :src="headerRightGroup.close.src" alt="">
                            </NuxtLink>
                            <!-- 其他Icon -->
                            <div v-if="login && !searchActive">
                                <NuxtLink v-for="(icon, index) in headerRightGroup.icon.login" :key="index + 'headerRightGroupIconLogin'" class="icon" :to="icon.link">
                                    <img :src="icon.src" alt="" />
                                </NuxtLink>
                            </div>
                        </div>

                        <!-- 登入後出現 Profile -->
                        <NuxtLink v-if="login && !searchActive" @click.native="toggleMoblieMenu" class="profile icon" :to="headerRightGroup.profile.link">
                            <img :src="headerRightGroup.profile.src" alt="">
                        </NuxtLink>
                        <!-- 點擊頭像後出現pcMenu -->
                        <div v-if="login && !searchActive && menuActive" class="pcMenu">
                            <NuxtLink v-for="link in menu.link.login[0].subLink" class="pcMenuLink" :key="link.title" :to="link.link">
                                {{ link.title }}
                            </NuxtLink>
                            <div class="c-button c-botton-red pcMenuButton">
                                <NuxtLink @click.native="logoutAccount" to="#">
                                    <p>登出</p>
                                </NuxtLink>
                            </div>
                        </div>
                        
                        <!-- 未登入前出現 登入註冊Link Group -->
                        <div v-if="!login && !searchActive" class="linkGroup d-flex align-items-center ml-3">
                            <NuxtLink v-for="(link, index) in headerRightGroup.link" :key="index + 'headerRightGroupLink'" class="link" :to="link.link">{{ link.title }}</NuxtLink>
                        </div>
                    </div>
                    <!-- Mobile -->
                    <div class="d-lg-none d-flex mobile">
                        <NuxtLink @click.native="toggleMoblieMenu" class="icon" to="#" > 
                            <img src="~/assets/img/icon/gray500/hamburger.svg" alt=""/>
                        </NuxtLink>
                    </div>
                </div>
            </div>
        </div>
        <!-- Menu -->
        <div v-if="menuActive" class="mobileMenu d-lg-none">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 d-flex flex-column h-100">
                        <!-- Search Input -->
                        <div class="c-input inputWithIcon pb-3 searchInput">
                            <input type="text" placeholder="搜尋">
                            <img src="~/assets/img/icon/gray500/search.svg" alt=""/>
                        </div>
                        <!-- Menu -->
                        <div class="linkGroup d-flex flex-column mb-3 flex-fill">
                            <div v-for="(link, index) in menu.link.default" :key="index + 'mobileMenuLinkListDefault'" class="link d-flex flex-column" :to="link.link">
                                <NuxtLink class="mainLink" :to="link.link">
                                    {{ link.title }}
                                </NuxtLink>
                                <div v-if="link.subLink" class="subLink">
                                    <NuxtLink  v-for="subLink in link.subLink" class="subLink" :key="subLink.title" :to="subLink.link">
                                        {{ subLink.title }}
                                    </NuxtLink>
                                </div>
                            </div>
                            <!-- login後才出現的 -->
                            <div v-if="login">
                                <div v-for="(link, index) in menu.link.login" :key="index + 'mobileMenuLinkListLogin'" class="link d-flex flex-column" :to="link.link">
                                    <NuxtLink class="mainLink" :to="link.link">
                                        {{ link.title }}
                                    </NuxtLink>
                                    <div v-if="link.subLink" class="subLinkGroup d-flex flex-column">
                                        <NuxtLink v-for="subLink in link.subLink" class="subLink" :key="subLink.title" :to="subLink.link">
                                            {{ subLink.title }}
                                        </NuxtLink>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ButtonGroup -->
                        <div v-if="login" class="buttonGroup d-flex flex-column">
                            <div class="c-button c-botton-red">
                                <NuxtLink @click.native="logoutAccount" to="#">
                                    <p>登出</p>
                                </NuxtLink>
                            </div>
                        </div>
                        <div v-else class="buttonGroup d-flex flex-column">
                            <div class="c-button c-botton-blue">
                                <NuxtLink to="/account/login">
                                    <p>登入</p>
                                </NuxtLink>
                            </div>
                            <div class="c-button c-botton-outline-blue">
                                <NuxtLink to="/account/register">
                                    <p>註冊</p>
                                </NuxtLink>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
import iconNavBarSearch from '~/assets/img/icon/gray500/navBarSearch.svg'
import iconNavBarCollect from '~/assets/img/icon/gray500/navBarCollect.svg'
import iconNavBarCart from '~/assets/img/icon/gray500/navBarCart.svg'
import iconNavBarProfile from '~/assets/img/icon/gray500/navBarProfile.svg'
import iconClose from '~/assets/img/icon/gray500/close.svg'

export default{
    data() {
        return{
            login: true,
            searchActive: false,
            menuActive: false,
            headerLeftGroup: [
                {
                    title: "首頁",
                    link: "/"
                },
                {
                    title: "品味誌",
                    link: "#"
                },
                {
                    title: "探索",
                    link: "/search"
                },
                {
                    title: "發起專案",
                    link: "#"
                },
            ],
            headerRightGroup:{
                link: [
                    {
                        title: "登入",
                        link: "/account/login",
                    },
                    {
                        title: "註冊",
                        link: "/account/register",
                    },
                ],
                icon: {
                    default:[
                        {
                            src: iconNavBarSearch,
                            link: "#"
                        },
                    ],
                    login:[
                        {
                            src: iconNavBarCollect,
                            link: "#"
                        },
                        {
                            src: iconNavBarCart,
                            link: "#"
                        },
                    ]
                },
                profile:{
                    src: iconNavBarProfile,
                    link: "#",
                },
                close:{
                    src: iconClose,
                    link: "#",
                }
            },
            menu:{
                link:{
                    default:[
                        {
                            title: "首頁",
                            link: "/"
                        },
                        {
                            title: "品味誌",
                            link: "#"
                        },
                        {
                            title: "探索",
                            link: "/search"
                        },
                        {
                            title: "發起專案",
                            link: "#"
                        },
                    ],
                    login:[
                        {
                            title: "會員專區",
                            link: "",
                            subLink:[
                                {
                                    title: "個人頁面",
                                    link: "/user"
                                },
                                {
                                    title: "我的收藏",
                                    link: "#"
                                },
                                {
                                    title: "購物車",
                                    link: "#"
                                },
                                {
                                    title: "交易紀錄",
                                    link: "#"
                                },
                                {
                                    title: "我的提案",
                                    link: "#"
                                },
                                {
                                    title: "編輯個人資料",
                                    link: "#"
                                },
                                {
                                    title: "變更密碼",
                                    link: "#"
                                },
                            ]
                        },
                    ],
                },
                button:{
                    default:[
                        {
                            title: "登入",
                            style: "solid",
                            color: "blue",
                            link: "/account/login",
                            icon: null,
                        },
                        {
                            title: "註冊",
                            style: "outline",
                            color: "blue",
                            link: "/account/register",
                            icon: null,
                        },
                    ]
                }
            }
        }
    },
    methods: {
        activeSearchBar(){
            this.searchActive = true;
            setTimeout(() => {
                this.$refs.searchInput.focus();
            }, 0);
        },
        closeSearchBar(){
            this.searchActive = false;
        },
        toggleMoblieMenu(){
            this.menuActive = !this.menuActive;
        },
        logoutAccount(){
            this.login = false
        },
    },
    mounted(){
        window.onresize = ()=>{
            this.searchActive = false
            this.menuActive = false
        }
    }
}
</script>