<template>
    <div class="p-landingPage">
        <Header class="mb-3"></Header>
        <div class="container mb-3">
            <div class="row mb-3">
                <div class="col-12">
                    <div class="c-title">
                        <h2>{{ projectData.title }}</h2>
                    </div>
                </div>
            </div>
            <div class="row top">
                <div class="col-xl-8 col-12">
                    <div class="landingPageBanner">
                        <img :src="projectData.bannerSrc" alt="">
                    </div>
                </div>
                <div class="col-xl-4 col-12">
                    <div class="landingPageIntroduction">
                        <div class="infomationGroup">
                            <div class="breadCrumbs">
                                <NuxtLink to="/"> 首頁 > 群眾集資 </NuxtLink>
                            </div>
                            <div class="supplier">
                                <img src="~/assets/img/mediaEditor.jpg" alt="">
                                <p>供應商：{{ projectData.supplier }}</p>
                            </div>
                            <div class="accumulationAmount">
                                <div class="title">
                                    <p>累積金額</p>
                                </div>
                                <div class="amount">
                                    <div class="unit">
                                        <p>NT$</p>
                                    </div>
                                    <div class="number">
                                        <p>{{ projectData.price.accumulationAmount | numberFormat }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accumulationSponsor">
                                <div class="title">
                                    <p>累積人數</p>
                                </div>
                                <div class="amount">
                                    <div class="number">
                                        <p>{{ projectData.accumulationSponsor | numberFormat }}</p>
                                    </div>
                                    <div class="unit">
                                        <p>人</p>
                                    </div>
                                </div>
                            </div>
                            <div class="countDown">
                                <div class="title">
                                    <p>募資倒數</p>
                                </div>
                                <div class="amount" v-html="getCountDown"></div>
                            </div>
                            <div class="barData">
                                <div class="barContainer">
                                    <div class="percentage">
                                        <p class="a-font size-075 weight-bold color-white">{{ getPercentage }} % </p>
                                    </div>
                                    <div class="bar" :style="{ 'width': (getPercentage >= 100 ? 100 + '%' : getPercentage + '%') }"></div>
                                </div>
                            </div>
                            <div class="goalPrice">
                                <div class="title">
                                    <p>目標金額</p>
                                </div>
                                <div class="data">
                                    <p>NT$ {{ projectData.price.goalAmount | numberFormat }}</p>
                                </div>
                            </div>
                            <div class="startingDate">
                                <div class="title">
                                    <p>專案開始時間</p>
                                </div>
                                <div class="data">
                                    <p>{{ formatMillisecondsToDateTime(projectData.date.startingDate) }}</p>
                                </div>
                            </div>
                            <div class="expirationDate">
                                <div class="title">
                                    <p>專案結束時間</p>
                                </div>
                                <div class="data">
                                    <p>{{ formatMillisecondsToDateTime(projectData.date.expirationDate) }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="buttonGroup">
                            <div class="c-button c-botton-outline-blue">
                                <NuxtLink to="/">
                                    <img src="~/assets/img/icon/share.svg" alt="">
                                    <p>分享專案</p>
                                </NuxtLink>
                            </div>
                            <div class="c-button c-botton-outline-blue">
                                <NuxtLink to="/">
                                    <img src="~/assets/img/icon/favorite.svg" alt="">
                                    <p>收藏專案</p>
                                </NuxtLink>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <LandingPageNavBar class="landingPageNavBar"></LandingPageNavBar>
        <div class="container bottom">
            <div class="row">
                <div class="col-lg-8 col-12 left">
                    <div class="landingPageContent" :class="{show: landingPageShow }">
                        <div class="contentGroup">
                            <img v-for="lp in LP" :src="lp" :key="lp + 'landingPage'" style="width: 100%;" alt="">
                        </div>
                        <div class="showButton">
                            <div class="c-button c-botton-outline-blue">
                                <NuxtLink @click.native="showLandingPage" to="">
                                    <p>顯示更多</p>
                                    <img src="~/assets/img/icon/arrowDown.svg" alt="">
                                </NuxtLink>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12 right">
                    <div class="cardGroup">
                        <div class="supplierCard">
                            <div class="infomationGroup">
                                <div class="profileImg">
                                    <img :src="supplierData.profileImg" alt="">
                                </div>
                                <div class="supplierName">
                                    <p>供應商:{{ supplierData.name }}</p>
                                </div>
                                <div class="discription" :class="{ show: supplierDiscriptionShow }">
                                    <p>{{ supplierData.discription }}</p>
                                    <div class="showButton">
                                        <NuxtLink to="" @click.native="showSupplierDiscription">
                                            <p>顯示更多</p>
                                            <img src="~/assets/img/icon/arrowDown.svg" alt="">
                                        </NuxtLink>
                                    </div>
                                </div>
                                <div class="buttonGroup">
                                    <div class="c-button c-botton-outline-blue">
                                        <NuxtLink to="/">
                                            <img src="~/assets/img/icon/eye.svg" alt="">
                                            <p>查看團隊</p>
                                        </NuxtLink>
                                    </div>
                                    <div class="c-button c-botton-outline-blue">
                                        <NuxtLink to="/">
                                            <img src="~/assets/img/icon/chat.svg" alt="">
                                            <p>聯絡團隊</p>
                                        </NuxtLink>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <LandingPageProjectCard></LandingPageProjectCard>
                        <LandingPageProjectCard></LandingPageProjectCard>
                        <LandingPageProjectCard></LandingPageProjectCard>
                        <LandingPageProjectCard></LandingPageProjectCard>
                        <LandingPageProjectCard></LandingPageProjectCard>
                    </div>
                </div>
            </div>
        </div>
        <LandingPageBottomBar class="d-lg-none"></LandingPageBottomBar>
        <Footer class="footerMobileMargin"></Footer>
    </div>
</template>

<script>
import LP1 from '~/assets/img/LP/LP1.webp';
import LP2 from '~/assets/img/LP/LP2.webp';
import LP3 from '~/assets/img/LP/LP3.webp';
import LP4 from '~/assets/img/LP/LP4.webp';
import LP5 from '~/assets/img/LP/LP5.webp';
import LP6 from '~/assets/img/LP/LP6.webp';
import LP7 from '~/assets/img/LP/LP7.webp';
import LP8 from '~/assets/img/LP/LP8.webp';
import LP9 from '~/assets/img/LP/LP9.webp';
import LP10 from '~/assets/img/LP/LP10.webp';
import LP11 from '~/assets/img/LP/LP11.webp';
import LP12 from '~/assets/img/LP/LP12.webp';
import LP13 from '~/assets/img/LP/LP13.webp';
import LP14 from '~/assets/img/LP/LP14.webp';
import LP15 from '~/assets/img/LP/LP15.webp';
import LP16 from '~/assets/img/LP/LP16.webp';

import banner1 from '~/assets/img/crowdfunding/banner1.jpg';

import supplierProfileImg from '~/assets/img/mediaEditor.jpg';

export default {
    data() {
        return {
            projectStatus: "",
            supplierDiscriptionShow: false,
            landingPageShow: false,
            LP:[
                LP1,
                LP2,
                LP3,
                LP4,
                LP5,
                LP6,
                LP7,
                LP8,
                LP9,
                LP10,
                LP11,
                LP12,
                LP13,
                LP14,
                LP15,
                LP16,
            ],
            supplierData:{
                profileImg: supplierProfileImg,
                name: "貓貓小胖",
                discription: "SHARP 好洗翻｜夏普空氣除菌滾筒洗衣機，讓洗衣不只是洗衣！抑菌Ｘ除臭Ｘ抗敏Ｘ護理Ｘ防皺，所有衣物，為你完美呵護。搭載銷售破億台自動除菌離子專利技術，加上獨家 Dry AirWash 空氣除菌乾洗模式，更有18m/s颱風等級風速，讓衣服勁風烘乾！衣服加倍潔淨了，更爲自己和家人保留更多心力！你的洗衣日常，從此變得好～洗～翻～SHARP 好洗翻｜夏普空氣除菌滾筒洗衣機，讓洗衣不只是洗衣！抑菌Ｘ除臭Ｘ抗敏Ｘ護理Ｘ防皺，所有衣物，為你完美呵護。搭載銷售破億台自動除菌離子專利技術，加上獨家 Dry AirWash 空氣除菌乾洗模式，更有18m/s颱風等級風速，讓衣服勁風烘乾！衣服加倍潔淨了，更爲自己和家人保留更多心力！你的洗衣日常，從此變得好～洗～翻～",
            },
            projectData: {
                slug: "indexCrowdfundingData01",
                type: "subscription",
                bannerSrc: banner1,
                supplier: "NWT 威技",
                title: "「地表最強」高性價比｜NWT威技一級能效6L超級除濕機(WDH-06EF)",
                price: {
                    accumulationAmount: 550000,
                    goalAmount: 50000,
                },
                date: {
                    startingDate: new Date(2023, 9, 10, 0, 0).getTime(),
                    expirationDate: new Date(2023, 11, 30, 0, 0).getTime(),
                },
                accumulationSponsor: 1000000,
                projectCard:[
                    {}
                ]
            },
            return: ""
        }
    },
    computed:{
        getPercentage() {
            let percentage;
            percentage = Math.round(this.projectData.price.accumulationAmount / this.projectData.price.goalAmount * 100);
            return percentage;
        },
        getStartNow() {
            return Date.now() - this.projectData.date.startingDate
        },
        getExpirationNow() {
            return Date.now() - this.projectData.date.expirationDate
        },
        getCountDown() {
            let DHMS;
            if (this.getStartNow < 0) {
                DHMS = this.convertMilliseconds(-this.getStartNow)
            } else if (this.getExpirationNow < 0 && this.getStartNow > 0) {
                DHMS = this.convertMilliseconds(-this.getExpirationNow)
            }
            return `<div class="number"><p>${DHMS[0]}</p></div><div class="unit"><p>天</p></div><div class="number"><p>${DHMS[1]}</p></div><div class="unit"><p>時</p></div><div class="number"><p>${DHMS[2]}</p></div><div class="unit"><p>分</p></div><div class="number"><p>${DHMS[3]}</p></div><div class="unit"><p>秒</p></div>`
        },
        returnProjectStatus() {
            if (this.projectData.type == "crowdfunding" || this.projectData.type == "subscription" || this.projectData.type == "longTerm") {
                if (this.getStartNow < 0) {
                    this.projectStatus = "commingSoon";
                    return "commingSoon";
                } else if (this.getExpirationNow < 0 && this.getStartNow > 0) {
                    this.projectStatus = "progressing";
                    return "progressing";
                } else {
                    this.projectStatus = "finished";
                    return "finished"
                }
            }
            return 0;
        },
    },
    methods:{
        showSupplierDiscription(){
            this.supplierDiscriptionShow = true;
        },
        showLandingPage() {
            this.landingPageShow = true;
        },
        convertMilliseconds(milliseconds) {
            // 计算总共有多少秒
            var totalSeconds = Math.floor(milliseconds / 1000);
            var days = Math.floor(totalSeconds / 3600 / 24)
            // 计算有多少小时
            var hours = Math.floor(totalSeconds / 3600 % 24);
            // 剩余的秒数
            var secondsLeft = totalSeconds % 3600;
            // 计算分钟数
            var minutes = Math.floor(secondsLeft / 60);
            // 剩余的秒数
            var seconds = secondsLeft % 60;
            var DHMS = [days, hours, minutes, seconds]
            return DHMS
        },
        formatMillisecondsToDateTime(milliseconds) {
            const date = new Date(milliseconds);
            const year = date.getFullYear();
            const month = (date.getMonth() + 1).toString().padStart(2, '0'); // 月份从0开始，需要加1
            const day = date.getDate().toString().padStart(2, '0');
            const hours = date.getHours().toString().padStart(2, '0');
            const minutes = date.getMinutes().toString().padStart(2, '0');

            const formattedDateTime = `${year}/${month}/${day} ${hours}:${minutes}`;
            return formattedDateTime;
        }
    }
}

</script>