<template>
    <div class="indexAboutUs">
      <div class="container">
        <div class="row aboutUsTitle">
          <div class="col-12">
            <div class="c-title text-center">
              <h2>在MYFEEL一切都有可能！</h2>
            </div>
          </div>
        </div>
        <div class="row aboutUsData">
          <div class="col-12 col-md-4 accumulationProject">
            <div class="accumulationNumber">
              <h2>
                100,000
              </h2>
            </div>
            <div class="accumulationTitle">
              <p>累積專案</p>
            </div>
          </div>
          <div class="col-12 col-md-4 accumulationAmount my-3 my-md-0">
            <div class="accumulationNumber">
              <h2>
                136,995,903,000
              </h2>
            </div>
            <div class="accumulationTitle">
              <p>累積金額</p>
            </div>
          </div>
          <div class="col-12 col-md-4 accumulationSponsor">
            <div class="accumulationNumber">
              <h2>
                40,039,000
              </h2>
            </div>
            <div class="accumulationTitle">
              <p>累積贊助人數</p>
            </div>
          </div>
        </div>
        <div class="row aboutUsDiscription">
          <div class="col-12 col-md-6">
            <p>MYFEEL 亞洲跨國集資平台，相信所有好想法、好點子都有實現的可能，我們協助各專案被世界看見，更整合所有你想得到的、想不到的跨國多元提案！</p>
          </div>
        </div>
      </div>
    </div>
</template>
