<template>
    <div class="indexCrowdfunding">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="c-title text-center">
              <h2>群眾集資</h2>
            </div>
          </div>
        </div>
        <div class="row cardGroup">
          <div v-for="(cardData,index) in crowdfundingData" :key="'indexCrowdfunding' + index" class="col-12 col-sm-6 col-lg-4">
            <Card :cardData="cardData"></Card>
          </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <div class="c-linkButton">
                    <NuxtLink to="/">
                        <p>更多群眾集資</p>
                        <img src="~/assets/img/icon/arrowRight.svg" alt="">
                    </NuxtLink>
                </div>
            </div>
        </div>
      </div>
    </div>
</template>

<script>
export default {
  props: [
    'crowdfundingData'
  ]
}
</script>