<template>
    <div class="indexCarousel">
        <VueSlickCarousel v-bind="slickOptions">
            <NuxtLink v-for="(data,index) in carouselData" :key="'indexCarousel'+index" class="indexBanner" to="/">
                <div class="imgBox">
                    <img :src="data.bannerSrc" alt="">
                </div>
                <div class="indexBannerData">
                    <div class="row">
                        <div class="leftData d-md-flex d-none col-6">
                            <div class="supplier">
                                <p>
                                    發起人：{{ data.supplier }}
                                </p>
                            </div>
                            <div class="title">
                                <p>
                                    {{ data.title }}
                                </p>
                            </div>
                        </div>
                        <div class="rightData col-12 col-md-6">
                            <div class="topData">
                                <div class="accumulationAmount">
                                    <p>
                                        NT {{data.price.accumulationAmount | numberFormat }}
                                    </p>
                                </div>
                                <div class="countDown">
                                    <p>
                                        倒數{{data.countDown}}天
                                    </p>
                                </div>
                            </div>
                            <div class="dataBar">
                                
                            </div>
                            <div class="bottomData">
                                <div class="accumulationSponsor">
                                    <p>累積 {{data.accumulationSponsor | numberFormat }} 人支持</p>
                                </div>
                                <div class="accumulationPercentage">
                                    <p>{{ getPercentage(data) | numberFormat }}%</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </NuxtLink>
        </VueSlickCarousel>
    </div>
</template>

<script>
import VueSlickCarousel from 'vue-slick-carousel'
export default {
    components: {
        VueSlickCarousel,
    },
    props:[
        'carouselData'
    ],
    data() {
        return {
            slickOptions: {
                "centerMode": true,
                "dots": true,
                "infinite": true,
                "speed": 500,
                "slidesToShow": 1,
                "slidesToScroll": 1,
                "variableWidth": true,
                "adaptiveHeight": true,
                "focusOnSelect": true,
                "autoplay": true,
                "autoplaySpeed": 5000,
            },
        }
    },
    computed: {
        getStartNow() {
            return Date.now() - this.cardData.date.startingDate
        },
        getExpirationNow() {
            return Date.now() - this.cardData.date.expirationDate
        },
        getCountDown() {
            if (this.getStartNow < 0) {
                let DHMS = this.convertMilliseconds(-this.getStartNow)
                return "倒數 " + DHMS[0] + " 天 " + DHMS[1] + " 時 " + DHMS[2] + " 分 " + DHMS[3] + " 秒"
            } else if (this.getExpirationNow < 0 && this.getStartNow > 0) {
                let DHMS = this.convertMilliseconds(-this.getExpirationNow)
                if (DHMS[0] > 1) {
                    return "倒數 " + DHMS[0] + " 天"
                } else {
                    return "倒數 " + DHMS[1] + " 時 " + DHMS[2] + " 分 " + DHMS[3] + " 秒"
                }
            } else {
                if (this.getPercentage >= 100) {
                    return "募資成功"
                } else {
                    return "已結束"
                }
            }
        },
        returnProjectStatus() {
            if (this.cardData.type == "crowdfunding" || this.cardData.type == "subscription" || this.cardData.type == "longTerm") {
                if (this.getStartNow < 0) {
                    this.projectStatus = "commingSoon";
                    return "commingSoon";
                } else if (this.getExpirationNow < 0 && this.getStartNow > 0) {
                    this.projectStatus = "progressing";
                    return "progressing";
                } else {
                    this.projectStatus = "finished";
                    return "finished"
                }
            }
            return 0;
        }
    },
    methods:{
        getPercentage(project) {
            var percentage;
            percentage = Math.round(project.price.accumulationAmount / project.price.goalAmount * 100);
            return percentage;
        },
    }
}
</script>