<template>
    <div class="indexRankingList">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="c-title text-center">
              <h2 class="a-font color-white">熱門專案</h2>
            </div>
          </div>
        </div>
        <div class="row cardGroup">
          <div v-for="(cardData, index) in rankingListData" class="col-12 col-sm-6 col-lg-4">
              <div class="rankTitle">
                <p>
                  No.{{ index+1 }}
                </p>
              </div>
              <Card :cardData="cardData"></Card>
          </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <div class="c-linkButton whiteLink">
                    <NuxtLink to="/">
                        <p>更多熱門專案</p>
                        <img src="~/assets/img/icon/arrowRight.svg" alt="">
                    </NuxtLink>
                </div>
            </div>
        </div>
      </div>
    </div>
</template>

<script>
export default {
  props: [
    'rankingListData'
  ]
}
</script>
