<template>
    <div class="indexPartners">
        <div class="container-fuild">
            <div class="row">
                <div class="col-12">
                    <div class="c-title text-center">
                        <h2>合作夥伴</h2>
                    </div>
                </div>
            </div>
            <VueSlickCarousel class="row carousel" v-bind="slickOptions">
                <NuxtLink v-for="(partnerData,index) in partnersData" class="col logo" :key="'partnerLogo'+index" :to="partnerData.link">
                    <img :src="partnerData.imgSrc" alt="">
                </NuxtLink>
            </VueSlickCarousel>
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <div class="c-linkButton">
                        <NuxtLink to="/">
                            <p>更多合作夥伴</p>
                            <img src="~/assets/img/icon/arrowRight.svg" alt="">
                        </NuxtLink>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import VueSlickCarousel from 'vue-slick-carousel'
export default {
    components: {
        VueSlickCarousel,
    },
    props: [
        'partnersData'
    ],
    data() {
        return {
            slickOptions: {
                speed: 5000,
                autoplay: true,
                autoplaySpeed: 0,
                centerMode: true,
                cssEase: 'linear',
                slidesToShow: 1,
                slidesToScroll: 1,
                variableWidth: true,
                infinite: true,
                initialSlide: 1,
                arrows: false,
                buttons: false
            },
        }
    },
}
</script>