<template>
    <div class="indexMedia">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex justify-content-center mediaLogo">
                    <img src="~/assets/img/mediaLogo.svg" alt="">
                </div>
            </div>
            <VueSlickCarousel class="row carousel" v-bind="slickOptions">
                <div v-for="(cardData,index) in mediaData" :key="'mediaCard' + index" class="col">
                    <Card :cardData="cardData"></Card>
                </div>
            </VueSlickCarousel>
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <div class="c-linkButton">
                        <NuxtLink to="/">
                            <p>更多品味誌</p>
                            <img src="~/assets/img/icon/arrowRight.svg" alt="">
                        </NuxtLink>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import VueSlickCarousel from 'vue-slick-carousel'
export default {
    components: {
        VueSlickCarousel,
    },
    props: [
        'mediaData'
    ],
    data() {
        return {
            slickOptions: {
                slidesToShow: 3,
                slidesToScroll: 1,
                responsive: [
                    {
                        breakpoint: 992, settings: {
                            slidesToShow: 2,
                        }
                    },
                    {
                        breakpoint: 576, settings: {
                            slidesToShow: 1,
                        }
                    },
                ],
            },
        }
    },
}
</script>