<template>
    <div class="indexContactUs">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-12 d-flex flex-column justify-content-center mb-lg-0 mb-4">
            <div class="text-center mb-4">
              <p class="a-font weight-bold size-150">加入MYFEEL官方LINE or EDM<br>將可以獲得商品最新消息以及專屬優惠哦！</p>
            </div>
            <div class="buttonGroup">
              <div class="c-button c-botton-green">
                  <NuxtLink to="/">
                      <p>加入LINE</p>
                  </NuxtLink>
              </div>
              <div class="c-button c-botton-blue">
                  <NuxtLink to="/">
                      <p>訂閱電子報</p>
                  </NuxtLink>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-12 d-flex justify-content-center contactUsBanner">
            <img src="~/assets/img/index/indexContactUs.png" alt="">
          </div>
        </div>
      </div>
    </div>
</template>