<template>
    <div class="indexClassic">
        <div class="container">
            <div class="row">
                <div class="col-12">
                <div class="c-title text-center">
                    <h2>經典專案</h2>
                </div>
                </div>
            </div>
            <VueSlickCarousel class="row carousel" v-bind="slickOptions">
                <div v-for="cardData in classicData" class="col">
                    <Card :cardData="cardData"></Card>
                </div>
            </VueSlickCarousel>
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <div class="c-linkButton">
                        <NuxtLink to="/">
                            <p>更多經典專案</p>
                            <img src="~/assets/img/icon/arrowRight.svg" alt="">
                        </NuxtLink>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</template>

<script>
import VueSlickCarousel from 'vue-slick-carousel'
export default {
    components: {
        VueSlickCarousel,
    },
    props:[
        'classicData'
    ],
    data() {
        return {
            slickOptions: {
                slidesToShow: 3,
                slidesToScroll: 1,
                responsive: [
                    {
                        breakpoint: 992, settings: {
                            slidesToShow: 2,
                        }
                    },
                    {
                        breakpoint: 576, settings: {
                            slidesToShow: 1,
                        }
                    },
                ],
            },
        }
    },
}
</script>