.l-footer{
    background-color: $gray500;
    padding: 4rem 0;
    .container{
        margin: -2rem auto;
        &>* {
            margin: 2rem auto;
        }
        @include max-md{
            margin: -4rem auto;
            &>* {
                margin: 4rem auto;
            }
        }
        .top{
            margin-right: -15px;
            margin-left: -15px;
        }
        .center{
            margin: -1rem -15px;
            @include max-md{
                margin: -2rem auto;
            }
            .linkGroup{
                display: flex;
                flex-direction: column;
                margin: 1rem auto;
                @include max-md{
                    align-items: center;
                    margin: 2rem auto;
                }
                .footerLinkButton {
                    display: flex;
                    flex-direction: column;
                    margin: -0.5rem 0;
                    @include max-md {
                        align-items: center;
                    }
                    &>* {
                        margin: 0.5rem 0;
                    }
                }
            }
        }
        .bottom{
            display: flex;
            flex-direction: column;
            margin-right: -15px;
            margin-left: -15px;
            .linkGroup{
                display: flex;
                justify-content: center;
                margin-bottom: 2rem;
                &>* {
                    margin: auto 1rem;
                }
                .linkButton{
                    img{
                        width: 2rem;
                    }
                }
                &::after {
                    position: absolute;
                    content: "";
                    width: 100vw;
                    border: 1px solid white;
                    height: 1px;
                    top: 3rem;
                }
            }
            
        }
    }
}