.l-header{
    .topBar{
        position: relative;
        &::after {
            content: '';
            border: 0.5px solid $gray300;
            width: 200vw;
            display: block;
            position: absolute;
            padding: 0;
            left: -100vw;
            top: 79px;
            @include max-lg {
                top: 63px;
            }
        }
        .headerLeftGroup{
            .logo{
                img{
                    width: 180px;
                    @include max-lg {
                        width: 150px;
                    }
                }
                &::after {
                    content: '';
                    border: .5px solid $gray300;
                    border-radius: 50%;
                    height: 22px;
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 1rem;
                    @include max-lg {
                        display: none;
                    }
                }
            }
            .linkGroup{
                margin: 0 -0.5rem 0 -0.5rem;
                .link {
                    color: $myfeelMajor;
                    font-weight: bold;
                    margin: 0 .5rem 0 .5rem;
                }
            }
        }
        .headerRightGroup{
            .icon {
                img {
                    width: 2rem;
                }
            }
            .pc{
                .iconGroup{
                    margin: 0 -0.5rem 0 -0.5rem;
                    a{
                        margin: 0 .5rem 0 .5rem;
                    }
                }
                .searchInput{
                    input{
                        border: 0;
                        outline: none;
                    }
                }
                .profile{
                    margin-left: 1.5rem;
                }
                .linkGroup {
                    height: 22px;
                    .link {
                        color: $myfeelMajor;
                        font-weight: bold;
                        &:first-child{
                            &::after {
                                content: '';
                                border: .5px solid $gray300;
                                border-radius: 50%;
                                display: inline-block;
                                vertical-align: middle;
                                height: 22px;
                                margin: 0px .5rem 1px .5rem;
                            }
                        }
                    }
                }
                .pcMenu {
                    box-shadow: $dropShadow;
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    z-index: 10000;
                    overflow: hidden;
                    right: -40px;
                    top: calc(2rem + 1rem);
                    background-color: white;
                    border-radius: 1rem 0 1rem 0;
                    .pcMenuLink{
                        padding: 1rem 2rem;
                        color: $gray500;
                        border-bottom: 1px solid $gray300;
                        &:hover{
                            background-color: $gray100;
                        }
                    }
                    .pcMenuButton{
                        padding: 1rem;
                    }
                }
            }
        }
    }
    .mobileMenu{
        padding: 1rem 0;
        position: absolute;
        background-color: white;
        left: 0;
        bottom: 0;
        width: 100vw;
        height: calc(100vh - 64px);
        overflow: scroll;
        z-index: 10000;
        .searchInput{
            border-bottom: 1px solid $gray300;
        }
        .linkGroup{
            overflow: scroll;
            .link{
                padding: 1rem 0;
                border-bottom: 1px solid $gray300;
                .mainLink{
                    font-weight: bold;
                    color: $myfeelMajor;
                }
                .subLink{
                    font-weight: normal;
                    color: $gray500;
                    padding: 0.5rem 0;
                    &:first-child{
                        padding-top: 1rem;
                    }
                }
            }
        }
        .buttonGroup{
            margin: -0.5rem 0;
            div{
                margin: 0.5rem 0;
            }
        }
    }
}