<template>
    <div class="p-user">
        <Header></Header>
        <div class="container">
            <div class="userContent">
                <div class="row">
                    <div class="col-12 titleGroup">
                        <div class="c-title text-center">
                            <h2>會員中心</h2>
                        </div>
                    </div>
                </div>
                <UserNavBar :navBarActive="navBarActive" class="mb-5"></UserNavBar>
                <div class="row">
                    <div class="col-12">
                        <p class="a-font size-150 weight-bold color-gray900">變更密碼</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 formGroup">
                        <div v-for="data in inputData">
                            <p class="a-font color-gray900 weight-bold mb-2" v-text="data.title"></p>
                            <div class="inputGroup">
                                <div v-for="form in data.form" class="w-100">
                                    <div v-if="data.type == 'dropdown'">
                                        <DropDown :dropDownData="form"></DropDown>
                                    </div>
                                    <div v-else-if="data.type == 'input'" class="c-input">
                                        <input :type="form.inputType" :placeholder="form.placeholder">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 buttonGroup">
                        <div class="c-button c-botton-blue">
                            <NuxtLink to="/account/changepassword">
                                <p>重新設定密碼</p>
                            </NuxtLink>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <Footer></Footer>
    </div>
</template>

<script>
export default {
    data() {
        return {
            navBarActive: "變更密碼",
            inputData: [
                {
                    title: "目前密碼",
                    type: "input",
                    form: [
                        {
                            placeholder: "請輸入目前密碼",
                            inputType: "password",
                        }
                    ],
                },
                {
                    title: "設定新密碼",
                    type: "input",
                    form: [
                        {
                            placeholder: "請輸入新密碼（至少8個字元）",
                            inputType: "password",
                        }
                    ],
                },
                {
                    title: "確認新密碼",
                    type: "input",
                    form: [
                        {
                            placeholder: "再次輸入新密碼",
                            inputType: "password",
                        }
                    ],
                },
            ]
        }
    },
}
</script>