<template>
    <div class="p-user">
        <Header></Header>
        <div class="container">
            <div class="userContent">
                <div class="row">
                    <div class="col-12 titleGroup">
                        <div class="c-title text-center">
                            <h2>會員中心</h2>
                        </div>
                    </div>
                </div>
                <UserNavBar class="mb-5" :navBarActive="navBarActive"></UserNavBar>
                <div class="row">
                    <div class="col-12 profile d-flex align-items-center">
                        <div class="photo">
                            <img :src="profileData.photoImg" alt="">
                        </div>
                        <div class="name">
                            <p class="a-font weight-bold color-gray900 size-150" v-text="profileData.name"></p>
                        </div>
                        <div class="c-button c-botton-yellow editButton">
                            <NuxtLink to="/account/editProfile">
                                <img src="~/assets/img/icon/edit.svg" alt="">
                                <p>編輯個人資料</p>
                            </NuxtLink>
                        </div>
                    </div>
                </div>
                <div class="row c-userTab align-items-center">
                    <div class="col-12">
                        <div class="buttonGroup">
                            <div class="c-navBarButton" :class="{ active: tabActive == '1' }">
                                <NuxtLink to="#">
                                    <p class="d-none d-md-block">發起的專案</br><span class="a-font weight-bold color-blue size-150 mr-1"> {{ tabData[0] | numberFormat }}</span>件</p>
                                    <p class="d-md-none d-block px-0">發起的</br>專案</br><span class="a-font weight-bold color-blue size-150 mr-1"> {{ tabData[0] | numberFormat }}</span>件</p>
                                </NuxtLink>
                            </div>
                            <div class="c-navBarButton" :class="{ active: tabActive == '2' }">
                                <NuxtLink to="#">
                                    <p class="d-none d-md-block">支持的專案</br><span class="a-font weight-bold color-blue size-150 mr-1">{{ tabData[1] | numberFormat }}</span>件</p>
                                    <p class="d-md-none d-block px-0">支持的</br>專案</br><span class="a-font weight-bold color-blue size-150 mr-1">{{ tabData[1] | numberFormat }}</span>件</p>
                                </NuxtLink>
                            </div>
                            <div class="c-navBarButton">
                                <NuxtLink to="#">
                                    <p class="d-none d-md-block">加入MYFEEL已</br><span class="a-font weight-bold color-blue size-150 mr-1">{{ tabData[2] | numberFormat }}</span>天</p>
                                    <p class="d-md-none d-block px-0">加入</br>MYFEEL已</br><span class="a-font weight-bold color-blue size-150 mr-1">{{ tabData[2] | numberFormat }}</span>天</p>
                                </NuxtLink>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div v-for="(cardData, index) in launchProjectData" :key="'launchProjectData' + index" class="col-12 col-sm-6 col-lg-4">
                        <Card :cardData="cardData"></Card>
                    </div>
                </div>
            </div>
        </div>
        <Footer></Footer>
    </div>
</template>

<script>
import banner1 from '~/assets/img/crowdfunding/banner1.jpg';
import banner2 from '~/assets/img/crowdfunding/banner2.jpg';
import banner3 from '~/assets/img/crowdfunding/banner3.jpg';
import banner4 from '~/assets/img/crowdfunding/banner4.jpg';
import banner5 from '~/assets/img/crowdfunding/banner5.jpg';
import banner6 from '~/assets/img/crowdfunding/banner6.jpg';

import profile from '~/assets/img/mediaEditor.jpg';
export default {
    data(){
        return{
            navBarActive: "我的頁面",
            profileData:{
                photoImg: profile,
                name: "Meow Meow Fatty"
            },
            tabData: [
                100,
                100,
                1000,
            ],
            tabActive: "1",
            launchProjectData: [
                {
                    slug: "indexCrowdfundingData01",
                    type: "subscription",
                    bannerSrc: banner1,
                    supplier: "NWT 威技",
                    title: "「地表最強」高性價比｜NWT威技一級能效6L超級除濕機(WDH-06EF)",
                    price: {
                        accumulationAmount: 550000,
                        goalAmount: 50000,
                    },
                    date: {
                        startingDate: new Date(2023, 9, 10, 0, 0).getTime(),
                        expirationDate: new Date(2023, 11, 30, 0, 0).getTime(),
                    },
                    accumulationSponsor: 1000000,
                },
                {
                    slug: "indexCrowdfundingData02",
                    type: "crowdfunding",
                    bannerSrc: banner2,
                    supplier: "HEALTHPIT",
                    title: "HEALTHPIT 御用椅｜ 極致按壓，還原日式講究",
                    price: {
                        accumulationAmount: 6500,
                        goalAmount: 50000,
                    },
                    date: {
                        startingDate: new Date(2023, 9, 10, 0, 0).getTime(),
                        expirationDate: new Date(2023, 11, 17, 0, 0).getTime(),
                    },
                    accumulationSponsor: 1000000,
                },
                {
                    slug: "indexCrowdfundingData03",
                    type: "longTerm",
                    bannerSrc: banner3,
                    supplier: "SHARP",
                    title: "好洗翻｜夏普空氣除菌滾筒洗衣機",
                    price: {
                        accumulationAmount: 45000,
                        goalAmount: 50000,
                    },
                    date: {
                        startingDate: new Date(2023, 9, 10, 0, 0).getTime(),
                        expirationDate: new Date(2023, 10, 26, 0, 0).getTime(),
                    },
                    accumulationSponsor: 1000000,
                },
                {
                    slug: "indexCrowdfundingData04",
                    type: "longTerm",
                    bannerSrc: banner4,
                    supplier: "Philips 飛利浦",
                    title: "白小奈｜奈米級空氣清淨機(AC1715/80)",
                    price: {
                        accumulationAmount: 120000,
                        goalAmount: 50000,
                    },
                    date: {
                        startingDate: new Date(2023, 9, 10, 0, 0).getTime(),
                        expirationDate: new Date(2023, 10, 30, 0, 0).getTime(),
                    },
                    accumulationSponsor: 1000000,
                },
                {
                    slug: "indexCrowdfundingData05",
                    type: "crowdfunding",
                    bannerSrc: banner5,
                    supplier: "NICONICO",
                    title: "小食曆｜掀蓋式火烤兩用爐",
                    price: {
                        accumulationAmount: 750300,
                        goalAmount: 50000,
                    },
                    date: {
                        startingDate: new Date(2023, 9, 10, 0, 0).getTime(),
                        expirationDate: new Date(2023, 10, 17, 0, 0).getTime(),
                    },
                    accumulationSponsor: 1000000,
                },
                {
                    slug: "indexCrowdfundingData06",
                    type: "crowdfunding",
                    bannerSrc: banner6,
                    supplier: "Vofami",
                    title: "梳梳服服 | Vofami 寵物美容乾洗梳",
                    price: {
                        accumulationAmount: 30000,
                        goalAmount: 50000,
                    },
                    date: {
                        startingDate: new Date(2023, 9, 10, 0, 0).getTime(),
                        expirationDate: new Date(2023, 11, 17, 0, 0).getTime(),
                    },
                    accumulationSponsor: 1000000,
                },
            ],
        }
    }
}
</script>