/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
@import url("https://fonts.cdnfonts.com/css/noto-sans");
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
}
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.a-font.color-blue {
  color: #193563;
}
.a-font.color-red {
  color: #FBC100;
}
.a-font.color-green {
  color: #40D1A1;
}
.a-font.color-lightBlue {
  color: #83CFF7;
}
.a-font.color-red {
  color: #FF7A4D;
}
.a-font.color-white {
  color: white;
}
.a-font.color-gray500 {
  color: #9E9E9E;
}
.a-font.color-gray900 {
  color: #212121;
}
.a-font.weight-bold {
  font-weight: bold;
}
.a-font.weight-normal {
  font-weight: normal;
}
.a-font.size-025 {
  font-size: 0.25rem;
}
.a-font.size-050 {
  font-size: 0.5rem;
}
.a-font.size-075 {
  font-size: 0.75rem;
}
.a-font.size-100 {
  font-size: 1rem;
}
.a-font.size-125 {
  font-size: 1.25rem;
}
.a-font.size-150 {
  font-size: 1.5rem;
}
.a-font.size-175 {
  font-size: 1.75rem;
}
.a-font.size-200 {
  font-size: 2rem;
}
.a-font.size-225 {
  font-size: 2.25rem;
}
.a-font.size-250 {
  font-size: 2.5rem;
}
.a-font.size-275 {
  font-size: 2.75rem;
}
.a-font.size-300 {
  font-size: 3rem;
}
.a-font.size-325 {
  font-size: 3.25rem;
}
.a-font.size-350 {
  font-size: 3.5rem;
}
.a-font.size-375 {
  font-size: 3.75rem;
}
.a-font.size-400 {
  font-size: 4rem;
}
.a-font.size-425 {
  font-size: 4.25rem;
}
.a-font.size-450 {
  font-size: 4.5rem;
}
.a-font.size-475 {
  font-size: 4.75rem;
}
.a-font.size-500 {
  font-size: 5rem;
}
.a-font.size-525 {
  font-size: 5.25rem;
}
.a-font.size-550 {
  font-size: 5.5rem;
}
.a-font.size-575 {
  font-size: 5.75rem;
}

.c-input input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem 0 0.5rem 0;
  outline: 2px solid #9E9E9E;
  outline-offset: -2px;
  border: 0;
  color: #212121;
  display: flex;
  font-size: 1rem;
  line-height: 1.5rem;
}
.c-input input:hover, .c-input input:focus {
  outline: 2px solid #193563;
}
.c-input input:hover + img, .c-input input:focus + img {
  filter: brightness(0) saturate(100%) invert(19%) sepia(21%) saturate(1744%) hue-rotate(177deg) brightness(100%) contrast(98%);
}
.c-input input::-moz-placeholder {
  color: #9E9E9E;
}
.c-input input::placeholder {
  color: #9E9E9E;
}
.c-input.inputWithIcon input {
  padding-right: 2.25rem;
}
.c-input.inputWithIcon img {
  position: absolute;
  width: 1.5rem;
  top: 8px;
  right: calc(15px + 0.5rem);
}

.c-button {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.c-button.widthFitContent {
  width: -moz-fit-content;
  width: fit-content;
}
.c-button a, .c-button div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 0.5rem 0 0.5rem 0;
  border: 0;
}
.c-button a p, .c-button div p {
  margin: 0 2px;
}
.c-button a img, .c-button div img {
  margin: 0 2px;
  width: 1.5rem;
}
.c-button.c-botton-blue a, .c-button.c-botton-blue div {
  background-color: #193563;
  color: white;
}
.c-button.c-botton-blue a:hover, .c-button.c-botton-blue div:hover {
  background-color: #1e4077;
}
.c-button.c-botton-blue a img, .c-button.c-botton-blue div img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(96deg) brightness(103%) contrast(103%);
}
.c-button.c-botton-yellow a, .c-button.c-botton-yellow div {
  background-color: #FBC100;
  color: white;
}
.c-button.c-botton-yellow a:hover, .c-button.c-botton-yellow div:hover {
  background-color: #ffc916;
}
.c-button.c-botton-yellow a img, .c-button.c-botton-yellow div img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(96deg) brightness(103%) contrast(103%);
}
.c-button.c-botton-green a, .c-button.c-botton-green div {
  background-color: #40D1A1;
  color: white;
}
.c-button.c-botton-green a:hover, .c-button.c-botton-green div:hover {
  background-color: #55d6ab;
}
.c-button.c-botton-green a img, .c-button.c-botton-green div img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(96deg) brightness(103%) contrast(103%);
}
.c-button.c-botton-red a, .c-button.c-botton-red div {
  background-color: #FF7A4D;
  color: white;
}
.c-button.c-botton-red a:hover, .c-button.c-botton-red div:hover {
  background-color: #ff8d67;
}
.c-button.c-botton-red a img, .c-button.c-botton-red div img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(96deg) brightness(103%) contrast(103%);
}
.c-button.c-botton-lightBlue a, .c-button.c-botton-lightBlue div {
  background-color: #83CFF7;
  color: white;
}
.c-button.c-botton-lightBlue a:hover, .c-button.c-botton-lightBlue div:hover {
  background-color: #9bd8f9;
}
.c-button.c-botton-lightBlue a img, .c-button.c-botton-lightBlue div img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(96deg) brightness(103%) contrast(103%);
}
.c-button.c-botton-gray a, .c-button.c-botton-gray div {
  background-color: #9E9E9E;
  color: white;
}
.c-button.c-botton-gray a:hover, .c-button.c-botton-gray div:hover {
  background-color: #ababab;
}
.c-button.c-botton-gray a img, .c-button.c-botton-gray div img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(96deg) brightness(103%) contrast(103%);
}
.c-button.c-botton-disable a, .c-button.c-botton-disable div {
  background-color: #9E9E9E;
  color: white;
}
.c-button.c-botton-disable a:hover, .c-button.c-botton-disable div:hover {
  background-color: #ababab;
}
.c-button.c-botton-disable a img, .c-button.c-botton-disable div img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(96deg) brightness(103%) contrast(103%);
}
.c-button.c-botton-disable a, .c-button.c-botton-disable div {
  color: #E0E0E0;
  cursor: default;
}
.c-button.c-botton-disable a:hover, .c-button.c-botton-disable div:hover {
  background-color: #9E9E9E;
}
.c-button.c-botton-disable img {
  filter: brightness(0) saturate(100%) invert(92%) sepia(10%) saturate(1%) hue-rotate(338deg) brightness(93%) contrast(102%);
}
.c-button.c-botton-outline-blue a, .c-button.c-botton-outline-blue div {
  background-color: transparent;
  outline: 2px solid #193563;
  outline-offset: -2px;
  color: #193563;
}
.c-button.c-botton-outline-blue a img, .c-button.c-botton-outline-blue div img {
  filter: brightness(0) saturate(100%) invert(19%) sepia(21%) saturate(1744%) hue-rotate(177deg) brightness(100%) contrast(98%);
}
.c-button.c-botton-outline-blue a:hover, .c-button.c-botton-outline-blue div:hover {
  color: white;
  background-color: #193563;
}
.c-button.c-botton-outline-blue a:hover img, .c-button.c-botton-outline-blue div:hover img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(96deg) brightness(103%) contrast(103%);
}
.c-button.c-botton-outline-yellow a, .c-button.c-botton-outline-yellow div {
  background-color: transparent;
  outline: 2px solid #FBC100;
  outline-offset: -2px;
  color: #FBC100;
}
.c-button.c-botton-outline-yellow a img, .c-button.c-botton-outline-yellow div img {
  filter: brightness(0) saturate(100%) invert(88%) sepia(28%) saturate(7394%) hue-rotate(1deg) brightness(105%) contrast(102%);
}
.c-button.c-botton-outline-yellow a:hover, .c-button.c-botton-outline-yellow div:hover {
  color: white;
  background-color: #FBC100;
}
.c-button.c-botton-outline-yellow a:hover img, .c-button.c-botton-outline-yellow div:hover img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(96deg) brightness(103%) contrast(103%);
}
.c-button.c-botton-outline-green a, .c-button.c-botton-outline-green div {
  background-color: transparent;
  outline: 2px solid #40D1A1;
  outline-offset: -2px;
  color: #40D1A1;
}
.c-button.c-botton-outline-green a img, .c-button.c-botton-outline-green div img {
  filter: brightness(0) saturate(100%) invert(68%) sepia(52%) saturate(480%) hue-rotate(109deg) brightness(93%) contrast(90%);
}
.c-button.c-botton-outline-green a:hover, .c-button.c-botton-outline-green div:hover {
  color: white;
  background-color: #40D1A1;
}
.c-button.c-botton-outline-green a:hover img, .c-button.c-botton-outline-green div:hover img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(96deg) brightness(103%) contrast(103%);
}
.c-button.c-botton-outline-red a, .c-button.c-botton-outline-red div {
  background-color: transparent;
  outline: 2px solid #FF7A4D;
  outline-offset: -2px;
  color: #FF7A4D;
}
.c-button.c-botton-outline-red a img, .c-button.c-botton-outline-red div img {
  filter: brightness(0) saturate(100%) invert(59%) sepia(98%) saturate(1686%) hue-rotate(327deg) brightness(101%) contrast(101%);
}
.c-button.c-botton-outline-red a:hover, .c-button.c-botton-outline-red div:hover {
  color: white;
  background-color: #FF7A4D;
}
.c-button.c-botton-outline-red a:hover img, .c-button.c-botton-outline-red div:hover img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(96deg) brightness(103%) contrast(103%);
}
.c-button.c-botton-outline-lightBlue a, .c-button.c-botton-outline-lightBlue div {
  background-color: transparent;
  outline: 2px solid #83CFF7;
  outline-offset: -2px;
  color: #83CFF7;
}
.c-button.c-botton-outline-lightBlue a img, .c-button.c-botton-outline-lightBlue div img {
  filter: brightness(0) saturate(100%) invert(70%) sepia(58%) saturate(338%) hue-rotate(167deg) brightness(100%) contrast(95%);
}
.c-button.c-botton-outline-lightBlue a:hover, .c-button.c-botton-outline-lightBlue div:hover {
  color: white;
  background-color: #83CFF7;
}
.c-button.c-botton-outline-lightBlue a:hover img, .c-button.c-botton-outline-lightBlue div:hover img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(96deg) brightness(103%) contrast(103%);
}
.c-button.c-botton-outline-gray a, .c-button.c-botton-outline-gray div {
  background-color: transparent;
  outline: 2px solid #9E9E9E;
  outline-offset: -2px;
  color: #9E9E9E;
}
.c-button.c-botton-outline-gray a img, .c-button.c-botton-outline-gray div img {
  filter: brightness(0) saturate(100%) invert(64%) sepia(0%) saturate(200%) hue-rotate(79deg) brightness(98%) contrast(94%);
}
.c-button.c-botton-outline-gray a:hover, .c-button.c-botton-outline-gray div:hover {
  color: white;
  background-color: #9E9E9E;
}
.c-button.c-botton-outline-gray a:hover img, .c-button.c-botton-outline-gray div:hover img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(96deg) brightness(103%) contrast(103%);
}
.c-button.c-botton-outline-disable a, .c-button.c-botton-outline-disable div {
  background-color: transparent;
  outline: 2px solid #E0E0E0;
  outline-offset: -2px;
  color: #E0E0E0;
}
.c-button.c-botton-outline-disable a img, .c-button.c-botton-outline-disable div img {
  filter: brightness(0) saturate(100%) invert(92%) sepia(10%) saturate(1%) hue-rotate(338deg) brightness(93%) contrast(102%);
}
.c-button.c-botton-outline-disable a:hover, .c-button.c-botton-outline-disable div:hover {
  color: white;
  background-color: #E0E0E0;
}
.c-button.c-botton-outline-disable a:hover img, .c-button.c-botton-outline-disable div:hover img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(96deg) brightness(103%) contrast(103%);
}
.c-button.c-botton-outline-disable a, .c-button.c-botton-outline-disable div {
  cursor: default;
}
.c-button.c-botton-outline-disable:hover a, .c-button.c-botton-outline-disable:hover div {
  background-color: white;
  border: 2px solid #E0E0E0;
  color: #E0E0E0;
}
.c-button.c-botton-outline-disable:hover a img, .c-button.c-botton-outline-disable:hover div img {
  filter: brightness(0) saturate(100%) invert(92%) sepia(10%) saturate(1%) hue-rotate(338deg) brightness(93%) contrast(102%);
}
.c-button.colorfulImg a img, .c-button.colorfulImg div img {
  filter: none;
}

.c-title h2 {
  font-size: 2.25rem;
  line-height: 3.375rem;
}
@media (max-width: 767px) {
  .c-title h2 {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}

.c-card {
  background-color: white;
  filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.15));
  width: 100%;
  border-radius: 1rem 0 1rem 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: auto;
  transition: 0.3s;
}
.c-card.crowdfunding .cardInfomation .crowdfundingData .countDown p {
  color: #FBC100;
}
.c-card.crowdfunding .cardInfomation .crowdfundingData .dataBar .bar {
  background-color: #FBC100;
}
.c-card.subscription .cardInfomation .crowdfundingData .countDown p {
  color: #40D1A1;
}
.c-card.subscription .cardInfomation .crowdfundingData .dataBar .bar {
  background-color: #40D1A1;
}
.c-card.longTerm .cardInfomation .crowdfundingData .countDown p {
  color: #83CFF7;
}
.c-card.longTerm .cardInfomation .crowdfundingData .dataBar .bar {
  background-color: #83CFF7;
}
.c-card.product .cardInfomation .title p {
  -webkit-line-clamp: 3;
  height: 4.5rem;
}
.c-card.media {
  background-color: transparent;
}
.c-card.media .infomationContainer {
  padding: 1rem 0;
}
.c-card.media .infomationContainer .imgBox {
  border-radius: 1rem 0 1rem 0;
}
.c-card.media .infomationContainer .cardInfomation {
  filter: none;
}
.c-card.commingSoon .cardInfomation .crowdfundingData .countDown p {
  font-size: 1rem;
  color: #9E9E9E;
}
.c-card.progressing .cardInfomation .crowdfundingData .countDown p, .c-card.finished .cardInfomation .crowdfundingData .countDown p {
  font-size: 0.75rem;
}
.c-card:hover {
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.25));
}
.c-card:hover .favoriteButton {
  top: 0.5rem;
  opacity: 1;
}
.c-card:hover .imgBox img {
  transform: scale(1.1);
}
.c-card .favoriteButton {
  position: absolute;
  right: 0.5rem;
  top: 0rem;
  width: 1.5rem;
  height: 1.5rem;
  filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.15));
  opacity: 0;
  transition: 0.3s;
  z-index: 100;
}
@media (max-width: 991px) {
  .c-card .favoriteButton {
    top: 0.5rem;
    opacity: 1;
  }
}
.c-card .favoriteButton img {
  position: absolute;
  width: 1.5rem;
}
.c-card .favoriteButton .default {
  transition: 0.3s;
  opacity: 1;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(96deg) brightness(103%) contrast(103%);
}
.c-card .favoriteButton .hover {
  transition: 0.3s;
  opacity: 0;
  filter: brightness(0) saturate(100%) invert(88%) sepia(28%) saturate(7394%) hue-rotate(1deg) brightness(105%) contrast(102%);
}
.c-card .favoriteButton:hover {
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.25));
}
.c-card .favoriteButton:hover .default {
  opacity: 0;
}
.c-card .favoriteButton:hover .hover {
  opacity: 1;
}
.c-card .favoriteButton.active {
  top: 0.5rem;
  opacity: 1;
}
.c-card .favoriteButton.active .default {
  opacity: 0;
}
.c-card .favoriteButton.active .hover {
  opacity: 1;
}
.c-card .imgBox {
  overflow: hidden;
}
.c-card .imgBox img {
  transition: 0.3s;
  width: 100%;
}
.c-card .infomationContainer {
  padding: 1rem;
}
.c-card .infomationContainer .cardInfomation {
  display: flex;
  flex-direction: column;
  margin: -0.5rem 0;
}
.c-card .infomationContainer .cardInfomation > * {
  margin: 0.5rem 0;
}
.c-card .infomationContainer .cardInfomation .supplier p,
.c-card .infomationContainer .cardInfomation .editor p {
  color: #9E9E9E;
  font-size: 0.75rem;
}
.c-card .infomationContainer .cardInfomation .editor {
  display: flex;
  align-items: center;
}
.c-card .infomationContainer .cardInfomation .editor img {
  width: 1.5rem;
  border-radius: 1.5rem;
  margin-right: 0.5rem;
}
.c-card .infomationContainer .cardInfomation .title p {
  color: #212121;
  font-size: 1rem;
  font-weight: bold;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  height: 3rem;
}
.c-card .infomationContainer .cardInfomation .crowdfundingData {
  display: flex;
  flex-direction: column;
}
.c-card .infomationContainer .cardInfomation .crowdfundingData .topData {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.c-card .infomationContainer .cardInfomation .crowdfundingData .topData .accumulationAmount p {
  font-size: 1rem;
  font-weight: bold;
  color: #212121;
}
.c-card .infomationContainer .cardInfomation .crowdfundingData .topData .countDown p {
  font-weight: bold;
}
.c-card .infomationContainer .cardInfomation .crowdfundingData .dataBar {
  width: 100%;
  height: 6px;
  background-color: #E0E0E0;
  border-radius: 3px;
  margin: 4px 0;
  overflow: hidden;
}
.c-card .infomationContainer .cardInfomation .crowdfundingData .dataBar .bar {
  height: 6px;
  border-radius: 3px;
}
.c-card .infomationContainer .cardInfomation .crowdfundingData .bottomData {
  display: flex;
  justify-content: space-between;
}
.c-card .infomationContainer .cardInfomation .crowdfundingData .bottomData .accumulationSponsor p,
.c-card .infomationContainer .cardInfomation .crowdfundingData .bottomData .accumulationPercentage p {
  font-size: 0.75rem;
  color: #9E9E9E;
}
.c-card .infomationContainer .cardInfomation .productPrice {
  display: flex;
  align-items: flex-end;
}
.c-card .infomationContainer .cardInfomation .productPrice.hot .price p {
  font-size: 0.75rem;
  color: #9E9E9E;
  text-decoration: line-through;
  font-weight: normal;
}
.c-card .infomationContainer .cardInfomation .productPrice.hot .hotPrice {
  margin-right: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #FF7A4D;
}
.c-card .infomationContainer .cardInfomation .productPrice .price p {
  font-size: 1.5rem;
  font-weight: bold;
  color: #212121;
}
.c-card .infomationContainer .cardInfomation .mediaData .discription {
  margin-bottom: 1rem;
}
.c-card .infomationContainer .cardInfomation .mediaData .discription p {
  color: #9E9E9E;
  font-size: 1rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  height: 3rem;
}
.c-card .infomationContainer .cardInfomation .mediaData .dataGroup {
  display: flex;
  justify-content: space-between;
}
.c-card .infomationContainer .cardInfomation .mediaData .dataGroup .releaseDate p {
  font-size: 0.75rem;
  color: #9E9E9E;
}
.c-card .infomationContainer .cardInfomation .mediaData .dataGroup .accumulationViewer {
  display: flex;
  align-items: center;
}
.c-card .infomationContainer .cardInfomation .mediaData .dataGroup .accumulationViewer img {
  width: 1.5rem;
  filter: brightness(0) saturate(100%) invert(64%) sepia(0%) saturate(200%) hue-rotate(79deg) brightness(98%) contrast(94%);
  margin-right: 0.5rem;
}
.c-card .infomationContainer .cardInfomation .mediaData .dataGroup .accumulationViewer p {
  font-size: 0.75rem;
  color: #9E9E9E;
}

.c-linkButton.whiteLink a::after {
  border: 1px solid white;
}
.c-linkButton.whiteLink a p {
  color: white;
}
.c-linkButton.whiteLink a img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(96deg) brightness(103%) contrast(103%);
}
.c-linkButton a {
  display: flex;
  position: relative;
}
.c-linkButton a::after {
  position: absolute;
  content: "";
  border: 1px solid #193563;
  top: 1.5rem;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  animation-name: linkAnimation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.c-linkButton a p {
  color: #193563;
  font-weight: bold;
}
.c-linkButton a img {
  width: 1.5rem;
  filter: brightness(0) saturate(100%) invert(19%) sepia(21%) saturate(1744%) hue-rotate(177deg) brightness(100%) contrast(98%);
}

@keyframes linkAnimation {
  from {
    left: 50%;
    width: 0;
    opacity: 0;
  }
  to {
    left: 0;
    width: 100%;
    opacity: 1;
  }
}
.c-landingPageNavBar {
  background-color: #F5F5F5;
  filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.15));
}
.c-landingPageNavBar .navBar .buttonGroup {
  display: flex;
  overflow: scroll;
}

.c-navBarButton.active a p {
  color: #212121;
}
.c-navBarButton.active a::after {
  border: 2px solid #193563;
}
.c-navBarButton a {
  display: block;
  width: -moz-max-content;
  width: max-content;
  position: relative;
}
.c-navBarButton a p {
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: #9E9E9E;
  text-align: center;
}
.c-navBarButton a::after {
  width: 100%;
  position: absolute;
  content: "";
  bottom: 0;
}
.c-navBarButton a:hover p {
  color: #212121;
}
.c-navBarButton a:hover::after {
  border: 2px solid #193563;
}

.c-projectCard {
  background-color: white;
  filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.15));
  width: 100%;
  border-radius: 1rem 0 1rem 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}
.c-projectCard:hover {
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.25));
}
.c-projectCard .imgBox img {
  width: 100%;
}
.c-projectCard .cardInfomation {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: -0.5rem 0;
}
.c-projectCard .cardInfomation > * {
  margin: 0.5rem 0;
}
.c-projectCard .cardInfomation .topGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.c-projectCard .cardInfomation .topGroup .price p {
  font-size: 2.25rem;
  color: #FF7A4D;
  font-weight: bold;
}
.c-projectCard .cardInfomation .title {
  display: flex;
}
.c-projectCard .cardInfomation .title p {
  font-size: 1.5rem;
  font-weight: bold;
  color: #212121;
}
.c-projectCard .cardInfomation .tag {
  display: flex;
}
.c-projectCard .cardInfomation .discription {
  display: flex;
  flex-direction: column;
}
.c-projectCard .cardInfomation .discription p {
  font-size: 1rem;
  color: #9E9E9E;
}

.c-tag {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 0.5rem 0 0.5rem 0;
  padding: 0.25rem 0.5rem;
}
.c-tag p {
  font-weight: bold;
  font-size: 0.75rem;
  color: white;
}
.c-tag.c-tag-blue {
  background-color: #193563;
}
.c-tag.c-tag-yellow {
  background-color: #FBC100;
}
.c-tag.c-tag-green {
  background-color: #40D1A1;
}
.c-tag.c-tag-red {
  background-color: #FF7A4D;
}
.c-tag.c-tag-lightBlue {
  background-color: #83CFF7;
}
.c-tag.c-tag-gray {
  background-color: #9E9E9E;
}
.c-tag.c-tag-outline-blue {
  background-color: transparent;
  border: 1px solid #193563;
  color: #193563;
}
.c-tag.c-tag-outline-yellow {
  background-color: transparent;
  border: 1px solid #FBC100;
  color: #FBC100;
}
.c-tag.c-tag-outline-green {
  background-color: transparent;
  border: 1px solid #40D1A1;
  color: #40D1A1;
}
.c-tag.c-tag-outline-red {
  background-color: transparent;
  border: 1px solid #FF7A4D;
  color: #FF7A4D;
}
.c-tag.c-tag-outline-lightBlue {
  background-color: transparent;
  border: 1px solid #83CFF7;
  color: #83CFF7;
}
.c-tag.c-tag-outline-gray {
  background-color: transparent;
  border: 1px solid #9E9E9E;
  color: #9E9E9E;
}

.c-landingPageBottomBar {
  z-index: 1000;
  background-color: #F5F5F5;
  filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.15));
  position: fixed;
  width: 100%;
  bottom: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.c-landingPageBottomBar .buttonGroup {
  display: flex;
  margin: 0 -0.25rem;
}
.c-landingPageBottomBar .buttonGroup > * {
  margin: 0 0.25rem;
}

.c-bootstrapDropDown .dropdown-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.5rem 0 0.5rem 0;
  border: 0;
  outline: 2px solid #9E9E9E;
  outline-offset: -2px;
  color: #9E9E9E;
}
.c-bootstrapDropDown .dropdown-toggle img {
  width: 1.5rem;
  filter: brightness(0) saturate(100%) invert(64%) sepia(0%) saturate(200%) hue-rotate(79deg) brightness(98%) contrast(94%);
}
.c-bootstrapDropDown .dropdown-toggle .arrowDown {
  display: block;
}
.c-bootstrapDropDown .dropdown-toggle .arrowUp {
  display: none;
}
.c-bootstrapDropDown .dropdown-toggle::after {
  display: none;
}
.c-bootstrapDropDown .dropdown-toggle:active, .c-bootstrapDropDown .dropdown-toggle:hover, .c-bootstrapDropDown .dropdown-toggle:focus {
  outline: 2px solid #193563;
}
.c-bootstrapDropDown .dropdown-toggle:active img, .c-bootstrapDropDown .dropdown-toggle:hover img, .c-bootstrapDropDown .dropdown-toggle:focus img {
  filter: brightness(0) saturate(100%) invert(19%) sepia(21%) saturate(1744%) hue-rotate(177deg) brightness(100%) contrast(98%);
}
.c-bootstrapDropDown .dropdown-toggle:focus .arrowDown {
  display: none;
}
.c-bootstrapDropDown .dropdown-toggle:focus .arrowUp {
  display: block;
}
.c-bootstrapDropDown .dropdown-menu {
  width: 100%;
  border-radius: 0.5rem 0 0.5rem 0;
  border: 0;
  outline: 2px solid #9E9E9E;
  outline-offset: -2px;
  padding: 0;
  overflow: hidden;
  transform: translate3d(0px, 48px, 0px) !important;
  max-height: 200px;
  overflow: scroll;
}
.c-bootstrapDropDown .dropdown-menu .dropdown-item {
  padding: 0.5rem;
  border-bottom: 2px solid #E0E0E0;
  color: #9E9E9E;
}
.c-bootstrapDropDown .dropdown-menu .dropdown-item:hover, .c-bootstrapDropDown .dropdown-menu .dropdown-item:active {
  background-color: #F5F5F5;
}

.c-userNavBar {
  position: relative;
}
.c-userNavBar::after, .c-userNavBar::before {
  z-index: 0;
  content: "";
  position: absolute;
  border: 1px solid #E0E0E0;
  left: 15px;
  width: calc(100% - 30px);
  height: 1px;
  display: block;
}
.c-userNavBar::before {
  top: 0;
}
.c-userNavBar::after {
  bottom: 0;
}
.c-userNavBar .buttonGroup {
  display: flex;
  overflow: scroll;
}
.c-userNavBar .buttonGroup div {
  z-index: 10;
}

.c-userTab {
  position: relative;
}
.c-userTab::after, .c-userTab::before {
  z-index: 0;
  content: "";
  position: absolute;
  border: 1px solid #E0E0E0;
  left: 15px;
  width: calc(100% - 30px);
  height: 1px;
  display: block;
}
.c-userTab::before {
  top: 0;
}
.c-userTab::after {
  bottom: 0;
}
.c-userTab .buttonGroup {
  display: flex;
  overflow: scroll;
}
.c-userTab .buttonGroup div {
  z-index: 10;
  width: 100%;
}
.c-userTab .buttonGroup div a {
  width: 100%;
}

.l-header .topBar {
  position: relative;
}
.l-header .topBar::after {
  content: "";
  border: 0.5px solid #E0E0E0;
  width: 200vw;
  display: block;
  position: absolute;
  padding: 0;
  left: -100vw;
  top: 79px;
}
@media (max-width: 991px) {
  .l-header .topBar::after {
    top: 63px;
  }
}
.l-header .topBar .headerLeftGroup .logo img {
  width: 180px;
}
@media (max-width: 991px) {
  .l-header .topBar .headerLeftGroup .logo img {
    width: 150px;
  }
}
.l-header .topBar .headerLeftGroup .logo::after {
  content: "";
  border: 0.5px solid #E0E0E0;
  border-radius: 50%;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 1rem;
}
@media (max-width: 991px) {
  .l-header .topBar .headerLeftGroup .logo::after {
    display: none;
  }
}
.l-header .topBar .headerLeftGroup .linkGroup {
  margin: 0 -0.5rem 0 -0.5rem;
}
.l-header .topBar .headerLeftGroup .linkGroup .link {
  color: #193563;
  font-weight: bold;
  margin: 0 0.5rem 0 0.5rem;
}
.l-header .topBar .headerRightGroup .icon img {
  width: 2rem;
}
.l-header .topBar .headerRightGroup .pc .iconGroup {
  margin: 0 -0.5rem 0 -0.5rem;
}
.l-header .topBar .headerRightGroup .pc .iconGroup a {
  margin: 0 0.5rem 0 0.5rem;
}
.l-header .topBar .headerRightGroup .pc .searchInput input {
  border: 0;
  outline: none;
}
.l-header .topBar .headerRightGroup .pc .profile {
  margin-left: 1.5rem;
}
.l-header .topBar .headerRightGroup .pc .linkGroup {
  height: 22px;
}
.l-header .topBar .headerRightGroup .pc .linkGroup .link {
  color: #193563;
  font-weight: bold;
}
.l-header .topBar .headerRightGroup .pc .linkGroup .link:first-child::after {
  content: "";
  border: 0.5px solid #E0E0E0;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  height: 22px;
  margin: 0px 0.5rem 1px 0.5rem;
}
.l-header .topBar .headerRightGroup .pc .pcMenu {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 10000;
  overflow: hidden;
  right: -40px;
  top: 3rem;
  background-color: white;
  border-radius: 1rem 0 1rem 0;
}
.l-header .topBar .headerRightGroup .pc .pcMenu .pcMenuLink {
  padding: 1rem 2rem;
  color: #9E9E9E;
  border-bottom: 1px solid #E0E0E0;
}
.l-header .topBar .headerRightGroup .pc .pcMenu .pcMenuLink:hover {
  background-color: #F5F5F5;
}
.l-header .topBar .headerRightGroup .pc .pcMenu .pcMenuButton {
  padding: 1rem;
}
.l-header .mobileMenu {
  padding: 1rem 0;
  position: absolute;
  background-color: white;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: calc(100vh - 64px);
  overflow: scroll;
  z-index: 10000;
}
.l-header .mobileMenu .searchInput {
  border-bottom: 1px solid #E0E0E0;
}
.l-header .mobileMenu .linkGroup {
  overflow: scroll;
}
.l-header .mobileMenu .linkGroup .link {
  padding: 1rem 0;
  border-bottom: 1px solid #E0E0E0;
}
.l-header .mobileMenu .linkGroup .link .mainLink {
  font-weight: bold;
  color: #193563;
}
.l-header .mobileMenu .linkGroup .link .subLink {
  font-weight: normal;
  color: #9E9E9E;
  padding: 0.5rem 0;
}
.l-header .mobileMenu .linkGroup .link .subLink:first-child {
  padding-top: 1rem;
}
.l-header .mobileMenu .buttonGroup {
  margin: -0.5rem 0;
}
.l-header .mobileMenu .buttonGroup div {
  margin: 0.5rem 0;
}

.l-footer {
  background-color: #9E9E9E;
  padding: 4rem 0;
}
.l-footer .container {
  margin: -2rem auto;
}
.l-footer .container > * {
  margin: 2rem auto;
}
@media (max-width: 767px) {
  .l-footer .container {
    margin: -4rem auto;
  }
  .l-footer .container > * {
    margin: 4rem auto;
  }
}
.l-footer .container .top {
  margin-right: -15px;
  margin-left: -15px;
}
.l-footer .container .center {
  margin: -1rem -15px;
}
@media (max-width: 767px) {
  .l-footer .container .center {
    margin: -2rem auto;
  }
}
.l-footer .container .center .linkGroup {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
}
@media (max-width: 767px) {
  .l-footer .container .center .linkGroup {
    align-items: center;
    margin: 2rem auto;
  }
}
.l-footer .container .center .linkGroup .footerLinkButton {
  display: flex;
  flex-direction: column;
  margin: -0.5rem 0;
}
@media (max-width: 767px) {
  .l-footer .container .center .linkGroup .footerLinkButton {
    align-items: center;
  }
}
.l-footer .container .center .linkGroup .footerLinkButton > * {
  margin: 0.5rem 0;
}
.l-footer .container .bottom {
  display: flex;
  flex-direction: column;
  margin-right: -15px;
  margin-left: -15px;
}
.l-footer .container .bottom .linkGroup {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.l-footer .container .bottom .linkGroup > * {
  margin: auto 1rem;
}
.l-footer .container .bottom .linkGroup .linkButton img {
  width: 2rem;
}
.l-footer .container .bottom .linkGroup::after {
  position: absolute;
  content: "";
  width: 100vw;
  border: 1px solid white;
  height: 1px;
  top: 3rem;
}

.p-mainPage {
  display: flex;
  flex-direction: column;
}
.p-mainPage .indexCarousel {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .p-mainPage .indexCarousel {
    margin-top: 0;
  }
}
.p-mainPage .indexCarousel .slick-slide {
  padding: 0 15px;
  opacity: 0.5;
}
.p-mainPage .indexCarousel .slick-slide.slick-active {
  opacity: 1;
}
@media (max-width: 767px) {
  .p-mainPage .indexCarousel .slick-slide {
    padding: 0;
  }
}
.p-mainPage .indexCarousel .slick-slide .indexBanner {
  border-radius: 2.5rem 0 2.5rem 0;
  overflow: hidden;
  filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.15));
  transition: 0.3s;
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .p-mainPage .indexCarousel .slick-slide .indexBanner {
    border-radius: 0;
  }
}
.p-mainPage .indexCarousel .slick-slide .indexBanner:hover .imgBox img {
  transform: scale(1.05);
}
.p-mainPage .indexCarousel .slick-slide .indexBanner:hover .indexBannerData {
  bottom: 0;
  opacity: 1;
}
.p-mainPage .indexCarousel .slick-slide .indexBanner .imgBox {
  max-width: 1110px;
}
@media (max-width: 1200px) {
  .p-mainPage .indexCarousel .slick-slide .indexBanner .imgBox {
    width: 992px;
  }
}
@media (max-width: 991px) {
  .p-mainPage .indexCarousel .slick-slide .indexBanner .imgBox {
    width: 768px;
  }
}
@media (max-width: 767px) {
  .p-mainPage .indexCarousel .slick-slide .indexBanner .imgBox {
    width: 100vw;
  }
}
.p-mainPage .indexCarousel .slick-slide .indexBanner .imgBox img {
  width: 100%;
  transition: 0.3s;
}
.p-mainPage .indexCarousel .slick-slide .indexBanner .indexBannerData {
  padding: 1.5rem 2rem;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  width: 100%;
  bottom: -104px;
  opacity: 0;
  transition: 0.3s;
}
@media (max-width: 767px) {
  .p-mainPage .indexCarousel .slick-slide .indexBanner .indexBannerData {
    padding: 1rem;
    width: 100vw;
    position: relative;
    bottom: 0;
    opacity: 1;
    background-color: white;
  }
}
.p-mainPage .indexCarousel .slick-slide .indexBanner .indexBannerData .leftData {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.p-mainPage .indexCarousel .slick-slide .indexBanner .indexBannerData .leftData .supplier p {
  font-size: 0.75rem;
  color: #9E9E9E;
}
.p-mainPage .indexCarousel .slick-slide .indexBanner .indexBannerData .leftData .title p {
  font-size: 1rem;
  font-weight: bold;
  color: #212121;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.p-mainPage .indexCarousel .slick-slide .indexBanner .indexBannerData .rightData {
  display: flex;
  flex-direction: column;
  margin: -0.125rem 0;
}
.p-mainPage .indexCarousel .slick-slide .indexBanner .indexBannerData .rightData > * {
  margin: 0.125rem 0;
}
.p-mainPage .indexCarousel .slick-slide .indexBanner .indexBannerData .rightData .topData {
  display: flex;
  justify-content: space-between;
}
.p-mainPage .indexCarousel .slick-slide .indexBanner .indexBannerData .rightData .topData .accumulationAmount p {
  font-size: 1rem;
  font-weight: bold;
  color: #212121;
}
.p-mainPage .indexCarousel .slick-slide .indexBanner .indexBannerData .rightData .topData .countDown p {
  font-size: 0.75rem;
  font-weight: bold;
  color: #FBC100;
}
.p-mainPage .indexCarousel .slick-slide .indexBanner .indexBannerData .rightData .dataBar {
  background-color: #E0E0E0;
  border-radius: 3px;
  height: 6px;
  width: 100%;
}
.p-mainPage .indexCarousel .slick-slide .indexBanner .indexBannerData .rightData .bottomData {
  display: flex;
  justify-content: space-between;
}
.p-mainPage .indexCarousel .slick-slide .indexBanner .indexBannerData .rightData .bottomData .accumulationSponsor, .p-mainPage .indexCarousel .slick-slide .indexBanner .indexBannerData .rightData .bottomData .accumulationPercentage {
  font-size: 0.75rem;
  color: #9E9E9E;
}
.p-mainPage .indexCarousel .slick-next, .p-mainPage .indexCarousel .slick-prev {
  width: 6rem;
  height: 6rem;
  z-index: 1000;
  opacity: 0.5;
  filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.15));
}
.p-mainPage .indexCarousel .slick-next:hover, .p-mainPage .indexCarousel .slick-prev:hover {
  opacity: 1;
}
.p-mainPage .indexCarousel .slick-next::before, .p-mainPage .indexCarousel .slick-prev::before {
  width: 6rem;
  height: 6rem;
  background-size: contain !important;
  font-size: 6rem;
}
.p-mainPage .indexCarousel .slick-next {
  right: calc(50% - 555px);
}
@media (max-width: 1200px) {
  .p-mainPage .indexCarousel .slick-next {
    right: calc(50% - 496px);
  }
}
@media (max-width: 991px) {
  .p-mainPage .indexCarousel .slick-next {
    right: calc(50% - 384px);
  }
}
@media (max-width: 767px) {
  .p-mainPage .indexCarousel .slick-next {
    right: 0.5rem;
  }
}
@media (max-width: 575px) {
  .p-mainPage .indexCarousel .slick-next {
    right: 0;
  }
}
.p-mainPage .indexCarousel .slick-next::before {
  width: 2rem;
  content: url(~/assets/img/icon/arrowRight.svg) !important;
}
.p-mainPage .indexCarousel .slick-prev {
  left: calc(50% - 555px);
}
@media (max-width: 1200px) {
  .p-mainPage .indexCarousel .slick-prev {
    left: calc(50% - 496px);
  }
}
@media (max-width: 991px) {
  .p-mainPage .indexCarousel .slick-prev {
    left: calc(50% - 384px);
  }
}
@media (max-width: 767px) {
  .p-mainPage .indexCarousel .slick-prev {
    left: 0.5rem;
  }
}
@media (max-width: 575px) {
  .p-mainPage .indexCarousel .slick-prev {
    left: 0;
  }
}
.p-mainPage .indexCarousel .slick-prev::before {
  width: 2rem;
  content: url(~/assets/img/icon/arrowLeft.svg) !important;
}
.p-mainPage .indexCarousel .slick-dots li {
  width: 12px;
  height: 12px;
  margin: 0 0.25rem;
}
.p-mainPage .indexCarousel .slick-dots li button {
  width: 12px;
  height: 12px;
  padding: 0;
}
.p-mainPage .indexCarousel .slick-dots li button:hover::before {
  opacity: 1;
}
.p-mainPage .indexCarousel .slick-dots li button::before {
  font-size: 12px;
  line-height: 12px;
  position: relative;
  opacity: 0.5;
  color: #9E9E9E;
}
.p-mainPage .indexCarousel .slick-dots li.slick-active button::before {
  color: #9E9E9E;
  opacity: 1;
}
.p-mainPage .indexCrowdfunding {
  background-color: #F5F5F5;
  padding: 8rem 0;
}
@media (max-width: 767px) {
  .p-mainPage .indexCrowdfunding {
    padding: 4rem 0;
  }
}
.p-mainPage .indexCrowdfunding .container {
  margin: -1rem auto;
}
.p-mainPage .indexCrowdfunding .container > * {
  margin: 1rem -15px;
}
.p-mainPage .indexCrowdfunding .container .cardGroup > * {
  margin: 1rem auto;
}
.p-mainPage .indexAboutUs {
  padding: 8rem 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(~/assets/img/index/indexAboutUsBanner.jpg);
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}
@media (max-width: 767px) {
  .p-mainPage .indexAboutUs {
    padding: 4rem 0;
  }
}
.p-mainPage .indexAboutUs > * {
  filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.15));
}
.p-mainPage .indexAboutUs .container {
  margin: -4rem auto;
}
.p-mainPage .indexAboutUs .container > * {
  margin: 4rem -15px;
}
.p-mainPage .indexAboutUs .container .aboutUsTitle h2 {
  color: white;
}
.p-mainPage .indexAboutUs .container .aboutUsData .accumulationProject, .p-mainPage .indexAboutUs .container .aboutUsData .accumulationAmount, .p-mainPage .indexAboutUs .container .aboutUsData .accumulationSponsor {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p-mainPage .indexAboutUs .container .aboutUsData .accumulationProject .accumulationNumber h2, .p-mainPage .indexAboutUs .container .aboutUsData .accumulationAmount .accumulationNumber h2, .p-mainPage .indexAboutUs .container .aboutUsData .accumulationSponsor .accumulationNumber h2 {
  color: #FBC100;
}
.p-mainPage .indexAboutUs .container .aboutUsData .accumulationProject .accumulationTitle p, .p-mainPage .indexAboutUs .container .aboutUsData .accumulationAmount .accumulationTitle p, .p-mainPage .indexAboutUs .container .aboutUsData .accumulationSponsor .accumulationTitle p {
  color: white;
  font-weight: normal;
}
.p-mainPage .indexAboutUs .container .aboutUsDiscription {
  justify-content: center;
}
.p-mainPage .indexAboutUs .container .aboutUsDiscription p {
  text-align: center;
  color: white;
}
.p-mainPage .indexComingSoon {
  background-color: white;
  padding: 8rem 0;
}
@media (max-width: 767px) {
  .p-mainPage .indexComingSoon {
    padding: 4rem 0;
  }
}
.p-mainPage .indexComingSoon .container {
  margin: -1rem auto;
}
.p-mainPage .indexComingSoon .container > * {
  margin: 1rem -15px;
}
.p-mainPage .indexComingSoon .container .cardGroup > * {
  margin: 1rem auto;
}
.p-mainPage .indexRankingList {
  background-color: #193563;
  padding: 8rem 0;
}
@media (max-width: 767px) {
  .p-mainPage .indexRankingList {
    padding: 4rem 0;
  }
}
.p-mainPage .indexRankingList .container {
  margin: -1rem auto;
}
.p-mainPage .indexRankingList .container > * {
  margin: 1rem -15px;
}
.p-mainPage .indexRankingList .container .cardGroup > * {
  margin: 1rem auto;
}
.p-mainPage .indexRankingList .container .cardGroup .rankTitle {
  color: white;
  font-weight: bold;
  font-size: 4.5rem;
}
@media (max-width: 767px) {
  .p-mainPage .indexRankingList .container .cardGroup .rankTitle {
    font-size: 4rem;
  }
}
.p-mainPage .indexClassic {
  padding: 8rem 0;
}
@media (max-width: 767px) {
  .p-mainPage .indexClassic {
    padding: 4rem 0;
  }
}
.p-mainPage .indexClassic .container {
  margin: -1rem auto;
}
.p-mainPage .indexClassic .container > * {
  margin: 1rem -15px;
}
.p-mainPage .indexClassic .container .carousel .slick-slide {
  opacity: 1;
}
.p-mainPage .indexClassic .container .carousel .slick-slide.slick-active {
  opacity: 1;
}
.p-mainPage .indexClassic .container .carousel .slick-slide .card {
  border: 0;
}
.p-mainPage .indexClassic .container .carousel .slick-next {
  z-index: 1000;
  opacity: 0.5;
  filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.15));
  width: 6rem;
  height: 6rem;
  right: calc(-6rem + 15px);
}
.p-mainPage .indexClassic .container .carousel .slick-next:hover {
  opacity: 1;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.25));
}
.p-mainPage .indexClassic .container .carousel .slick-next::before {
  display: block;
  background-size: contain !important;
}
.p-mainPage .indexClassic .container .carousel .slick-next::before {
  width: 6rem;
  height: 6rem;
  font-size: 6rem;
  filter: brightness(0) saturate(100%) invert(64%) sepia(0%) saturate(200%) hue-rotate(79deg) brightness(98%) contrast(94%);
}
.p-mainPage .indexClassic .container .carousel .slick-next::before {
  content: url(~/assets/img/icon/arrowRight.svg) !important;
}
@media (max-width: calc(1200px + 6rem)) {
  .p-mainPage .indexClassic .container .carousel .slick-next {
    z-index: 1000;
    opacity: 0.5;
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.15));
    width: 3rem;
    height: 3rem;
    right: 23px;
  }
  .p-mainPage .indexClassic .container .carousel .slick-next:hover {
    opacity: 1;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.25));
  }
  .p-mainPage .indexClassic .container .carousel .slick-next::before {
    display: block;
    background-size: contain !important;
  }
  .p-mainPage .indexClassic .container .carousel .slick-next::before {
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
    filter: none;
  }
  .p-mainPage .indexClassic .container .carousel .slick-next::before {
    content: url(~/assets/img/icon/carouselArrowRight.svg) !important;
  }
}
@media (max-width: 1199px) {
  .p-mainPage .indexClassic .container .carousel .slick-next {
    z-index: 1000;
    opacity: 0.5;
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.15));
    width: 6rem;
    height: 6rem;
    right: calc(-6rem + 15px);
  }
  .p-mainPage .indexClassic .container .carousel .slick-next:hover {
    opacity: 1;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.25));
  }
  .p-mainPage .indexClassic .container .carousel .slick-next::before {
    display: block;
    background-size: contain !important;
  }
  .p-mainPage .indexClassic .container .carousel .slick-next::before {
    width: 6rem;
    height: 6rem;
    font-size: 6rem;
    filter: brightness(0) saturate(100%) invert(64%) sepia(0%) saturate(200%) hue-rotate(79deg) brightness(98%) contrast(94%);
  }
  .p-mainPage .indexClassic .container .carousel .slick-next::before {
    content: url(~/assets/img/icon/arrowRight.svg) !important;
  }
}
@media (max-width: calc(992px + 6rem)) {
  .p-mainPage .indexClassic .container .carousel .slick-next {
    z-index: 1000;
    opacity: 0.5;
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.15));
    width: 3rem;
    height: 3rem;
    right: 23px;
  }
  .p-mainPage .indexClassic .container .carousel .slick-next:hover {
    opacity: 1;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.25));
  }
  .p-mainPage .indexClassic .container .carousel .slick-next::before {
    display: block;
    background-size: contain !important;
  }
  .p-mainPage .indexClassic .container .carousel .slick-next::before {
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
    filter: none;
  }
  .p-mainPage .indexClassic .container .carousel .slick-next::before {
    content: url(~/assets/img/icon/carouselArrowRight.svg) !important;
  }
}
@media (max-width: 991px) {
  .p-mainPage .indexClassic .container .carousel .slick-next {
    z-index: 1000;
    opacity: 0.5;
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.15));
    width: 6rem;
    height: 6rem;
    right: calc(-6rem + 15px);
  }
  .p-mainPage .indexClassic .container .carousel .slick-next:hover {
    opacity: 1;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.25));
  }
  .p-mainPage .indexClassic .container .carousel .slick-next::before {
    display: block;
    background-size: contain !important;
  }
  .p-mainPage .indexClassic .container .carousel .slick-next::before {
    width: 6rem;
    height: 6rem;
    font-size: 6rem;
    filter: brightness(0) saturate(100%) invert(64%) sepia(0%) saturate(200%) hue-rotate(79deg) brightness(98%) contrast(94%);
  }
  .p-mainPage .indexClassic .container .carousel .slick-next::before {
    content: url(~/assets/img/icon/arrowRight.svg) !important;
  }
}
@media (max-width: calc(768px + 6rem)) {
  .p-mainPage .indexClassic .container .carousel .slick-next {
    z-index: 1000;
    opacity: 0.5;
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.15));
    width: 3rem;
    height: 3rem;
    right: 23px;
  }
  .p-mainPage .indexClassic .container .carousel .slick-next:hover {
    opacity: 1;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.25));
  }
  .p-mainPage .indexClassic .container .carousel .slick-next::before {
    display: block;
    background-size: contain !important;
  }
  .p-mainPage .indexClassic .container .carousel .slick-next::before {
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
    filter: none;
  }
  .p-mainPage .indexClassic .container .carousel .slick-next::before {
    content: url(~/assets/img/icon/carouselArrowRight.svg) !important;
  }
}
@media (max-width: 767px) {
  .p-mainPage .indexClassic .container .carousel .slick-next {
    z-index: 1000;
    opacity: 0.5;
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.15));
    width: 6rem;
    height: 6rem;
    right: calc(-6rem + 15px);
  }
  .p-mainPage .indexClassic .container .carousel .slick-next:hover {
    opacity: 1;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.25));
  }
  .p-mainPage .indexClassic .container .carousel .slick-next::before {
    display: block;
    background-size: contain !important;
  }
  .p-mainPage .indexClassic .container .carousel .slick-next::before {
    width: 6rem;
    height: 6rem;
    font-size: 6rem;
    filter: brightness(0) saturate(100%) invert(64%) sepia(0%) saturate(200%) hue-rotate(79deg) brightness(98%) contrast(94%);
  }
  .p-mainPage .indexClassic .container .carousel .slick-next::before {
    content: url(~/assets/img/icon/arrowRight.svg) !important;
  }
}
@media (max-width: calc(576px + 6rem)) {
  .p-mainPage .indexClassic .container .carousel .slick-next {
    z-index: 1000;
    opacity: 0.5;
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.15));
    width: 3rem;
    height: 3rem;
    right: 23px;
  }
  .p-mainPage .indexClassic .container .carousel .slick-next:hover {
    opacity: 1;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.25));
  }
  .p-mainPage .indexClassic .container .carousel .slick-next::before {
    display: block;
    background-size: contain !important;
  }
  .p-mainPage .indexClassic .container .carousel .slick-next::before {
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
    filter: none;
  }
  .p-mainPage .indexClassic .container .carousel .slick-next::before {
    content: url(~/assets/img/icon/carouselArrowRight.svg) !important;
  }
}
.p-mainPage .indexClassic .container .carousel .slick-prev {
  z-index: 1000;
  opacity: 0.5;
  filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.15));
  width: 6rem;
  height: 6rem;
  left: calc(-6rem + 15px);
}
.p-mainPage .indexClassic .container .carousel .slick-prev:hover {
  opacity: 1;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.25));
}
.p-mainPage .indexClassic .container .carousel .slick-prev::before {
  display: block;
  background-size: contain !important;
}
.p-mainPage .indexClassic .container .carousel .slick-prev::before {
  width: 6rem;
  height: 6rem;
  font-size: 6rem;
  filter: brightness(0) saturate(100%) invert(64%) sepia(0%) saturate(200%) hue-rotate(79deg) brightness(98%) contrast(94%);
}
.p-mainPage .indexClassic .container .carousel .slick-prev::before {
  content: url(~/assets/img/icon/arrowLeft.svg) !important;
}
@media (max-width: calc(1200px + 6rem)) {
  .p-mainPage .indexClassic .container .carousel .slick-prev {
    z-index: 1000;
    opacity: 0.5;
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.15));
    width: 3rem;
    height: 3rem;
    left: 23px;
  }
  .p-mainPage .indexClassic .container .carousel .slick-prev:hover {
    opacity: 1;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.25));
  }
  .p-mainPage .indexClassic .container .carousel .slick-prev::before {
    display: block;
    background-size: contain !important;
  }
  .p-mainPage .indexClassic .container .carousel .slick-prev::before {
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
    filter: none;
  }
  .p-mainPage .indexClassic .container .carousel .slick-prev::before {
    content: url(~/assets/img/icon/carouselArrowLeft.svg) !important;
  }
}
@media (max-width: 1199px) {
  .p-mainPage .indexClassic .container .carousel .slick-prev {
    z-index: 1000;
    opacity: 0.5;
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.15));
    width: 6rem;
    height: 6rem;
    left: calc(-6rem + 15px);
  }
  .p-mainPage .indexClassic .container .carousel .slick-prev:hover {
    opacity: 1;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.25));
  }
  .p-mainPage .indexClassic .container .carousel .slick-prev::before {
    display: block;
    background-size: contain !important;
  }
  .p-mainPage .indexClassic .container .carousel .slick-prev::before {
    width: 6rem;
    height: 6rem;
    font-size: 6rem;
    filter: brightness(0) saturate(100%) invert(64%) sepia(0%) saturate(200%) hue-rotate(79deg) brightness(98%) contrast(94%);
  }
  .p-mainPage .indexClassic .container .carousel .slick-prev::before {
    content: url(~/assets/img/icon/arrowLeft.svg) !important;
  }
}
@media (max-width: calc(992px + 6rem)) {
  .p-mainPage .indexClassic .container .carousel .slick-prev {
    z-index: 1000;
    opacity: 0.5;
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.15));
    width: 3rem;
    height: 3rem;
    left: 23px;
  }
  .p-mainPage .indexClassic .container .carousel .slick-prev:hover {
    opacity: 1;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.25));
  }
  .p-mainPage .indexClassic .container .carousel .slick-prev::before {
    display: block;
    background-size: contain !important;
  }
  .p-mainPage .indexClassic .container .carousel .slick-prev::before {
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
    filter: none;
  }
  .p-mainPage .indexClassic .container .carousel .slick-prev::before {
    content: url(~/assets/img/icon/carouselArrowLeft.svg) !important;
  }
}
@media (max-width: 991px) {
  .p-mainPage .indexClassic .container .carousel .slick-prev {
    z-index: 1000;
    opacity: 0.5;
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.15));
    width: 6rem;
    height: 6rem;
    left: calc(-6rem + 15px);
  }
  .p-mainPage .indexClassic .container .carousel .slick-prev:hover {
    opacity: 1;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.25));
  }
  .p-mainPage .indexClassic .container .carousel .slick-prev::before {
    display: block;
    background-size: contain !important;
  }
  .p-mainPage .indexClassic .container .carousel .slick-prev::before {
    width: 6rem;
    height: 6rem;
    font-size: 6rem;
    filter: brightness(0) saturate(100%) invert(64%) sepia(0%) saturate(200%) hue-rotate(79deg) brightness(98%) contrast(94%);
  }
  .p-mainPage .indexClassic .container .carousel .slick-prev::before {
    content: url(~/assets/img/icon/arrowLeft.svg) !important;
  }
}
@media (max-width: calc(768px + 6rem)) {
  .p-mainPage .indexClassic .container .carousel .slick-prev {
    z-index: 1000;
    opacity: 0.5;
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.15));
    width: 3rem;
    height: 3rem;
    left: 23px;
  }
  .p-mainPage .indexClassic .container .carousel .slick-prev:hover {
    opacity: 1;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.25));
  }
  .p-mainPage .indexClassic .container .carousel .slick-prev::before {
    display: block;
    background-size: contain !important;
  }
  .p-mainPage .indexClassic .container .carousel .slick-prev::before {
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
    filter: none;
  }
  .p-mainPage .indexClassic .container .carousel .slick-prev::before {
    content: url(~/assets/img/icon/carouselArrowLeft.svg) !important;
  }
}
@media (max-width: 767px) {
  .p-mainPage .indexClassic .container .carousel .slick-prev {
    z-index: 1000;
    opacity: 0.5;
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.15));
    width: 6rem;
    height: 6rem;
    left: calc(-6rem + 15px);
  }
  .p-mainPage .indexClassic .container .carousel .slick-prev:hover {
    opacity: 1;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.25));
  }
  .p-mainPage .indexClassic .container .carousel .slick-prev::before {
    display: block;
    background-size: contain !important;
  }
  .p-mainPage .indexClassic .container .carousel .slick-prev::before {
    width: 6rem;
    height: 6rem;
    font-size: 6rem;
    filter: brightness(0) saturate(100%) invert(64%) sepia(0%) saturate(200%) hue-rotate(79deg) brightness(98%) contrast(94%);
  }
  .p-mainPage .indexClassic .container .carousel .slick-prev::before {
    content: url(~/assets/img/icon/arrowLeft.svg) !important;
  }
}
@media (max-width: calc(576px + 6rem)) {
  .p-mainPage .indexClassic .container .carousel .slick-prev {
    z-index: 1000;
    opacity: 0.5;
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.15));
    width: 3rem;
    height: 3rem;
    left: 23px;
  }
  .p-mainPage .indexClassic .container .carousel .slick-prev:hover {
    opacity: 1;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.25));
  }
  .p-mainPage .indexClassic .container .carousel .slick-prev::before {
    display: block;
    background-size: contain !important;
  }
  .p-mainPage .indexClassic .container .carousel .slick-prev::before {
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
    filter: none;
  }
  .p-mainPage .indexClassic .container .carousel .slick-prev::before {
    content: url(~/assets/img/icon/carouselArrowLeft.svg) !important;
  }
}
.p-mainPage .indexMedia {
  padding: 8rem 0;
  background-color: #F5F5F5;
}
@media (max-width: 767px) {
  .p-mainPage .indexMedia {
    padding: 4rem 0;
  }
}
.p-mainPage .indexMedia .container {
  margin: -1rem auto;
}
.p-mainPage .indexMedia .container > * {
  margin: 1rem -15px;
}
.p-mainPage .indexMedia .container .mediaLogo img {
  width: 300px;
  filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.15));
}
@media (max-width: 991px) {
  .p-mainPage .indexMedia .container .mediaLogo img {
    width: 250px;
  }
}
@media (max-width: 767px) {
  .p-mainPage .indexMedia .container .mediaLogo img {
    width: 200px;
  }
}
.p-mainPage .indexMedia .container .carousel .slick-slide {
  opacity: 1;
}
.p-mainPage .indexMedia .container .carousel .slick-slide.slick-active {
  opacity: 1;
}
.p-mainPage .indexMedia .container .carousel .slick-slide .card {
  border: 0;
}
.p-mainPage .indexMedia .container .carousel .slick-next {
  z-index: 1000;
  opacity: 0.5;
  filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.15));
  width: 6rem;
  height: 6rem;
  right: calc(-6rem + 15px);
}
.p-mainPage .indexMedia .container .carousel .slick-next:hover {
  opacity: 1;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.25));
}
.p-mainPage .indexMedia .container .carousel .slick-next::before {
  display: block;
  background-size: contain !important;
}
.p-mainPage .indexMedia .container .carousel .slick-next::before {
  width: 6rem;
  height: 6rem;
  font-size: 6rem;
  filter: brightness(0) saturate(100%) invert(64%) sepia(0%) saturate(200%) hue-rotate(79deg) brightness(98%) contrast(94%);
}
.p-mainPage .indexMedia .container .carousel .slick-next::before {
  content: url(~/assets/img/icon/arrowRight.svg) !important;
}
@media (max-width: calc(1200px + 6rem)) {
  .p-mainPage .indexMedia .container .carousel .slick-next {
    z-index: 1000;
    opacity: 0.5;
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.15));
    width: 3rem;
    height: 3rem;
    right: 23px;
  }
  .p-mainPage .indexMedia .container .carousel .slick-next:hover {
    opacity: 1;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.25));
  }
  .p-mainPage .indexMedia .container .carousel .slick-next::before {
    display: block;
    background-size: contain !important;
  }
  .p-mainPage .indexMedia .container .carousel .slick-next::before {
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
    filter: none;
  }
  .p-mainPage .indexMedia .container .carousel .slick-next::before {
    content: url(~/assets/img/icon/carouselArrowRight.svg) !important;
  }
}
@media (max-width: 1199px) {
  .p-mainPage .indexMedia .container .carousel .slick-next {
    z-index: 1000;
    opacity: 0.5;
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.15));
    width: 6rem;
    height: 6rem;
    right: calc(-6rem + 15px);
  }
  .p-mainPage .indexMedia .container .carousel .slick-next:hover {
    opacity: 1;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.25));
  }
  .p-mainPage .indexMedia .container .carousel .slick-next::before {
    display: block;
    background-size: contain !important;
  }
  .p-mainPage .indexMedia .container .carousel .slick-next::before {
    width: 6rem;
    height: 6rem;
    font-size: 6rem;
    filter: brightness(0) saturate(100%) invert(64%) sepia(0%) saturate(200%) hue-rotate(79deg) brightness(98%) contrast(94%);
  }
  .p-mainPage .indexMedia .container .carousel .slick-next::before {
    content: url(~/assets/img/icon/arrowRight.svg) !important;
  }
}
@media (max-width: calc(992px + 6rem)) {
  .p-mainPage .indexMedia .container .carousel .slick-next {
    z-index: 1000;
    opacity: 0.5;
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.15));
    width: 3rem;
    height: 3rem;
    right: 23px;
  }
  .p-mainPage .indexMedia .container .carousel .slick-next:hover {
    opacity: 1;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.25));
  }
  .p-mainPage .indexMedia .container .carousel .slick-next::before {
    display: block;
    background-size: contain !important;
  }
  .p-mainPage .indexMedia .container .carousel .slick-next::before {
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
    filter: none;
  }
  .p-mainPage .indexMedia .container .carousel .slick-next::before {
    content: url(~/assets/img/icon/carouselArrowRight.svg) !important;
  }
}
@media (max-width: 991px) {
  .p-mainPage .indexMedia .container .carousel .slick-next {
    z-index: 1000;
    opacity: 0.5;
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.15));
    width: 6rem;
    height: 6rem;
    right: calc(-6rem + 15px);
  }
  .p-mainPage .indexMedia .container .carousel .slick-next:hover {
    opacity: 1;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.25));
  }
  .p-mainPage .indexMedia .container .carousel .slick-next::before {
    display: block;
    background-size: contain !important;
  }
  .p-mainPage .indexMedia .container .carousel .slick-next::before {
    width: 6rem;
    height: 6rem;
    font-size: 6rem;
    filter: brightness(0) saturate(100%) invert(64%) sepia(0%) saturate(200%) hue-rotate(79deg) brightness(98%) contrast(94%);
  }
  .p-mainPage .indexMedia .container .carousel .slick-next::before {
    content: url(~/assets/img/icon/arrowRight.svg) !important;
  }
}
@media (max-width: calc(768px + 6rem)) {
  .p-mainPage .indexMedia .container .carousel .slick-next {
    z-index: 1000;
    opacity: 0.5;
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.15));
    width: 3rem;
    height: 3rem;
    right: 23px;
  }
  .p-mainPage .indexMedia .container .carousel .slick-next:hover {
    opacity: 1;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.25));
  }
  .p-mainPage .indexMedia .container .carousel .slick-next::before {
    display: block;
    background-size: contain !important;
  }
  .p-mainPage .indexMedia .container .carousel .slick-next::before {
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
    filter: none;
  }
  .p-mainPage .indexMedia .container .carousel .slick-next::before {
    content: url(~/assets/img/icon/carouselArrowRight.svg) !important;
  }
}
@media (max-width: 767px) {
  .p-mainPage .indexMedia .container .carousel .slick-next {
    z-index: 1000;
    opacity: 0.5;
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.15));
    width: 6rem;
    height: 6rem;
    right: calc(-6rem + 15px);
  }
  .p-mainPage .indexMedia .container .carousel .slick-next:hover {
    opacity: 1;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.25));
  }
  .p-mainPage .indexMedia .container .carousel .slick-next::before {
    display: block;
    background-size: contain !important;
  }
  .p-mainPage .indexMedia .container .carousel .slick-next::before {
    width: 6rem;
    height: 6rem;
    font-size: 6rem;
    filter: brightness(0) saturate(100%) invert(64%) sepia(0%) saturate(200%) hue-rotate(79deg) brightness(98%) contrast(94%);
  }
  .p-mainPage .indexMedia .container .carousel .slick-next::before {
    content: url(~/assets/img/icon/arrowRight.svg) !important;
  }
}
@media (max-width: calc(576px + 6rem)) {
  .p-mainPage .indexMedia .container .carousel .slick-next {
    z-index: 1000;
    opacity: 0.5;
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.15));
    width: 3rem;
    height: 3rem;
    right: 23px;
  }
  .p-mainPage .indexMedia .container .carousel .slick-next:hover {
    opacity: 1;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.25));
  }
  .p-mainPage .indexMedia .container .carousel .slick-next::before {
    display: block;
    background-size: contain !important;
  }
  .p-mainPage .indexMedia .container .carousel .slick-next::before {
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
    filter: none;
  }
  .p-mainPage .indexMedia .container .carousel .slick-next::before {
    content: url(~/assets/img/icon/carouselArrowRight.svg) !important;
  }
}
.p-mainPage .indexMedia .container .carousel .slick-prev {
  z-index: 1000;
  opacity: 0.5;
  filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.15));
  width: 6rem;
  height: 6rem;
  left: calc(-6rem + 15px);
}
.p-mainPage .indexMedia .container .carousel .slick-prev:hover {
  opacity: 1;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.25));
}
.p-mainPage .indexMedia .container .carousel .slick-prev::before {
  display: block;
  background-size: contain !important;
}
.p-mainPage .indexMedia .container .carousel .slick-prev::before {
  width: 6rem;
  height: 6rem;
  font-size: 6rem;
  filter: brightness(0) saturate(100%) invert(64%) sepia(0%) saturate(200%) hue-rotate(79deg) brightness(98%) contrast(94%);
}
.p-mainPage .indexMedia .container .carousel .slick-prev::before {
  content: url(~/assets/img/icon/arrowLeft.svg) !important;
}
@media (max-width: calc(1200px + 6rem)) {
  .p-mainPage .indexMedia .container .carousel .slick-prev {
    z-index: 1000;
    opacity: 0.5;
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.15));
    width: 3rem;
    height: 3rem;
    left: 23px;
  }
  .p-mainPage .indexMedia .container .carousel .slick-prev:hover {
    opacity: 1;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.25));
  }
  .p-mainPage .indexMedia .container .carousel .slick-prev::before {
    display: block;
    background-size: contain !important;
  }
  .p-mainPage .indexMedia .container .carousel .slick-prev::before {
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
    filter: none;
  }
  .p-mainPage .indexMedia .container .carousel .slick-prev::before {
    content: url(~/assets/img/icon/carouselArrowLeft.svg) !important;
  }
}
@media (max-width: 1199px) {
  .p-mainPage .indexMedia .container .carousel .slick-prev {
    z-index: 1000;
    opacity: 0.5;
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.15));
    width: 6rem;
    height: 6rem;
    left: calc(-6rem + 15px);
  }
  .p-mainPage .indexMedia .container .carousel .slick-prev:hover {
    opacity: 1;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.25));
  }
  .p-mainPage .indexMedia .container .carousel .slick-prev::before {
    display: block;
    background-size: contain !important;
  }
  .p-mainPage .indexMedia .container .carousel .slick-prev::before {
    width: 6rem;
    height: 6rem;
    font-size: 6rem;
    filter: brightness(0) saturate(100%) invert(64%) sepia(0%) saturate(200%) hue-rotate(79deg) brightness(98%) contrast(94%);
  }
  .p-mainPage .indexMedia .container .carousel .slick-prev::before {
    content: url(~/assets/img/icon/arrowLeft.svg) !important;
  }
}
@media (max-width: calc(992px + 6rem)) {
  .p-mainPage .indexMedia .container .carousel .slick-prev {
    z-index: 1000;
    opacity: 0.5;
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.15));
    width: 3rem;
    height: 3rem;
    left: 23px;
  }
  .p-mainPage .indexMedia .container .carousel .slick-prev:hover {
    opacity: 1;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.25));
  }
  .p-mainPage .indexMedia .container .carousel .slick-prev::before {
    display: block;
    background-size: contain !important;
  }
  .p-mainPage .indexMedia .container .carousel .slick-prev::before {
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
    filter: none;
  }
  .p-mainPage .indexMedia .container .carousel .slick-prev::before {
    content: url(~/assets/img/icon/carouselArrowLeft.svg) !important;
  }
}
@media (max-width: 991px) {
  .p-mainPage .indexMedia .container .carousel .slick-prev {
    z-index: 1000;
    opacity: 0.5;
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.15));
    width: 6rem;
    height: 6rem;
    left: calc(-6rem + 15px);
  }
  .p-mainPage .indexMedia .container .carousel .slick-prev:hover {
    opacity: 1;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.25));
  }
  .p-mainPage .indexMedia .container .carousel .slick-prev::before {
    display: block;
    background-size: contain !important;
  }
  .p-mainPage .indexMedia .container .carousel .slick-prev::before {
    width: 6rem;
    height: 6rem;
    font-size: 6rem;
    filter: brightness(0) saturate(100%) invert(64%) sepia(0%) saturate(200%) hue-rotate(79deg) brightness(98%) contrast(94%);
  }
  .p-mainPage .indexMedia .container .carousel .slick-prev::before {
    content: url(~/assets/img/icon/arrowLeft.svg) !important;
  }
}
@media (max-width: calc(768px + 6rem)) {
  .p-mainPage .indexMedia .container .carousel .slick-prev {
    z-index: 1000;
    opacity: 0.5;
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.15));
    width: 3rem;
    height: 3rem;
    left: 23px;
  }
  .p-mainPage .indexMedia .container .carousel .slick-prev:hover {
    opacity: 1;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.25));
  }
  .p-mainPage .indexMedia .container .carousel .slick-prev::before {
    display: block;
    background-size: contain !important;
  }
  .p-mainPage .indexMedia .container .carousel .slick-prev::before {
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
    filter: none;
  }
  .p-mainPage .indexMedia .container .carousel .slick-prev::before {
    content: url(~/assets/img/icon/carouselArrowLeft.svg) !important;
  }
}
@media (max-width: 767px) {
  .p-mainPage .indexMedia .container .carousel .slick-prev {
    z-index: 1000;
    opacity: 0.5;
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.15));
    width: 6rem;
    height: 6rem;
    left: calc(-6rem + 15px);
  }
  .p-mainPage .indexMedia .container .carousel .slick-prev:hover {
    opacity: 1;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.25));
  }
  .p-mainPage .indexMedia .container .carousel .slick-prev::before {
    display: block;
    background-size: contain !important;
  }
  .p-mainPage .indexMedia .container .carousel .slick-prev::before {
    width: 6rem;
    height: 6rem;
    font-size: 6rem;
    filter: brightness(0) saturate(100%) invert(64%) sepia(0%) saturate(200%) hue-rotate(79deg) brightness(98%) contrast(94%);
  }
  .p-mainPage .indexMedia .container .carousel .slick-prev::before {
    content: url(~/assets/img/icon/arrowLeft.svg) !important;
  }
}
@media (max-width: calc(576px + 6rem)) {
  .p-mainPage .indexMedia .container .carousel .slick-prev {
    z-index: 1000;
    opacity: 0.5;
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.15));
    width: 3rem;
    height: 3rem;
    left: 23px;
  }
  .p-mainPage .indexMedia .container .carousel .slick-prev:hover {
    opacity: 1;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.25));
  }
  .p-mainPage .indexMedia .container .carousel .slick-prev::before {
    display: block;
    background-size: contain !important;
  }
  .p-mainPage .indexMedia .container .carousel .slick-prev::before {
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
    filter: none;
  }
  .p-mainPage .indexMedia .container .carousel .slick-prev::before {
    content: url(~/assets/img/icon/carouselArrowLeft.svg) !important;
  }
}
.p-mainPage .indexProducts {
  padding: 8rem 0;
}
@media (max-width: 767px) {
  .p-mainPage .indexProducts {
    padding: 4rem 0;
  }
}
.p-mainPage .indexProducts .container {
  margin: -1rem auto;
}
.p-mainPage .indexProducts .container > * {
  margin: 1rem -15px;
}
.p-mainPage .indexProducts .container .cardGroup > * {
  margin: 1rem auto;
}
.p-mainPage .indexPartners {
  padding: 8rem 0;
  background-color: #F5F5F5;
}
@media (max-width: 767px) {
  .p-mainPage .indexPartners {
    padding: 4rem 0;
  }
}
.p-mainPage .indexPartners .container-fuild {
  margin: -4rem auto;
}
.p-mainPage .indexPartners .container-fuild > * {
  margin: 4rem -15px;
}
.p-mainPage .indexPartners .container-fuild .carousel {
  filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.15));
}
.p-mainPage .indexPartners .container-fuild .carousel .logo:hover img {
  border-radius: 1rem 0 1rem 0;
}
.p-mainPage .indexPartners .container-fuild .carousel .logo img {
  width: 150px;
  border-radius: 50%;
  transition: 0.3s;
}
.p-mainPage .indexContactUs {
  padding: 4rem 0 0 0;
}
.p-mainPage .indexContactUs .buttonGroup {
  display: flex;
  margin: 0 -15px;
}
.p-mainPage .indexContactUs .buttonGroup > * {
  margin: 0 15px;
}
@media (max-width: 767px) {
  .p-mainPage .indexContactUs .buttonGroup {
    margin: 0 -0.5rem;
  }
  .p-mainPage .indexContactUs .buttonGroup > * {
    margin: 0 0.5rem;
  }
}
.p-mainPage .indexContactUs .contactUsBanner img {
  width: 350px;
}
@media (max-width: 767px) {
  .p-mainPage .indexContactUs .contactUsBanner img {
    width: 250px;
  }
}
@media (max-width: 575px) {
  .p-mainPage .indexContactUs .contactUsBanner img {
    width: 200px;
  }
}

.p-landingPage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
@media (max-width: 1199px) {
  .p-landingPage .top {
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.15));
  }
}
.p-landingPage .top .landingPageBanner {
  border-radius: 1.5rem 0 1.5rem 0;
  overflow: hidden;
}
.p-landingPage .top .landingPageBanner img {
  width: 100%;
}
@media (max-width: 1199px) {
  .p-landingPage .top .landingPageBanner {
    border-radius: 1rem 0 0 0;
  }
}
.p-landingPage .top .landingPageIntroduction {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.15));
  background-color: white;
  border-radius: 1rem 0 1rem 0;
  height: 100%;
}
@media (max-width: 1199px) {
  .p-landingPage .top .landingPageIntroduction {
    filter: none;
    border-radius: 0 0 1rem 0;
  }
}
.p-landingPage .top .landingPageIntroduction .infomationGroup {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: -0.25rem 0;
}
.p-landingPage .top .landingPageIntroduction .infomationGroup > * {
  margin: 0.25rem 0;
}
.p-landingPage .top .landingPageIntroduction .infomationGroup .breadCrumbs {
  display: flex;
}
.p-landingPage .top .landingPageIntroduction .infomationGroup .breadCrumbs a {
  font-size: 0.75rem;
  color: #9E9E9E;
}
.p-landingPage .top .landingPageIntroduction .infomationGroup .supplier {
  display: flex;
  align-items: center;
}
.p-landingPage .top .landingPageIntroduction .infomationGroup .supplier img {
  width: 2.25rem;
  border-radius: 100%;
  margin-right: 0.25rem;
}
.p-landingPage .top .landingPageIntroduction .infomationGroup .supplier p {
  font-size: 0.75rem;
  color: #9E9E9E;
}
.p-landingPage .top .landingPageIntroduction .infomationGroup .accumulationAmount, .p-landingPage .top .landingPageIntroduction .infomationGroup .accumulationSponsor, .p-landingPage .top .landingPageIntroduction .infomationGroup .countDown {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.p-landingPage .top .landingPageIntroduction .infomationGroup .accumulationAmount .title p, .p-landingPage .top .landingPageIntroduction .infomationGroup .accumulationSponsor .title p, .p-landingPage .top .landingPageIntroduction .infomationGroup .countDown .title p {
  font-size: 1rem;
  font-weight: bold;
  color: #9E9E9E;
}
.p-landingPage .top .landingPageIntroduction .infomationGroup .accumulationAmount .amount, .p-landingPage .top .landingPageIntroduction .infomationGroup .accumulationSponsor .amount, .p-landingPage .top .landingPageIntroduction .infomationGroup .countDown .amount {
  display: flex;
  align-items: center;
  margin: 0 -1px;
}
.p-landingPage .top .landingPageIntroduction .infomationGroup .accumulationAmount .amount > *, .p-landingPage .top .landingPageIntroduction .infomationGroup .accumulationSponsor .amount > *, .p-landingPage .top .landingPageIntroduction .infomationGroup .countDown .amount > * {
  margin: 0 1px;
}
.p-landingPage .top .landingPageIntroduction .infomationGroup .accumulationAmount .amount .number p, .p-landingPage .top .landingPageIntroduction .infomationGroup .accumulationSponsor .amount .number p, .p-landingPage .top .landingPageIntroduction .infomationGroup .countDown .amount .number p {
  font-size: 1.5rem;
  color: #212121;
  font-weight: bold;
}
.p-landingPage .top .landingPageIntroduction .infomationGroup .accumulationAmount .amount .unit p, .p-landingPage .top .landingPageIntroduction .infomationGroup .accumulationSponsor .amount .unit p, .p-landingPage .top .landingPageIntroduction .infomationGroup .countDown .amount .unit p {
  font-size: 1rem;
  color: #9E9E9E;
  font-weight: bold;
}
.p-landingPage .top .landingPageIntroduction .infomationGroup .barData {
  height: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.p-landingPage .top .landingPageIntroduction .infomationGroup .barData .barContainer {
  width: 100%;
  height: 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: #E0E0E0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.p-landingPage .top .landingPageIntroduction .infomationGroup .barData .barContainer .percentage {
  z-index: 1000;
  filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.15));
}
.p-landingPage .top .landingPageIntroduction .infomationGroup .barData .barContainer .bar {
  position: absolute;
  left: 0rem;
  width: 50%;
  height: 1rem;
  background-color: #FBC100;
  border-radius: 0.5rem;
}
.p-landingPage .top .landingPageIntroduction .infomationGroup .goalPrice, .p-landingPage .top .landingPageIntroduction .infomationGroup .startingDate, .p-landingPage .top .landingPageIntroduction .infomationGroup .expirationDate {
  display: flex;
  justify-content: space-between;
}
.p-landingPage .top .landingPageIntroduction .infomationGroup .goalPrice .title p, .p-landingPage .top .landingPageIntroduction .infomationGroup .goalPrice .data p, .p-landingPage .top .landingPageIntroduction .infomationGroup .startingDate .title p, .p-landingPage .top .landingPageIntroduction .infomationGroup .startingDate .data p, .p-landingPage .top .landingPageIntroduction .infomationGroup .expirationDate .title p, .p-landingPage .top .landingPageIntroduction .infomationGroup .expirationDate .data p {
  font-size: 0.75rem;
  color: #9E9E9E;
  font-weight: bold;
}
.p-landingPage .top .landingPageIntroduction .buttonGroup {
  display: flex;
  margin: 0.5rem -0.5rem 0 -0.5rem;
}
.p-landingPage .top .landingPageIntroduction .buttonGroup > * {
  margin: 0 0.5rem;
}
.p-landingPage .landingPageNavBar {
  z-index: 1000;
  position: sticky;
  top: 0;
}
.p-landingPage .bottom .left {
  padding: 1rem 15px;
}
.p-landingPage .bottom .left .landingPageContent {
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  overflow: hidden;
}
.p-landingPage .bottom .left .landingPageContent.show {
  height: -moz-fit-content;
  height: fit-content;
}
.p-landingPage .bottom .left .landingPageContent.show .showButton {
  display: none;
}
@media (max-width: 991px) {
  .p-landingPage .bottom .left .landingPageContent {
    height: 500px;
  }
}
.p-landingPage .bottom .left .landingPageContent .contentGroup {
  position: relative;
}
.p-landingPage .bottom .left .landingPageContent .showButton {
  display: none;
  position: absolute;
  bottom: 0;
  justify-content: center;
  align-items: flex-end;
  background: linear-gradient(rgba(255, 255, 255, 0), white);
  width: 100%;
  height: 300px;
}
@media (max-width: 991px) {
  .p-landingPage .bottom .left .landingPageContent .showButton {
    display: flex;
  }
}
.p-landingPage .bottom .right {
  height: -moz-fit-content;
  height: fit-content;
  padding: 1rem 15px;
}
@media (min-width: 992px) {
  .p-landingPage .bottom .right {
    position: sticky;
    height: calc(100vh - 56px);
    top: 56px;
    overflow: auto;
  }
}
.p-landingPage .bottom .right .cardGroup {
  display: flex;
  flex-direction: column;
  margin: -0.5rem 0;
}
.p-landingPage .bottom .right .cardGroup > * {
  margin: 0.5rem 0;
}
.p-landingPage .bottom .right .cardGroup .supplierCard {
  background-color: white;
  filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.15));
  padding: 1rem;
  border-radius: 1rem 0 1rem 0;
}
.p-landingPage .bottom .right .cardGroup .supplierCard .infomationGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -0.5rem 0;
}
.p-landingPage .bottom .right .cardGroup .supplierCard .infomationGroup > * {
  margin: 0.5rem 0;
}
.p-landingPage .bottom .right .cardGroup .supplierCard .infomationGroup .profileImg img {
  width: 4rem;
  border-radius: 50%;
}
.p-landingPage .bottom .right .cardGroup .supplierCard .infomationGroup .supplierName p {
  font-weight: bold;
  color: #9E9E9E;
}
.p-landingPage .bottom .right .cardGroup .supplierCard .infomationGroup .discription {
  height: 100px;
  overflow: hidden;
  position: relative;
}
.p-landingPage .bottom .right .cardGroup .supplierCard .infomationGroup .discription.show {
  height: -moz-fit-content;
  height: fit-content;
}
.p-landingPage .bottom .right .cardGroup .supplierCard .infomationGroup .discription.show .showButton {
  display: none;
}
.p-landingPage .bottom .right .cardGroup .supplierCard .infomationGroup .discription p {
  color: #9E9E9E;
}
.p-landingPage .bottom .right .cardGroup .supplierCard .infomationGroup .discription .showButton {
  bottom: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: linear-gradient(rgba(255, 255, 255, 0), white);
  width: 100%;
  height: 100px;
}
.p-landingPage .bottom .right .cardGroup .supplierCard .infomationGroup .discription .showButton a {
  display: flex;
  justify-content: center;
}
.p-landingPage .bottom .right .cardGroup .supplierCard .infomationGroup .discription .showButton a p {
  color: #193563;
  font-weight: bold;
}
.p-landingPage .bottom .right .cardGroup .supplierCard .infomationGroup .discription .showButton a img {
  width: 1.5rem;
  filter: brightness(0) saturate(100%) invert(19%) sepia(21%) saturate(1744%) hue-rotate(177deg) brightness(100%) contrast(98%);
}
.p-landingPage .bottom .right .cardGroup .supplierCard .infomationGroup .buttonGroup {
  display: flex;
  width: 100%;
}
.p-landingPage .bottom .right .cardGroup .supplierCard .infomationGroup .buttonGroup div:first-child {
  margin: 0 1rem 0 0;
}
@media (max-width: 1199px) {
  .p-landingPage .bottom .right .cardGroup .supplierCard .infomationGroup .buttonGroup {
    flex-direction: column;
  }
  .p-landingPage .bottom .right .cardGroup .supplierCard .infomationGroup .buttonGroup div:first-child {
    margin: 0 0 0.5rem 0;
  }
}
@media (max-width: 991px) {
  .p-landingPage .bottom .right .cardGroup .supplierCard .infomationGroup .buttonGroup {
    flex-direction: row;
  }
  .p-landingPage .bottom .right .cardGroup .supplierCard .infomationGroup .buttonGroup div:first-child {
    margin: 0 1rem 0 0;
  }
}
.p-landingPage .footerMobileMargin {
  margin: 0;
}
@media (max-width: 991px) {
  .p-landingPage .footerMobileMargin {
    margin-bottom: 4.5rem;
  }
}

.p-search {
  display: flex;
  flex-direction: column;
  margin-top: -1rem;
  margin-bottom: -1rem;
}
.p-search > * {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.p-search .searchCrowdfunding {
  display: flex;
  flex-direction: column;
  margin: -0.5rem -15px;
}
.p-search .searchCrowdfunding > * {
  margin: 0.5rem 0;
}
.p-search .searchCrowdfunding .searchNavBar {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}
.p-search .searchCrowdfunding .searchNavBar::after {
  content: "";
  border: 0.5px solid #E0E0E0;
  position: absolute;
  bottom: 0;
  left: 15px;
  width: calc(100% - 30px);
}
@media (max-width: 991px) {
  .p-search .searchCrowdfunding .searchNavBar::after {
    bottom: 56px;
  }
}
.p-search .searchCrowdfunding .searchNavBar::before {
  content: "";
  border: 0.5px solid #E0E0E0;
  position: absolute;
  top: 0;
  left: 15px;
  width: calc(100% - 30px);
}
.p-search .searchCrowdfunding .searchNavBar .buttonGroup {
  display: flex;
}
@media (max-width: 991px) {
  .p-search .searchCrowdfunding .searchNavBar .buttonGroup > * {
    width: 100%;
  }
  .p-search .searchCrowdfunding .searchNavBar .buttonGroup > * a {
    width: 100%;
  }
  .p-search .searchCrowdfunding .searchNavBar .buttonGroup > * a p {
    text-align: center;
  }
}
.p-search .searchCrowdfunding .searchNavBar .filterGroup {
  display: flex;
  align-items: center;
}
.p-search .searchCrowdfunding .cardGroup {
  margin: -0.5rem auto;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.p-search .searchCrowdfunding .cardGroup > * {
  margin: 0.5rem 0;
}
.p-search .searchMedia {
  display: flex;
  flex-direction: column;
  margin: -0.5rem -15px;
}
.p-search .searchMedia > * {
  margin: 0.5rem 0;
}
.p-search .searchMedia .searchNavBar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  position: relative;
  padding: 0.5rem 0;
}
.p-search .searchMedia .searchNavBar::after {
  content: "";
  border: 0.5px solid #E0E0E0;
  position: absolute;
  bottom: 0;
  left: 15px;
  width: calc(100% - 30px);
}
.p-search .searchMedia .searchNavBar::before {
  content: "";
  border: 0.5px solid #E0E0E0;
  position: absolute;
  top: 0;
  left: 15px;
  width: calc(100% - 30px);
}
@media (max-width: 991px) {
  .p-search .searchMedia .searchNavBar::after, .p-search .searchMedia .searchNavBar::before {
    border: 0;
  }
}
.p-search .searchMedia .searchNavBar .filterGroup {
  display: flex;
  align-items: center;
}
.p-search .searchMedia .cardGroup {
  margin: -0.5rem auto;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.p-search .searchMedia .cardGroup > * {
  margin: 0.5rem 0;
}

.p-account {
  display: flex;
  flex-direction: column;
}
.p-account .underLineLink a {
  color: #193563;
  text-decoration: underline;
  font-weight: bold;
}
.p-account .formGroup {
  display: flex;
  flex-direction: column;
  margin: -0.5rem 0;
}
.p-account .formGroup > * {
  margin: 0.5rem 0;
}
.p-account .formGroup .inputGroup {
  display: flex;
  margin: 0 -0.5rem;
}
.p-account .formGroup .inputGroup > * {
  margin: 0 0.5rem;
}
@media (max-width: 767px) {
  .p-account .formGroup .inputGroup {
    flex-direction: column;
    margin: -0.5rem 0;
  }
  .p-account .formGroup .inputGroup > * {
    margin: 0.5rem 0;
  }
}
.p-account .accountContent {
  padding-top: 8rem;
  padding-bottom: 8rem;
  display: flex;
  flex-direction: column;
  margin: -1rem -15px;
}
@media (max-width: 767px) {
  .p-account .accountContent {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
.p-account .accountContent > * {
  margin: 1rem 0;
}
.p-account .accountContent .titleGroup {
  display: flex;
  flex-direction: column;
  margin: -0.5rem 0;
}
.p-account .accountContent .titleGroup > * {
  margin: 0.5rem 0;
}
.p-account .accountContent .ssoButtonGroup {
  display: flex;
  flex-direction: column;
  margin: -0.5rem 0;
}
.p-account .accountContent .ssoButtonGroup > * {
  margin: 0.5rem 0;
}
.p-account .accountContent .ssoButtonGroup .ssoButton:hover a {
  outline: 2px solid #193563;
  background-color: transparent;
  color: #193563;
}
.p-account .accountContent .ssoButtonGroup .ssoButton:hover a img {
  filter: none;
}
.p-account .accountContent .seperationLine {
  display: flex;
  align-items: center;
}
.p-account .accountContent .seperationLine p {
  margin: 0 0.5rem;
}
.p-account .accountContent .seperationLine .line {
  flex-grow: 1;
  height: 1px;
  border: 1px solid #9E9E9E;
}
.p-account .accountContent .formGroup {
  display: flex;
  flex-direction: column;
  margin: -0.5rem 0;
}
.p-account .accountContent .formGroup > * {
  margin: 0.5rem 0;
}
.p-account .accountContent .formGroup .inputGroup {
  display: flex;
  margin: 0 -0.5rem;
}
.p-account .accountContent .formGroup .inputGroup > * {
  margin: 0 0.5rem;
}
@media (max-width: 767px) {
  .p-account .accountContent .formGroup .inputGroup {
    flex-direction: column;
    margin: -0.5rem 0;
  }
  .p-account .accountContent .formGroup .inputGroup > * {
    margin: 0.5rem 0;
  }
}
.p-account .accountContent .buttonGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -0.5rem 0;
}
.p-account .accountContent .buttonGroup > * {
  margin: 0.5rem 0;
}

.p-user {
  display: flex;
  flex-direction: column;
}
.p-user .formGroup {
  display: flex;
  flex-direction: column;
  margin: -0.5rem 0;
}
.p-user .formGroup > * {
  margin: 0.5rem 0;
}
.p-user .formGroup .inputGroup {
  display: flex;
  margin: 0 -0.5rem;
}
.p-user .formGroup .inputGroup > * {
  margin: 0 0.5rem;
}
@media (max-width: 767px) {
  .p-user .formGroup .inputGroup {
    flex-direction: column;
    margin: -0.5rem 0;
  }
  .p-user .formGroup .inputGroup > * {
    margin: 0.5rem 0;
  }
}
.p-user .userContent {
  display: flex;
  flex-direction: column;
  margin: 1.5rem -15px;
}
.p-user .userContent > * {
  margin: 0.5rem 0;
}
.p-user .userContent .profile {
  display: flex;
  flex-direction: column;
  margin: -0.25rem 0;
}
.p-user .userContent .profile > * {
  margin: 0.25rem 0;
}
.p-user .userContent .profile .photo img {
  width: 8rem;
  border-radius: 8rem;
  overflow: hidden;
}
@media (min-width: 768px) {
  .p-user .userContent .profile .editButton {
    width: -moz-fit-content;
    width: fit-content;
  }
}

html, body {
  font-family: "Noto Sans", sans-serif;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, a, p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}/*# sourceMappingURL=main.css.map */