.p-account{
    display: flex;
    flex-direction: column;
    .underLineLink{
        a{
            color: $myfeelMajor;
            text-decoration: underline;
            font-weight: bold;
        }
    }
    .formGroup {
        display: flex;
        flex-direction: column;
        margin: -0.5rem 0;

        &>* {
            margin: 0.5rem 0;
        }

        .inputGroup {
            display: flex;
            margin: 0 -0.5rem;

            &>* {
                margin: 0 0.5rem;
            }

            @include max-md {
                flex-direction: column;
                margin: -0.5rem 0;

                &>* {
                    margin: 0.5rem 0;
                }
            }
        }
    }
    .accountContent{
        padding-top: 8rem;
        padding-bottom: 8rem;
        @include max-md{
            padding-top: 4rem;
            padding-bottom: 4rem;
        }
        display: flex;
        flex-direction: column;
        margin: -1rem -15px;

        &>* {
            margin: 1rem 0;
        }
        .titleGroup {
            display: flex;
            flex-direction: column;
            margin: -0.5rem 0;
            &>* {
                margin: 0.5rem 0;
            }
        }
        .ssoButtonGroup{
            display: flex;
            flex-direction: column;
            margin: -0.5rem 0;
            & > *{
                margin: 0.5rem 0;
            }
            .ssoButton {
                &:hover {
                    a {
                        outline: 2px solid $myfeelMajor;
                        background-color: transparent;
                        color: $myfeelMajor;
        
                        img {
                            filter: none;
                        }
                    }
        
                }
            }
        }
        .seperationLine{
            display: flex;
            align-items: center;
            p{
                margin: 0 0.5rem;
            }
            .line{
                flex-grow: 1;
                height: 1px;
                border: 1px solid $gray500;
            }
        }
        .formGroup{
            display: flex;
            flex-direction: column;
            margin: -0.5rem 0;
            & > * {
                margin: 0.5rem 0;
            }
            .inputGroup{
                display: flex;
                margin: 0 -0.5rem;
                &>* {
                    margin: 0 0.5rem;
                }
                @include max-md{
                    flex-direction: column;
                    margin: -0.5rem 0;
                    &>* {
                        margin: 0.5rem 0;
                    }
                }
            }
        }
        .buttonGroup {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: -0.5rem 0;
            &>* {
                margin: 0.5rem 0;
            }
        }
    }
}