.p-landingPage{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    .top{
        // display: flex;
        @include max-xl{
            // background-color: white;
            filter: drop-shadow($dropShadow);
        }
        .landingPageBanner{
            border-radius: 1.5rem 0 1.5rem 0;
            overflow: hidden;
            img{
                width: 100%;
            }
            @include max-xl{
                border-radius: 1rem 0 0 0;
            }
        }
        .landingPageIntroduction{
            display: flex;
            flex-direction: column;
            padding: 1rem;
            filter: drop-shadow($dropShadow);
            background-color: white;
            border-radius: 1rem 0 1rem 0;
            height: 100%;
            @include max-xl{
                filter: none;
                border-radius: 0 0 1rem 0;
            }
            .infomationGroup{
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                margin: -0.25rem 0;
                &>*{
                    margin: 0.25rem 0;
                }
                .breadCrumbs{
                    display: flex;
                    // height: 18px;
                    a{
                        font-size: 0.75rem;
                        color: $gray500;
                    }
                }
                .supplier{
                    display: flex;
                    align-items: center;
                    img{
                        width: 2.25rem;
                        border-radius: 100%;
                        margin-right: 0.25rem;
                    }
                    p{
                        font-size: 0.75rem;
                        color: $gray500;
                    }
                }
                .accumulationAmount,.accumulationSponsor,.countDown{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .title{
                        p{
                            font-size: 1rem;
                            font-weight: bold;
                            color: $gray500;
                        }
                    }
                    .amount{
                        display: flex;
                        align-items: center;
                        margin: 0 -1px;
                        &>*{
                            margin: 0 1px;
                        }
                        .number{
                            p{
                                font-size: 1.5rem;
                                color: $gray900;
                                font-weight: bold;
                            }
                        }
                        .unit{
                            p{
                                font-size: 1rem;
                                color: $gray500;
                                font-weight: bold;
                            }
                        }
                    }
                }
                .barData{
                    height: 2.25rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .barContainer{
                        width: 100%;
                        height: 1rem;
                        border-radius: 0.5rem;
                        overflow: hidden;
                        background-color: $gray300;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        .percentage{
                            z-index: 1000;
                            filter: drop-shadow($dropShadow);
                        }
                        .bar{
                            position: absolute;
                            left: 0rem;
                            width: 50%;
                            height: 1rem;
                            background-color: $myfeelYellow;
                            border-radius: 0.5rem;
                        }
                    }  
                }
                .goalPrice,.startingDate,.expirationDate{
                    display: flex;
                    justify-content: space-between;
                    .title,.data{
                        p{
                            font-size: 0.75rem;
                            color:$gray500;
                            font-weight: bold;
                        }
                    }
                }
            }
            .buttonGroup{
                display: flex;
                margin: 0.5rem -0.5rem 0 -0.5rem;
                &>*{
                    margin: 0 0.5rem;
                }
            }
        }
    }
    .landingPageNavBar{
        z-index: 1000;
        position: sticky;
        top: 0;
    }
    .bottom{
        .left {
            padding: 1rem 15px;
            .landingPageContent {
                height: fit-content;
                position: relative;
                overflow: hidden;
                &.show {
                    height: fit-content;
        
                    .showButton {
                        display: none;
                    }
                }
        
                @include max-lg {
                    height: 500px;
                }
        
                .contentGroup {
                    position: relative;
                }
        
                .showButton {
                    display: none;
                    position: absolute;
                    bottom: 0;
                    justify-content: center;
                    align-items: flex-end;
                    background: linear-gradient(rgba(white, 0), white);
                    width: 100%;
                    height: 300px;
        
                    @include max-lg {
                        display: flex;
                    }
                }
            }
        }
        .right{
            height: fit-content;
            @include min-lg{
                position: sticky;
                height: calc(100vh - 56px);
                top: 56px;
                overflow: auto;
            }
            padding: 1rem 15px;
            .cardGroup {
                display: flex;
                flex-direction: column;
                margin: -0.5rem 0;
                &>* {
                    margin: 0.5rem 0;
                }
        
                .supplierCard {
                    background-color: white;
                    filter: drop-shadow($dropShadow);
                    padding: 1rem;
                    border-radius: 1rem 0 1rem 0;
        
                    .infomationGroup {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin: -0.5rem 0;
        
                        &>* {
                            margin: 0.5rem 0;
                        }
        
                        .profileImg {
                            img {
                                width: 4rem;
                                border-radius: 50%;
                            }
                        }
        
                        .supplierName {
                            p {
                                font-weight: bold;
                                color: $gray500;
                            }
                        }
        
                        .discription {
                            height: 100px;
                            overflow: hidden;
                            position: relative;
        
                            &.show {
                                height: fit-content;
        
                                .showButton {
                                    display: none;
                                }
                            }
        
                            p {
                                color: $gray500;
                            }
        
                            .showButton {
                                bottom: 0;
                                position: absolute;
                                display: flex;
                                justify-content: center;
                                align-items: flex-end;
                                background: linear-gradient(rgba(white, 0), white);
                                width: 100%;
                                height: 100px;
        
                                a {
                                    display: flex;
                                    justify-content: center;
        
                                    p {
                                        color: $myfeelMajor;
                                        font-weight: bold;
                                    }
        
                                    img {
                                        width: 1.5rem;
                                        filter: $myfeelMajorFilter;
                                    }
                                }
                            }
                        }
        
                        .buttonGroup {
                            display: flex;
                            width: 100%;
                            div:first-child{
                                margin: 0 1rem 0 0;
                            }
                            @include max-xl{
                                flex-direction: column;
                                div:first-child {
                                    margin: 0 0 0.5rem 0;
                                }
                            }
                            @include max-lg{
                                flex-direction: row;
                                div:first-child {
                                    margin: 0 1rem 0 0;
                                }
                            }
                        }
                    }
                }
            }
        }
        
        
    }
    .footerMobileMargin{
        margin: 0;
        @include max-lg{
            margin-bottom: 4.5rem;
        }
    }
}