@mixin indexClassicCarouselArrow($direction, $type: "default") {
    z-index: 1000;
    opacity: .5;
    filter: drop-shadow($dropShadow);
    &:hover {
        opacity: 1;
        filter: drop-shadow($dropShadowHover);
    }
    &::before {
        display: block;
        background-size: contain !important;
    }

    @if $type =="default" {
        width: 6rem;
        height: 6rem;
        &::before {
            width: 6rem;
            height: 6rem;
            font-size: 6rem;
            filter: $gray500Filter;
        }
        @if $direction =="right" {
            right: calc( -6rem + 15px);
            &::before {
                content: url(~/assets/img/icon/arrowRight.svg) !important;
            }
        }
        @else if $direction =="left" {
            left: calc(-6rem + 15px);
            &::before {
                content: url(~/assets/img/icon/arrowLeft.svg) !important;
            }
        }
    }
    @else if $type =="inCarousel" {
        width: 3rem;
        height: 3rem;
        &::before {
            width: 3rem;
            height: 3rem;
            font-size: 3rem;
            filter: none;
        }
        @if $direction =="right" {
            right: calc(15px + 8px);
            &::before{
                content: url(~/assets/img/icon/carouselArrowRight.svg) !important;
            }
        }
        @else if $direction =="left" {
            left: calc(15px + 8px);
            &::before {
                content: url(~/assets/img/icon/carouselArrowLeft.svg) !important;
            }
        }
    }
}

.p-mainPage{
    display: flex;
    flex-direction: column;
    .indexCarousel{
        margin-top: 1rem;
        margin-bottom: 2rem;
        @include max-md{
            margin-top: 0;
        }
        .slick-slide{
            padding: 0 15px;
            opacity: 0.5;
            &.slick-active{
                opacity: 1;
            }
            @include max-md {
                padding: 0;
            }
            .indexBanner{
                border-radius: 2.5rem 0 2.5rem 0;
                overflow: hidden;
                filter: drop-shadow($dropShadow);
                transition: 0.3s;
                display: flex;
                flex-direction: column;
                @include max-md{
                    border-radius: 0;
                }
                &:hover{
                    // filter: drop-shadow($dropShadowHover);
                    .imgBox{
                        img{
                            transform: scale(1.05);
                        }
                    }
                    .indexBannerData{
                        bottom: 0;
                        opacity: 1;
                    }
                }
                .imgBox{
                    max-width: 1110px;
                    @media (max-width: $carouselBreakPointXL) {
                        width: $breakpoint-lg;
                    }
                    @include max-lg {
                        width: $breakpoint-md;
                    }
                    @include max-md {
                        width: 100vw;
                    }
                    img{
                        width: 100%;
                        transition: 0.3s;
                    }
                }
                .indexBannerData{
                    padding: 1.5rem 2rem;
                    background-color: rgba(white, 0.9);
                    position: absolute;
                    width: 100%;
                    bottom: -104px;
                    opacity: 0;
                    transition: 0.3s;
                    @include max-md{
                        padding: 1rem;
                        width: 100vw;
                        position: relative;
                        bottom: 0;
                        opacity: 1;
                        background-color: rgba(white, 1);
                    }
                    .leftData{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        .supplier{
                            p{
                                font-size: 0.75rem;
                                color: $gray500;
                            }
                        }
                        .title{
                            p{
                                font-size: 1rem;
                                font-weight: bold;
                                color: $gray900;
                                overflow: hidden;
                                display: -webkit-box;
                                -webkit-line-clamp: 1; // 行數
                                -webkit-box-orient: vertical;
                                white-space: normal;
                            }
                        }
                    }
                    .rightData{
                        display: flex;
                        flex-direction: column;
                        margin: -0.125rem 0;
                        & > *{
                            margin: 0.125rem 0;
                        }
                        .topData{
                            display: flex;
                            justify-content: space-between;
                            .accumulationAmount{
                                p{
                                    font-size: 1rem;
                                    font-weight: bold;
                                    color: $gray900;
                                }
                            }
                            .countDown{
                                p{
                                    font-size: 0.75rem;
                                    font-weight: bold;
                                    color: $myfeelYellow;
                                }
                            }
                        }
                        .dataBar{
                            background-color: $gray300;
                            border-radius: 3px;
                            height: 6px;
                            width: 100%;
                        }
                        .bottomData{
                            display: flex;
                            justify-content:space-between;
                            .accumulationSponsor, .accumulationPercentage{
                                font-size: 0.75rem;
                                color: $gray500;
                            }
                        }
                    }
                }
            }
        }
        .slick-next, .slick-prev{
            width: 6rem;
            height: 6rem;
            z-index: 1000;
            opacity: .5;
            filter: drop-shadow($dropShadow);
            &:hover{
                opacity: 1;
            }
            &::before{
                width: 6rem;
                height: 6rem;
                background-size: contain !important;
                font-size: 6rem;
            }
        }
        .slick-next {
            right: calc(50% - 1110px / 2);
            @media (max-width: $carouselBreakPointXL) {
                // right: calc(50% - $breakpoint-lg / 2);
                right: calc(50% - 992px / 2);
            }
            @include max-lg {
                // right: calc(50% - $breakpoint-md / 2);
                right: calc(50% - 768px / 2);
            }
            @include max-md {
                right: 0.5rem;
            }
            @include max-sm{
                right: 0;
            }
            &::before{
                width: 2rem;
                content: url(~/assets/img/icon/arrowRight.svg) !important;
            }
        }
        .slick-prev {
            left: calc(50% - 1110px / 2);
            @media (max-width: $carouselBreakPointXL) {
                // left: calc(50% - $breakpoint-lg / 2);
                left: calc(50% - 992px / 2);
            }
            @include max-lg {
                // left: calc(50% - $breakpoint-md / 2);
                left: calc(50% - 768px / 2);
            }
            @include max-md {
                left: 0.5rem;
            }
            @include max-sm{
                left: 0;
            }
            &::before {
                width: 2rem;
                content: url(~/assets/img/icon/arrowLeft.svg) !important;
            }
        }
        .slick-dots{
            li{
                width: 12px;
                height: 12px;
                margin: 0 .25rem;
                button{
                    width: 12px;
                    height: 12px;
                    padding: 0;
                    &:hover{
                        &::before{
                            opacity: 1;
                        }
                    }
                    &::before{
                        font-size: 12px;
                        line-height: 12px;
                        position: relative;
                        opacity: .5;
                        color: $gray500;
                    }
                }
                &.slick-active{
                    button{
                        &::before{
                            color: $gray500;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    .indexCrowdfunding{
        background-color: $gray100;
        padding: 8rem 0;
        @include max-md{
            padding: 4rem 0;
        }
        .container{
            margin: -1rem auto;
            & > *{
                margin: 1rem -15px;
            }
            .cardGroup{
                // margin: -1rem auto;
                & > *{
                    margin: 1rem auto;
                }
            }
        }
    }
    .indexAboutUs{
        padding: 8rem 0;
        @include max-md{
            padding: 4rem 0;
        }
        background-image: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(~/assets/img/index/indexAboutUsBanner.jpg);
        background-position: center, center;
        background-repeat: no-repeat, no-repeat;
        background-size: cover, cover;
        & > *{
            filter: drop-shadow($dropShadow);
        }
        .container{
            margin: -4rem auto;
            & > *{
                margin: 4rem -15px;
            }
            .aboutUsTitle{
                h2{
                    color: white;
                }
            }
            .aboutUsData{
                .accumulationProject, .accumulationAmount, .accumulationSponsor{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .accumulationNumber{
                        h2{
                            color: $myfeelYellow;
                        }
                    }
                    .accumulationTitle{
                        p{
                            color: white;
                            font-weight: normal;
                        }
                    }
                }
            }
            .aboutUsDiscription{
                justify-content: center;
                p{ 
                    text-align: center;
                    color: white;
                }
            }
        }
    }
    .indexComingSoon{
        background-color: white;
        padding: 8rem 0;
        @include max-md{
            padding: 4rem 0;
        }
        .container{
            margin: -1rem auto;
            & > *{
                margin: 1rem -15px;
            }
            .cardGroup{
                // margin: -1rem auto;
                & > *{
                    margin: 1rem auto;
                }
            }
        }
    }
    .indexRankingList {
        background-color: $myfeelMajor;
        padding: 8rem 0;
        @include max-md {
            padding: 4rem 0;
        }
        .container {
            margin: -1rem auto;
            &>* {
                margin: 1rem -15px;
            }
            .cardGroup {
                &>* {
                    margin: 1rem auto;
                }
                .rankTitle{
                    color: white;
                    font-weight: bold;
                    font-size: 4.5rem;
                    @include max-md{
                        font-size: 4rem;
                    }
                }
            }
        }
    }
    .indexClassic {
        padding: 8rem 0;
        @include max-md {
            padding: 4rem 0;
        }
        .container{
            margin: -1rem auto;
            &>* {
                margin: 1rem -15px;
            }
            .carousel {
                .slick-slide {
                    opacity: 1;
                    &.slick-active {
                        opacity: 1;
                    }
                    .card {
                        border: 0;
                    }
                }
                .slick-next {
                    @include indexClassicCarouselArrow(right);
                    // @media (max-width: calc($breakpoint-xl + 6rem)) {
                    @media (max-width: calc(1200px + 6rem)) {
                        @include indexClassicCarouselArrow(right, inCarousel);
                    }

                    @include max-xl {
                        @include indexClassicCarouselArrow(right);
                    }

                    // @media (max-width: calc($breakpoint-lg + 6rem)) {
                    @media (max-width: calc(992px + 6rem)) {
                        @include indexClassicCarouselArrow(right, inCarousel);
                    }

                    @include max-lg {
                        @include indexClassicCarouselArrow(right);
                    }

                    // @media (max-width: calc($breakpoint-md + 6rem)) {
                    @media (max-width: calc(768px + 6rem)) {
                        @include indexClassicCarouselArrow(right, inCarousel);
                    }

                    @include max-md {
                        @include indexClassicCarouselArrow(right);
                    }

                    // @media (max-width: calc($breakpoint-sm + 6rem)) {
                    @media (max-width: calc(576px + 6rem)) {
                        @include indexClassicCarouselArrow(right, inCarousel);
                    }
                }

                .slick-prev {
                    @include indexClassicCarouselArrow(left);

                    // @media (max-width: calc($breakpoint-xl + 6rem)) {
                    @media (max-width: calc(1200px + 6rem)) {
                        @include indexClassicCarouselArrow(left, inCarousel);
                    }

                    @include max-xl {
                        @include indexClassicCarouselArrow(left);
                    }

                    // @media (max-width: calc($breakpoint-lg + 6rem)) {
                    @media (max-width: calc(992px + 6rem)) {
                        @include indexClassicCarouselArrow(left, inCarousel);
                    }

                    @include max-lg {
                        @include indexClassicCarouselArrow(left);
                    }

                    // @media (max-width: calc($breakpoint-md + 6rem)) {
                    @media (max-width: calc(768px + 6rem)) {
                        @include indexClassicCarouselArrow(left, inCarousel);
                    }

                    @include max-md {
                        @include indexClassicCarouselArrow(left);
                    }

                    // @media (max-width: calc($breakpoint-sm + 6rem)) {
                    @media (max-width: calc(576px + 6rem)) {
                        @include indexClassicCarouselArrow(left, inCarousel);
                    }
                }
            }
        }
        
    }
    .indexMedia {
        padding: 8rem 0;
        background-color: $gray100;
        @include max-md {
            padding: 4rem 0;
        }

        .container {
            margin: -1rem auto;

            &>* {
                margin: 1rem -15px;
            }
            .mediaLogo{
                img{
                    width: 300px;
                    filter: drop-shadow($dropShadow);
                    @include max-lg{
                        width: 250px;
                    }
                    @include max-md{
                        width: 200px;
                    }
                }
            }
            .carousel {
                .slick-slide {
                    opacity: 1;

                    &.slick-active {
                        opacity: 1;
                    }

                    .card {
                        border: 0;
                    }
                }

                .slick-next {
                    @include indexClassicCarouselArrow(right);
                    // @media (max-width: calc($breakpoint-xl + 6rem)) {
                    @media (max-width: calc(1200px + 6rem)) {
                        @include indexClassicCarouselArrow(right, inCarousel);
                    }

                    @include max-xl {
                        @include indexClassicCarouselArrow(right);
                    }

                    // @media (max-width: calc($breakpoint-lg + 6rem)) {
                    @media (max-width: calc(992px + 6rem)) {
                        @include indexClassicCarouselArrow(right, inCarousel);
                    }

                    @include max-lg {
                        @include indexClassicCarouselArrow(right);
                    }

                    // @media (max-width: calc($breakpoint-md + 6rem)) {
                    @media (max-width: calc(768px + 6rem)) {
                        @include indexClassicCarouselArrow(right, inCarousel);
                    }

                    @include max-md {
                        @include indexClassicCarouselArrow(right);
                    }

                    // @media (max-width: calc($breakpoint-sm + 6rem)) {
                    @media (max-width: calc(576px + 6rem)) {
                        @include indexClassicCarouselArrow(right, inCarousel);
                    }
                }

                .slick-prev {
                    @include indexClassicCarouselArrow(left);

                    // @media (max-width: calc($breakpoint-xl + 6rem)) {
                    @media (max-width: calc(1200px + 6rem)) {
                        @include indexClassicCarouselArrow(left, inCarousel);
                    }

                    @include max-xl {
                        @include indexClassicCarouselArrow(left);
                    }

                    // @media (max-width: calc($breakpoint-lg + 6rem)) {
                    @media (max-width: calc(992px + 6rem)) {
                        @include indexClassicCarouselArrow(left, inCarousel);
                    }

                    @include max-lg {
                        @include indexClassicCarouselArrow(left);
                    }

                    // @media (max-width: calc($breakpoint-md + 6rem)) {
                    @media (max-width: calc(768px + 6rem)) {
                        @include indexClassicCarouselArrow(left, inCarousel);
                    }

                    @include max-md {
                        @include indexClassicCarouselArrow(left);
                    }

                    // @media (max-width: calc($breakpoint-sm + 6rem)) {
                    @media (max-width: calc(576px + 6rem)) {
                        @include indexClassicCarouselArrow(left, inCarousel);
                    }
                }
            }
        }

    }
    .indexProducts {
        padding: 8rem 0;
        @include max-md {
            padding: 4rem 0;
        }
        .container {
            margin: -1rem auto;

            &>* {
                margin: 1rem -15px;
            }

            .cardGroup {

                // margin: -1rem auto;
                &>* {
                    margin: 1rem auto;
                }
            }
        }
    }
    .indexPartners {
        padding: 8rem 0;
        background-color: $gray100;
        @include max-md {
            padding: 4rem 0;
        }
        .container-fuild {
            margin: -4rem auto;
            &>* {
                margin: 4rem -15px;
            }
            .carousel{
                filter: drop-shadow($dropShadow);
                .logo{
                    &:hover{
                        img{
                            border-radius: 1rem 0 1rem 0;
                        }
                    }
                    img{
                        width: 150px;
                        border-radius: 50%;
                        transition: 0.3s;
                    }
                }
            }
        }

    }
    .indexContactUs {
        padding: 4rem 0 0 0;
        .buttonGroup{
            display: flex;
            margin: 0 -15px;
            &>*{
                margin: 0 15px;
            }
            @include max-md {
                margin: 0 -0.5rem;
                &>* {
                    margin: 0 0.5rem;
                }
            }
        }
        .contactUsBanner{
            img{
                width: 350px;
                @include max-md{
                    width: 250px;
                }
                @include max-sm {
                    width: 200px;
                }
            }
        }
    }
}