.p-search{
    display: flex;
    flex-direction: column;
    margin-top: -1rem;
    margin-bottom: -1rem;
    & > *{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .searchCrowdfunding{
        display: flex;
        flex-direction: column;
        margin: -0.5rem -15px;
        & > *{
            margin: 0.5rem 0;
        }
        .searchNavBar{
            display: flex;
            align-items: center;
            width: 100%;
            position: relative;
            &::after{
                content: '';
                border: 0.5px solid $gray300;
                position: absolute;
                bottom: 0;
                left: 15px;
                width: calc(100% - 30px);
                @include max-lg{
                    bottom: 56px;
                }
            }
            &::before {
                content: '';
                border: 0.5px solid $gray300;
                position: absolute;
                top: 0;
                left: 15px;
                width: calc(100% - 30px);
            }
            .buttonGroup{
                display: flex;
                @include max-lg{
                    & > *{
                        width: 100%;
                        a{
                            width: 100%;
                            p{
                                text-align: center;
                            }
                        }
                    }
                }
            }
            .filterGroup{
                display: flex;
                align-items: center;
            }
        }
        .cardGroup{
            margin: -0.5rem auto;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            & > *{
                margin: 0.5rem 0;
            }
        }
    }
    .searchMedia {
        display: flex;
        flex-direction: column;
        margin: -0.5rem -15px;

        &>* {
            margin: 0.5rem 0;
        }

        .searchNavBar {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
            position: relative;
            padding: 0.5rem 0;
            &::after {
                content: '';
                border: 0.5px solid $gray300;
                position: absolute;
                bottom: 0;
                left: 15px;
                width: calc(100% - 30px);
            }
            &::before {
                content: '';
                border: 0.5px solid $gray300;
                position: absolute;
                top: 0;
                left: 15px;
                width: calc(100% - 30px);
            }
            &::after,&::before{
                @include max-lg{
                    border: 0;
                }
            }


            .filterGroup {
                display: flex;
                align-items: center;
            }
        }

        .cardGroup {
            margin: -0.5rem auto;
            display: flex;
            flex-wrap: wrap;
            width: 100%;

            &>* {
                margin: 0.5rem 0;
            }
        }
    }
}