.p-user{
    display: flex;
    flex-direction: column;
    .formGroup {
        display: flex;
        flex-direction: column;
        margin: -0.5rem 0;
        
        &>* {
            margin: 0.5rem 0;
        }

        .inputGroup {
            display: flex;
            margin: 0 -0.5rem;

            &>* {
                margin: 0 0.5rem;
            }

            @include max-md {
                flex-direction: column;
                margin: -0.5rem 0;

                &>* {
                    margin: 0.5rem 0;
                }
            }
        }
    }
    .userContent{
        display: flex;
        flex-direction: column;
        margin: 1.5rem -15px;
        &>* {
            margin: 0.5rem 0;
        }
        .profile{
            display: flex;
            flex-direction: column;
            margin: -0.25rem 0;
            &>* {
                margin: 0.25rem 0;
            }
            .photo{
                img{
                    width: 8rem;
                    border-radius: 8rem;
                    overflow: hidden;
                }
            }
            .editButton{
                @include min-md{
                    width: fit-content;
                }
            }
        }
    }
}