<template>
  <div class="p-mainPage">
    <Header></Header>
    <IndexCarousel :carouselData="indexCarouselData"></IndexCarousel>
    <IndexCrowdfunding :crowdfundingData="indexCrowdfundingData"></IndexCrowdfunding>
    <IndexAboutUs></IndexAboutUs>
    <IndexComingSoon :comingSoonData="IndexComingSoonData"></IndexComingSoon>
    <IndexRankingList :rankingListData="IndexRankingListData"></IndexRankingList>
    <IndexClassic :classicData="IndexClassicData"></IndexClassic>
    <IndexMedia :mediaData="IndexMediaData"></IndexMedia>
    <IndexProducts :productsData="IndexsProductsData"></IndexProducts>
    <IndexPartners :partnersData="IndexPartnersData"></IndexPartners>
    <IndexContactUs></IndexContactUs>
    <Footer></Footer>
  </div>
</template>

<script>
import banner1 from '~/assets/img/crowdfunding/banner1.jpg';
import banner2 from '~/assets/img/crowdfunding/banner2.jpg';
import banner3 from '~/assets/img/crowdfunding/banner3.jpg';
import banner4 from '~/assets/img/crowdfunding/banner4.jpg';
import banner5 from '~/assets/img/crowdfunding/banner5.jpg';
import banner6 from '~/assets/img/crowdfunding/banner6.jpg';

import mediaBanner1 from '~/assets/img/media/banner1.jpg';
import mediaBanner2 from '~/assets/img/media/banner2.jpg';
import mediaBanner3 from '~/assets/img/media/banner3.jpg';
import mediaBanner4 from '~/assets/img/media/banner4.jpg';
import mediaBanner5 from '~/assets/img/media/banner5.jpg';
import mediaBanner6 from '~/assets/img/media/banner6.jpg';

import partner1 from '~/assets/img/index/partners/partner1.jpg';
import partner2 from '~/assets/img/index/partners/partner2.jpg';
import partner3 from '~/assets/img/index/partners/partner3.jpg';
import partner4 from '~/assets/img/index/partners/partner4.jpg';
import partner5 from '~/assets/img/index/partners/partner5.jpg';
import partner6 from '~/assets/img/index/partners/partner6.jpg';

import mediaEditor from '~/assets/img/mediaEditor.jpg';

export default {
  data() {
    return{
      indexCarouselData:[
        {
          bannerSrc: banner1,
          supplier: "NWT 威技",
          title: "「地表最強」高性價比｜NWT威技一級能效6L超級除濕機(WDH-06EF)",
          price:{
            accumulationAmount: 550000,
            goalAmount: 100,
          },
          date:{
            startingDate: new Date(2023, 9, 10, 0, 0).getTime(),
            expirationDate: new Date(2024, 9, 17, 0, 0).getTime(),
          },
          accumulationSponsor: 1000000, 
        },
        {
          bannerSrc: banner2,
          supplier: "HEALTHPIT",
          title: "HEALTHPIT 御用椅｜ 極致按壓，還原日式講究",
          price:{
            accumulationAmount: 550000,
            goalAmount: 100,
          },
          date:{
            startingDate: new Date(2023, 9, 10, 0, 0).getTime(),
            expirationDate: new Date(2024, 9, 17, 0, 0).getTime(),
          },
          accumulationSponsor: 1000000, 
        },
        {
          bannerSrc: banner3,
          supplier: "SHARP",
          title: "好洗翻｜夏普空氣除菌滾筒洗衣機",
          price:{
            accumulationAmount: 550000,
            goalAmount: 100,
          },
          date:{
            startingDate: new Date(2023, 9, 10, 0, 0).getTime(),
            expirationDate: new Date(2024, 9, 17, 0, 0).getTime(),
          },
          accumulationSponsor: 1000000, 
        },
        {
          bannerSrc: banner4,
          supplier: "Philips 飛利浦",
          title: "白小奈｜奈米級空氣清淨機(AC1715/80)",
          price:{
            accumulationAmount: 550000,
            goalAmount: 100,
          },
          date:{
            startingDate: new Date(2023, 9, 10, 0, 0).getTime(),
            expirationDate: new Date(2024, 9, 17, 0, 0).getTime(),
          },
          accumulationSponsor: 1000000, 
        },
        {
          bannerSrc: banner5,
          supplier: "NICONICO",
          title: "小食曆｜掀蓋式火烤兩用爐",
          price:{
            accumulationAmount: 550000,
            goalAmount: 100,
          },
          date:{
            startingDate: new Date(2023, 9, 10, 0, 0).getTime(),
            expirationDate: new Date(2024, 9, 17, 0, 0).getTime(),
          },
          accumulationSponsor: 1000000, 
        },
        {
          bannerSrc: banner6,
          supplier: "Vofami",
          title: "梳梳服服 | Vofami 寵物美容乾洗梳",
          price:{
            accumulationAmount: 550000,
            goalAmount: 100,
          },
          date:{
            startingDate: new Date(2023, 9, 10, 0, 0).getTime(),
            expirationDate: new Date(2024, 9, 17, 0, 0).getTime(),
          },
          accumulationSponsor: 1000000, 
        },
      ],
      indexCrowdfundingData: [
        {
          slug:"indexCrowdfundingData01",
          type: "subscription",
          bannerSrc: banner1,
          supplier: "NWT 威技",
          title: "「地表最強」高性價比｜NWT威技一級能效6L超級除濕機(WDH-06EF)",
          price:{
            accumulationAmount: 550000,
            goalAmount: 50000,
          },
          date:{
            startingDate: new Date(2023, 9, 10, 0, 0).getTime(),
            expirationDate: new Date(2023, 11, 30, 0, 0).getTime(),
          },
          accumulationSponsor: 1000000,
        },
        {
          slug:"indexCrowdfundingData02",
          type: "crowdfunding",
          bannerSrc: banner2,
          supplier: "HEALTHPIT",
          title: "HEALTHPIT 御用椅｜ 極致按壓，還原日式講究",
          price: {
            accumulationAmount: 6500,
            goalAmount: 50000,
          },
          date: {
            startingDate: new Date(2023, 9, 10, 0, 0).getTime(),
            expirationDate: new Date(2023, 11, 17, 0, 0).getTime(),
          },
          accumulationSponsor: 1000000,
        },
        {
          slug:"indexCrowdfundingData03",
          type: "longTerm",
          bannerSrc: banner3,
          supplier: "SHARP",
          title: "好洗翻｜夏普空氣除菌滾筒洗衣機",
          price:{
            accumulationAmount: 45000,
            goalAmount: 50000,
          },
          date:{
            startingDate: new Date(2023, 9, 10, 0, 0).getTime(),
            expirationDate: new Date(2023, 10, 26, 0, 0).getTime(),
          },
          accumulationSponsor: 1000000, 
        },
        {
          slug:"indexCrowdfundingData04",
          type: "longTerm",
          bannerSrc: banner4,
          supplier: "Philips 飛利浦",
          title: "白小奈｜奈米級空氣清淨機(AC1715/80)",
          price:{
            accumulationAmount: 120000,
            goalAmount: 50000,
          },
          date:{
            startingDate: new Date(2023, 9, 10, 0, 0).getTime(),
            expirationDate: new Date(2023, 10, 30, 0, 0).getTime(),
          },
          accumulationSponsor: 1000000, 
        },
        {
          slug:"indexCrowdfundingData05",
          type: "crowdfunding",
          bannerSrc: banner5,
          supplier: "NICONICO",
          title: "小食曆｜掀蓋式火烤兩用爐",
          price:{
            accumulationAmount: 750300,
            goalAmount: 50000,
          },
          date:{
            startingDate: new Date(2023, 9, 10, 0, 0).getTime(),
            expirationDate: new Date(2023, 10, 17, 0, 0).getTime(),
          },
          accumulationSponsor: 1000000, 
        },
        {
          slug:"indexCrowdfundingData06",
          type: "crowdfunding",
          bannerSrc: banner6,
          supplier: "Vofami",
          title: "梳梳服服 | Vofami 寵物美容乾洗梳",
          price:{
            accumulationAmount: 30000,
            goalAmount: 50000,
          },
          date:{
            startingDate: new Date(2023, 9, 10, 0, 0).getTime(),
            expirationDate: new Date(2023, 11, 17, 0, 0).getTime(),
          },
          accumulationSponsor: 1000000, 
        },
      ],
      IndexComingSoonData: [
        {
          slug:"IndexComingSoonData01",
          type: "subscription",
          bannerSrc: banner1,
          supplier: "NWT 威技",
          title: "「地表最強」高性價比｜NWT威技一級能效6L超級除濕機(WDH-06EF)",
          price:{
            accumulationAmount: 550000,
            goalAmount: 100,
          },
          date:{
            startingDate: new Date(2023, 10, 30, 0, 0).getTime(),
            expirationDate: new Date(2023, 9, 17, 0, 0).getTime(),
          },
          accumulationSponsor: 1000000,
        },
        {
          slug:"IndexComingSoonData02",
          type: "crowdfunding",
          bannerSrc: banner2,
          supplier: "HEALTHPIT",
          title: "HEALTHPIT 御用椅｜ 極致按壓，還原日式講究",
          price: {
            accumulationAmount: 550000,
            goalAmount: 100,
          },
          date: {
            startingDate: new Date(2023, 10, 30, 0, 0).getTime(),
            expirationDate: new Date(2024, 9, 17, 0, 0).getTime(),
          },
          accumulationSponsor: 1000000,
        },
        {
          slug:"IndexComingSoonData03",
          type: "longTerm",
          bannerSrc: banner3,
          supplier: "SHARP",
          title: "好洗翻｜夏普空氣除菌滾筒洗衣機",
          price:{
            accumulationAmount: 550000,
            goalAmount: 100,
          },
          date:{
            startingDate: new Date(2023, 10, 30, 0, 0).getTime(),
            expirationDate: new Date(2024, 9, 17, 0, 0).getTime(),
          },
          accumulationSponsor: 1000000, 
        },
        {
          slug:"IndexComingSoonData04",
          type: "longTerm",
          bannerSrc: banner4,
          supplier: "Philips 飛利浦",
          title: "白小奈｜奈米級空氣清淨機(AC1715/80)",
          price:{
            accumulationAmount: 550000,
            goalAmount: 100,
          },
          date:{
            startingDate: new Date(2023, 10, 30, 0, 0).getTime(),
            expirationDate: new Date(2024, 9, 17, 0, 0).getTime(),
          },
          accumulationSponsor: 1000000, 
        },
        {
          slug:"IndexComingSoonData05",
          type: "crowdfunding",
          bannerSrc: banner5,
          supplier: "NICONICO",
          title: "小食曆｜掀蓋式火烤兩用爐",
          price:{
            accumulationAmount: 550000,
            goalAmount: 100,
          },
          date:{
            startingDate: new Date(2023, 10, 30, 0, 0).getTime(),
            expirationDate: new Date(2024, 9, 17, 0, 0).getTime(),
          },
          accumulationSponsor: 1000000, 
        },
        {
          slug:"IndexComingSoonData06",
          type: "crowdfunding",
          bannerSrc: banner6,
          supplier: "Vofami",
          title: "梳梳服服 | Vofami 寵物美容乾洗梳",
          price:{
            accumulationAmount: 550000,
            goalAmount: 100,
          },
          date:{
            startingDate: new Date(2023, 10, 30, 0, 0).getTime(),
            expirationDate: new Date(2024, 9, 17, 0, 0).getTime(),
          },
          accumulationSponsor: 1000000, 
        },
      ],
      IndexRankingListData: [
        {
          slug:"IndexRankingListData01",
          type: "subscription",
          bannerSrc: banner1,
          supplier: "NWT 威技",
          title: "「地表最強」高性價比｜NWT威技一級能效6L超級除濕機(WDH-06EF)",
          price:{
            accumulationAmount: 550000,
            goalAmount: 100,
          },
          date:{
            startingDate: new Date(2023, 9, 10, 0, 0).getTime(),
            expirationDate: new Date(2024, 9, 17, 0, 0).getTime(),
          },
          accumulationSponsor: 1000000,
        },
        {
          slug:"IndexRankingListData02",
          type: "crowdfunding",
          bannerSrc: banner2,
          supplier: "HEALTHPIT",
          title: "HEALTHPIT 御用椅｜ 極致按壓，還原日式講究",
          price: {
            accumulationAmount: 550000,
            goalAmount: 100,
          },
          date: {
            startingDate: new Date(2023, 9, 10, 0, 0).getTime(),
            expirationDate: new Date(2024, 9, 17, 0, 0).getTime(),
          },
          accumulationSponsor: 1000000,
        },
        {
          slug:"IndexRankingListData03",
          type: "longTerm",
          bannerSrc: banner3,
          supplier: "SHARP",
          title: "好洗翻｜夏普空氣除菌滾筒洗衣機",
          price:{
            accumulationAmount: 550000,
            goalAmount: 100,
          },
          date:{
            startingDate: new Date(2023, 9, 10, 0, 0).getTime(),
            expirationDate: new Date(2024, 9, 17, 0, 0).getTime(),
          },
          accumulationSponsor: 1000000, 
        },
        {
          slug:"IndexRankingListData04",
          type: "longTerm",
          bannerSrc: banner4,
          supplier: "Philips 飛利浦",
          title: "白小奈｜奈米級空氣清淨機(AC1715/80)",
          price:{
            accumulationAmount: 550000,
            goalAmount: 100,
          },
          date:{
            startingDate: new Date(2023, 9, 10, 0, 0).getTime(),
            expirationDate: new Date(2024, 9, 17, 0, 0).getTime(),
          },
          accumulationSponsor: 1000000, 
        },
        {
          slug:"IndexRankingListData05",
          type: "crowdfunding",
          bannerSrc: banner5,
          supplier: "NICONICO",
          title: "小食曆｜掀蓋式火烤兩用爐",
          price:{
            accumulationAmount: 550000,
            goalAmount: 100,
          },
          date:{
            startingDate: new Date(2023, 9, 10, 0, 0).getTime(),
            expirationDate: new Date(2024, 9, 17, 0, 0).getTime(),
          },
          accumulationSponsor: 1000000, 
        },
        {
          slug:"IndexRankingListData06",
          type: "crowdfunding",
          bannerSrc: banner6,
          supplier: "Vofami",
          title: "梳梳服服 | Vofami 寵物美容乾洗梳",
          price:{
            accumulationAmount: 550000,
            goalAmount: 100,
          },
          date:{
            startingDate: new Date(2023, 9, 10, 0, 0).getTime(),
            expirationDate: new Date(2024, 9, 17, 0, 0).getTime(),
          },
          accumulationSponsor: 1000000, 
        },
      ],
      IndexClassicData: [
        {
          slug:"",
          type: "subscription",
          bannerSrc: banner1,
          supplier: "NWT 威技",
          title: "「地表最強」高性價比｜NWT威技一級能效6L超級除濕機(WDH-06EF)",
          price:{
            accumulationAmount: 550000,
            goalAmount: 100,
          },
          date:{
            startingDate: new Date(2023, 9, 10, 0, 0).getTime(),
            expirationDate: new Date(2022, 9, 17, 0, 0).getTime(),
          },
          accumulationSponsor: 1000000,
        },
        {
          slug:"",
          type: "crowdfunding",
          bannerSrc: banner2,
          supplier: "HEALTHPIT",
          title: "HEALTHPIT 御用椅｜ 極致按壓，還原日式講究",
          price: {
            accumulationAmount: 550000,
            goalAmount: 100,
          },
          date: {
            startingDate: new Date(2023, 9, 10, 0, 0).getTime(),
            expirationDate: new Date(2022, 9, 17, 0, 0).getTime(),
          },
          accumulationSponsor: 1000000,
        },
        {
          slug:"",
          type: "longTerm",
          bannerSrc: banner3,
          supplier: "SHARP",
          title: "好洗翻｜夏普空氣除菌滾筒洗衣機",
          price:{
            accumulationAmount: 550000,
            goalAmount: 100,
          },
          date:{
            startingDate: new Date(2023, 9, 10, 0, 0).getTime(),
            expirationDate: new Date(2022, 9, 17, 0, 0).getTime(),
          },
          accumulationSponsor: 1000000, 
        },
        {
          slug:"",
          type: "longTerm",
          bannerSrc: banner4,
          supplier: "Philips 飛利浦",
          title: "白小奈｜奈米級空氣清淨機(AC1715/80)",
          price:{
            accumulationAmount: 550000,
            goalAmount: 100,
          },
          date:{
            startingDate: new Date(2023, 9, 10, 0, 0).getTime(),
            expirationDate: new Date(2022, 9, 17, 0, 0).getTime(),
          },
          accumulationSponsor: 1000000, 
        },
        {
          slug:"",
          type: "crowdfunding",
          bannerSrc: banner5,
          supplier: "NICONICO",
          title: "小食曆｜掀蓋式火烤兩用爐",
          price:{
            accumulationAmount: 550000,
            goalAmount: 100,
          },
          date:{
            startingDate: new Date(2023, 9, 10, 0, 0).getTime(),
            expirationDate: new Date(2022, 9, 17, 0, 0).getTime(),
          },
          accumulationSponsor: 1000000, 
        },
        {
          slug:"",
          type: "crowdfunding",
          bannerSrc: banner6,
          supplier: "Vofami",
          title: "梳梳服服 | Vofami 寵物美容乾洗梳",
          price:{
            accumulationAmount: 550000,
            goalAmount: 100,
          },
          date:{
            startingDate: new Date(2023, 9, 10, 0, 0).getTime(),
            expirationDate: new Date(2022, 9, 17, 0, 0).getTime(),
          },
          accumulationSponsor: 1000000, 
        },
      ],
      IndexMediaData: [
        {
          slug:"",
          type: "media",
          bannerSrc: mediaBanner1,
          editor:{
            name: "貓貓小胖",
            imgSrc: mediaEditor
          },
          title: "【2023最新】5款家用冷凍櫃推薦，不踩雷選購指南分享",
          discription: "SHARP 好洗翻｜夏普空氣除菌滾筒洗衣機，讓洗衣不只是洗衣！抑菌Ｘ除臭Ｘ抗敏Ｘ護理Ｘ防皺，所有衣物，為你完美呵護。搭載銷售破億台自動除菌離子專利技術，加上獨家 Dry AirWash 空氣除菌乾洗模式，更有18m/s颱風等級風速，讓衣服勁風烘乾！衣服加倍潔淨了，更爲自己和家人保留更多心力！你的洗衣日常，從此變得好～洗～翻～SHARP 好洗翻｜夏普空氣除菌滾筒洗衣機，讓洗衣不只是洗衣！抑菌Ｘ除臭Ｘ抗敏Ｘ護理Ｘ防皺，所有衣物，為你完美呵護。搭載銷售破億台自動除菌離子專利技術，加上獨家 Dry AirWash 空氣除菌乾洗模式，更有18m/s颱風等級風速，讓衣服勁風烘乾！衣服加倍潔淨了，更爲自己和家人保留更多心力！你的洗衣日常，從此變得好～洗～翻～",
          date:{
            releaseDate: "",
          },
          accumulationViewer: 1000000,
        },
        {
          slug:"",
          type: "media",
          bannerSrc: mediaBanner2,
          editor:{
            name: "貓貓小胖",
            imgSrc: mediaEditor
          },
          title: "【2023最新】廚餘機推薦排名TOP10&優缺點分析",
          discription: "SHARP 好洗翻｜夏普空氣除菌滾筒洗衣機，讓洗衣不只是洗衣！抑菌Ｘ除臭Ｘ抗敏Ｘ護理Ｘ防皺，所有衣物，為你完美呵護。搭載銷售破億台自動除菌離子專利技術，加上獨家 Dry AirWash 空氣除菌乾洗模式，更有18m/s颱風等級風速，讓衣服勁風烘乾！衣服加倍潔淨了，更爲自己和家人保留更多心力！你的洗衣日常，從此變得好～洗～翻～SHARP 好洗翻｜夏普空氣除菌滾筒洗衣機，讓洗衣不只是洗衣！抑菌Ｘ除臭Ｘ抗敏Ｘ護理Ｘ防皺，所有衣物，為你完美呵護。搭載銷售破億台自動除菌離子專利技術，加上獨家 Dry AirWash 空氣除菌乾洗模式，更有18m/s颱風等級風速，讓衣服勁風烘乾！衣服加倍潔淨了，更爲自己和家人保留更多心力！你的洗衣日常，從此變得好～洗～翻～",
          date:{
            releaseDate: "",
          },
          accumulationViewer: 1000000,
        },
        {
          slug:"",
          type: "media",
          bannerSrc: mediaBanner3,
          editor:{
            name: "貓貓小胖",
            imgSrc: mediaEditor
          },
          title: "【開箱】紅酒喝不完怎麼辦？讓「eto紅酒真空保存醒酒瓶」為你保鮮12天！",
          discription: "SHARP 好洗翻｜夏普空氣除菌滾筒洗衣機，讓洗衣不只是洗衣！抑菌Ｘ除臭Ｘ抗敏Ｘ護理Ｘ防皺，所有衣物，為你完美呵護。搭載銷售破億台自動除菌離子專利技術，加上獨家 Dry AirWash 空氣除菌乾洗模式，更有18m/s颱風等級風速，讓衣服勁風烘乾！衣服加倍潔淨了，更爲自己和家人保留更多心力！你的洗衣日常，從此變得好～洗～翻～SHARP 好洗翻｜夏普空氣除菌滾筒洗衣機，讓洗衣不只是洗衣！抑菌Ｘ除臭Ｘ抗敏Ｘ護理Ｘ防皺，所有衣物，為你完美呵護。搭載銷售破億台自動除菌離子專利技術，加上獨家 Dry AirWash 空氣除菌乾洗模式，更有18m/s颱風等級風速，讓衣服勁風烘乾！衣服加倍潔淨了，更爲自己和家人保留更多心力！你的洗衣日常，從此變得好～洗～翻～",
          date:{
            releaseDate: "",
          },
          accumulationViewer: 1000000,
        },
        {
          slug:"",
          type: "media",
          bannerSrc: mediaBanner4,
          editor:{
            name: "貓貓小胖",
            imgSrc: mediaEditor
          },
          title: "【開箱】好香好箱？是有多香？Airmate艾美特多功能氣炸烤箱評價、食譜、清潔分享",
          discription: "SHARP 好洗翻｜夏普空氣除菌滾筒洗衣機，讓洗衣不只是洗衣！抑菌Ｘ除臭Ｘ抗敏Ｘ護理Ｘ防皺，所有衣物，為你完美呵護。搭載銷售破億台自動除菌離子專利技術，加上獨家 Dry AirWash 空氣除菌乾洗模式，更有18m/s颱風等級風速，讓衣服勁風烘乾！衣服加倍潔淨了，更爲自己和家人保留更多心力！你的洗衣日常，從此變得好～洗～翻～SHARP 好洗翻｜夏普空氣除菌滾筒洗衣機，讓洗衣不只是洗衣！抑菌Ｘ除臭Ｘ抗敏Ｘ護理Ｘ防皺，所有衣物，為你完美呵護。搭載銷售破億台自動除菌離子專利技術，加上獨家 Dry AirWash 空氣除菌乾洗模式，更有18m/s颱風等級風速，讓衣服勁風烘乾！衣服加倍潔淨了，更爲自己和家人保留更多心力！你的洗衣日常，從此變得好～洗～翻～",
          date:{
            releaseDate: "",
          },
          accumulationViewer: 1000000,
        },
        {
          slug:"",
          type: "media",
          bannerSrc: mediaBanner5,
          editor:{
            name: "貓貓小胖",
            imgSrc: mediaEditor
          },
          title: "【2023最新】10款氣炸烤箱/氣炸鍋推薦排行榜",
          discription: "SHARP 好洗翻｜夏普空氣除菌滾筒洗衣機，讓洗衣不只是洗衣！抑菌Ｘ除臭Ｘ抗敏Ｘ護理Ｘ防皺，所有衣物，為你完美呵護。搭載銷售破億台自動除菌離子專利技術，加上獨家 Dry AirWash 空氣除菌乾洗模式，更有18m/s颱風等級風速，讓衣服勁風烘乾！衣服加倍潔淨了，更爲自己和家人保留更多心力！你的洗衣日常，從此變得好～洗～翻～SHARP 好洗翻｜夏普空氣除菌滾筒洗衣機，讓洗衣不只是洗衣！抑菌Ｘ除臭Ｘ抗敏Ｘ護理Ｘ防皺，所有衣物，為你完美呵護。搭載銷售破億台自動除菌離子專利技術，加上獨家 Dry AirWash 空氣除菌乾洗模式，更有18m/s颱風等級風速，讓衣服勁風烘乾！衣服加倍潔淨了，更爲自己和家人保留更多心力！你的洗衣日常，從此變得好～洗～翻～",
          date:{
            releaseDate: "",
          },
          accumulationViewer: 1000000,
        },
        {
          slug:"",
          type: "media",
          bannerSrc: mediaBanner6,
          editor:{
            name: "貓貓小胖",
            imgSrc: mediaEditor
          },
          title: "【2023最新】精選5款小型微波爐推薦，教你選微波爐不踩雷！",
          discription: "SHARP 好洗翻｜夏普空氣除菌滾筒洗衣機，讓洗衣不只是洗衣！抑菌Ｘ除臭Ｘ抗敏Ｘ護理Ｘ防皺，所有衣物，為你完美呵護。搭載銷售破億台自動除菌離子專利技術，加上獨家 Dry AirWash 空氣除菌乾洗模式，更有18m/s颱風等級風速，讓衣服勁風烘乾！衣服加倍潔淨了，更爲自己和家人保留更多心力！你的洗衣日常，從此變得好～洗～翻～SHARP 好洗翻｜夏普空氣除菌滾筒洗衣機，讓洗衣不只是洗衣！抑菌Ｘ除臭Ｘ抗敏Ｘ護理Ｘ防皺，所有衣物，為你完美呵護。搭載銷售破億台自動除菌離子專利技術，加上獨家 Dry AirWash 空氣除菌乾洗模式，更有18m/s颱風等級風速，讓衣服勁風烘乾！衣服加倍潔淨了，更爲自己和家人保留更多心力！你的洗衣日常，從此變得好～洗～翻～",
          date:{
            releaseDate: "",
          },
          accumulationViewer: 1000000,
        },
      ],
      IndexsProductsData: [
        {
          slug:"",
          type: "product",
          bannerSrc: banner1,
          supplier: "NWT 威技",
          title: "「地表最強」高性價比｜NWT威技一級能效6L超級除濕機(WDH-06EF)",
          price:{
            ogPrice: 10000,
            hotPrice: 1000,
          },
        },
        {
          slug:"",
          type: "product",
          bannerSrc: banner2,
          supplier: "HEALTHPIT",
          title: "HEALTHPIT 御用椅｜ 極致按壓，還原日式講究",
          price:{
            ogPrice: 10000,
          },
        },
        {
          slug:"",
          type: "product",
          bannerSrc: banner3,
          supplier: "SHARP",
          title: "好洗翻｜夏普空氣除菌滾筒洗衣機",
          price:{
            ogPrice: 10000,
            hotPrice: 1000,
          },
        },
        {
          slug:"",
          type: "product",
          bannerSrc: banner4,
          supplier: "Philips 飛利浦",
          title: "白小奈｜奈米級空氣清淨機(AC1715/80)",
          price:{
            ogPrice: 10000,
            hotPrice: 1000,
          },
        },
        {
          slug:"",
          type: "product",
          bannerSrc: banner5,
          supplier: "NICONICO",
          title: "小食曆｜掀蓋式火烤兩用爐",
          price:{
            ogPrice: 10000,
          },
        },
        {
          slug:"",
          type: "product",
          bannerSrc: banner6,
          supplier: "Vofami",
          title: "梳梳服服 | Vofami 寵物美容乾洗梳",
          price:{
            ogPrice: 10000,
          },
        },
        {
          slug:"",
          type: "product",
          bannerSrc: banner1,
          supplier: "NWT 威技",
          title: "「地表最強」高性價比｜NWT威技一級能效6L超級除濕機(WDH-06EF)",
          price:{
            ogPrice: 10000,
          },
        },
        {
          slug:"",
          type: "product",
          bannerSrc: banner2,
          supplier: "HEALTHPIT",
          title: "HEALTHPIT 御用椅｜ 極致按壓，還原日式講究",
          price:{
            ogPrice: 10000,
            hotPrice: 1000,
          },
        },
      ],
      IndexPartnersData:[
        {
          imgSrc: partner1,
          link: "/"
        },
        {
          imgSrc: partner2,
          link: "/"
        },
        {
          imgSrc: partner3,
          link: "/"
        },
        {
          imgSrc: partner4,
          link: "/"
        },
        {
          imgSrc: partner5,
          link: "/"
        },
        {
          imgSrc: partner6,
          link: "/"
        },
      ]
    }
  },
  methods: {
  },
  mounted() {
  }
}
</script>
