<template>
    <div class="p-search">
        <Header></Header>
        <div class="container">
            <div class="row mb-3">
                <div class="col-12">
                    <div class="c-input inputWithIcon searchInput">
                        <input type="text" placeholder="搜尋">
                        <img src="~/assets/img/icon/gray500/search.svg" alt=""/>
                    </div>
                </div>
            </div>
            <div class="searchCrowdfunding mb-3">
                <div class="row">
                    <div class="col-12">
                        <div class="c-title">
                            <h2>群眾集資館</h2>
                        </div>
                    </div>
                </div>
                <div class="row searchNavBar">
                    <div class="col-lg-7 col-12 buttonGroup mb-3 mb-lg-0">
                        <div class="c-navBarButton active">
                            <NuxtLink to="">
                                <p class="d-lg-block d-none">全部集資</p>
                                <p class="d-lg-none d-block">全部 </br> 集資</p>
                            </NuxtLink>
                        </div>
                        <div class="c-navBarButton">
                            <NuxtLink to="">
                                <p class="d-lg-block d-none">群眾集資</p>
                                <p class="d-lg-none d-block">群眾 </br> 集資</p>
                            </NuxtLink>
                        </div>
                        <div class="c-navBarButton">
                            <NuxtLink to="">
                                <p class="d-lg-block d-none">訂閱式集資</p>
                                <p class="d-lg-none d-block">訂閱式 </br> 集資</p>
                            </NuxtLink>
                        </div>
                        <div class="c-navBarButton">
                            <NuxtLink to="">
                                <p class="d-lg-block d-none">長期集資</p>
                                <p class="d-lg-none d-block">長期 </br> 集資</p>
                            </NuxtLink>
                        </div>
                    </div>
                    <div class="col-lg-5 col-12 filterGroup">
                        <div class="dropdown c-bootstrapDropDown w-100">
                            <NuxtLink class="dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" to="/">
                                <p>排序</p>
                                <img class="arrowDown" src="~/assets/img/icon/arrowDown.svg" alt="">
                                <img class="arrowUp" src="~/assets/img/icon/arrowUp.svg" alt="">
                            </NuxtLink>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li>
                                    <NuxtLink class="dropdown-item" to="#">
                                        按照發布順序
                                    </NuxtLink>
                                </li>
                                <li>
                                    <NuxtLink class="dropdown-item" to="#">
                                        按照發布順序
                                    </NuxtLink>
                                </li>
                                <li>
                                    <NuxtLink class="dropdown-item" to="#">
                                        按照發布順序
                                    </NuxtLink>
                                </li>
                            </ul>
                        </div>
                        <div class="mx-2">
                            <p class="a-font color-gray500 size-100">+</p>
                        </div>
                        <div class="dropdown c-bootstrapDropDown w-100">
                            <NuxtLink class="dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" to="/">
                                <p>主題分類</p>
                                <img class="arrowDown" src="~/assets/img/icon/arrowDown.svg" alt="">
                                <img class="arrowUp" src="~/assets/img/icon/arrowUp.svg" alt="">
                            </NuxtLink>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li>
                                    <NuxtLink class="dropdown-item" to="#">
                                        按照發布順序
                                    </NuxtLink>
                                </li>
                                <li>
                                    <NuxtLink class="dropdown-item" to="#">
                                        按照發布順序
                                    </NuxtLink>
                                </li>
                                <li>
                                    <NuxtLink class="dropdown-item" to="#">
                                        按照發布順序
                                    </NuxtLink>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="cardGroup">
                        <div v-for="(cardData, index) in searchCrowdfundingData" :key="'searchCrowdfundingData' + index" class="col-12 col-sm-6 col-lg-4">
                            <Card :cardData="cardData"></Card>
                        </div>
                    </div>
                </div>
            </div>
            <div class="searchMedia">
                <div class="row">
                    <div class="col-12">
                        <div class="c-title">
                            <h2>品味誌</h2>
                        </div>
                    </div>
                </div>
                <div class="row searchNavBar">
                    <div class="col-lg-5 col-12 filterGroup">
                        <div class="dropdown c-bootstrapDropDown w-100">
                            <NuxtLink class="dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" to="/">
                                <p>排序</p>
                                <img class="arrowDown" src="~/assets/img/icon/arrowDown.svg" alt="">
                                <img class="arrowUp" src="~/assets/img/icon/arrowUp.svg" alt="">
                            </NuxtLink>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li>
                                    <NuxtLink class="dropdown-item" to="#">
                                        按照發布順序
                                    </NuxtLink>
                                </li>
                                <li>
                                    <NuxtLink class="dropdown-item" to="#">
                                        按照發布順序
                                    </NuxtLink>
                                </li>
                                <li>
                                    <NuxtLink class="dropdown-item" to="#">
                                        按照發布順序
                                    </NuxtLink>
                                </li>
                            </ul>
                        </div>
                        <div class="mx-2">
                            <p class="a-font color-gray500 size-100">+</p>
                        </div>
                        <div class="dropdown c-bootstrapDropDown w-100">
                            <NuxtLink class="dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" to="/">
                                <p>主題分類</p>
                                <img class="arrowDown" src="~/assets/img/icon/arrowDown.svg" alt="">
                                <img class="arrowUp" src="~/assets/img/icon/arrowUp.svg" alt="">
                            </NuxtLink>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li>
                                    <NuxtLink class="dropdown-item" to="#">
                                        按照發布順序
                                    </NuxtLink>
                                </li>
                                <li>
                                    <NuxtLink class="dropdown-item" to="#">
                                        按照發布順序
                                    </NuxtLink>
                                </li>
                                <li>
                                    <NuxtLink class="dropdown-item" to="#">
                                        按照發布順序
                                    </NuxtLink>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="cardGroup">
                        <div v-for="(cardData, index) in searchMediaData" :key="'searchMediaData' + index" class="col-12 col-sm-6 col-lg-4">
                            <Card :cardData="cardData"></Card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <Footer></Footer>
    </div>
</template>

<script>
import banner1 from '~/assets/img/crowdfunding/banner1.jpg';
import banner2 from '~/assets/img/crowdfunding/banner2.jpg';
import banner3 from '~/assets/img/crowdfunding/banner3.jpg';
import banner4 from '~/assets/img/crowdfunding/banner4.jpg';
import banner5 from '~/assets/img/crowdfunding/banner5.jpg';
import banner6 from '~/assets/img/crowdfunding/banner6.jpg';

import mediaBanner1 from '~/assets/img/media/banner1.jpg';
import mediaBanner2 from '~/assets/img/media/banner2.jpg';
import mediaBanner3 from '~/assets/img/media/banner3.jpg';
import mediaBanner4 from '~/assets/img/media/banner4.jpg';
import mediaBanner5 from '~/assets/img/media/banner5.jpg';
import mediaBanner6 from '~/assets/img/media/banner6.jpg';

import mediaEditor from '~/assets/img/mediaEditor.jpg';

export default {
    data() {
        return {
            searchCrowdfundingData: [
                {
                    slug: "indexCrowdfundingData01",
                    type: "subscription",
                    bannerSrc: banner1,
                    supplier: "NWT 威技",
                    title: "「地表最強」高性價比｜NWT威技一級能效6L超級除濕機(WDH-06EF)",
                    price: {
                        accumulationAmount: 550000,
                        goalAmount: 50000,
                    },
                    date: {
                        startingDate: new Date(2023, 9, 10, 0, 0).getTime(),
                        expirationDate: new Date(2023, 11, 30, 0, 0).getTime(),
                    },
                    accumulationSponsor: 1000000,
                },
                {
                    slug: "indexCrowdfundingData02",
                    type: "crowdfunding",
                    bannerSrc: banner2,
                    supplier: "HEALTHPIT",
                    title: "HEALTHPIT 御用椅｜ 極致按壓，還原日式講究",
                    price: {
                        accumulationAmount: 6500,
                        goalAmount: 50000,
                    },
                    date: {
                        startingDate: new Date(2023, 9, 10, 0, 0).getTime(),
                        expirationDate: new Date(2023, 11, 17, 0, 0).getTime(),
                    },
                    accumulationSponsor: 1000000,
                },
                {
                    slug: "indexCrowdfundingData03",
                    type: "longTerm",
                    bannerSrc: banner3,
                    supplier: "SHARP",
                    title: "好洗翻｜夏普空氣除菌滾筒洗衣機",
                    price: {
                        accumulationAmount: 45000,
                        goalAmount: 50000,
                    },
                    date: {
                        startingDate: new Date(2023, 9, 10, 0, 0).getTime(),
                        expirationDate: new Date(2023, 10, 26, 0, 0).getTime(),
                    },
                    accumulationSponsor: 1000000,
                },
                {
                    slug: "indexCrowdfundingData04",
                    type: "longTerm",
                    bannerSrc: banner4,
                    supplier: "Philips 飛利浦",
                    title: "白小奈｜奈米級空氣清淨機(AC1715/80)",
                    price: {
                        accumulationAmount: 120000,
                        goalAmount: 50000,
                    },
                    date: {
                        startingDate: new Date(2023, 9, 10, 0, 0).getTime(),
                        expirationDate: new Date(2023, 10, 30, 0, 0).getTime(),
                    },
                    accumulationSponsor: 1000000,
                },
                {
                    slug: "indexCrowdfundingData05",
                    type: "crowdfunding",
                    bannerSrc: banner5,
                    supplier: "NICONICO",
                    title: "小食曆｜掀蓋式火烤兩用爐",
                    price: {
                        accumulationAmount: 750300,
                        goalAmount: 50000,
                    },
                    date: {
                        startingDate: new Date(2023, 9, 10, 0, 0).getTime(),
                        expirationDate: new Date(2023, 10, 17, 0, 0).getTime(),
                    },
                    accumulationSponsor: 1000000,
                },
                {
                    slug: "indexCrowdfundingData06",
                    type: "crowdfunding",
                    bannerSrc: banner6,
                    supplier: "Vofami",
                    title: "梳梳服服 | Vofami 寵物美容乾洗梳",
                    price: {
                        accumulationAmount: 30000,
                        goalAmount: 50000,
                    },
                    date: {
                        startingDate: new Date(2023, 9, 10, 0, 0).getTime(),
                        expirationDate: new Date(2023, 11, 17, 0, 0).getTime(),
                    },
                    accumulationSponsor: 1000000,
                },
            ],
            searchMediaData: [
                {
                    slug: "",
                    type: "media",
                    bannerSrc: mediaBanner1,
                    editor: {
                        name: "貓貓小胖",
                        imgSrc: mediaEditor
                    },
                    title: "【2023最新】5款家用冷凍櫃推薦，不踩雷選購指南分享",
                    discription: "SHARP 好洗翻｜夏普空氣除菌滾筒洗衣機，讓洗衣不只是洗衣！抑菌Ｘ除臭Ｘ抗敏Ｘ護理Ｘ防皺，所有衣物，為你完美呵護。搭載銷售破億台自動除菌離子專利技術，加上獨家 Dry AirWash 空氣除菌乾洗模式，更有18m/s颱風等級風速，讓衣服勁風烘乾！衣服加倍潔淨了，更爲自己和家人保留更多心力！你的洗衣日常，從此變得好～洗～翻～SHARP 好洗翻｜夏普空氣除菌滾筒洗衣機，讓洗衣不只是洗衣！抑菌Ｘ除臭Ｘ抗敏Ｘ護理Ｘ防皺，所有衣物，為你完美呵護。搭載銷售破億台自動除菌離子專利技術，加上獨家 Dry AirWash 空氣除菌乾洗模式，更有18m/s颱風等級風速，讓衣服勁風烘乾！衣服加倍潔淨了，更爲自己和家人保留更多心力！你的洗衣日常，從此變得好～洗～翻～",
                    date: {
                        releaseDate: "",
                    },
                    accumulationViewer: 1000000,
                },
                {
                    slug: "",
                    type: "media",
                    bannerSrc: mediaBanner2,
                    editor: {
                        name: "貓貓小胖",
                        imgSrc: mediaEditor
                    },
                    title: "【2023最新】廚餘機推薦排名TOP10&優缺點分析",
                    discription: "SHARP 好洗翻｜夏普空氣除菌滾筒洗衣機，讓洗衣不只是洗衣！抑菌Ｘ除臭Ｘ抗敏Ｘ護理Ｘ防皺，所有衣物，為你完美呵護。搭載銷售破億台自動除菌離子專利技術，加上獨家 Dry AirWash 空氣除菌乾洗模式，更有18m/s颱風等級風速，讓衣服勁風烘乾！衣服加倍潔淨了，更爲自己和家人保留更多心力！你的洗衣日常，從此變得好～洗～翻～SHARP 好洗翻｜夏普空氣除菌滾筒洗衣機，讓洗衣不只是洗衣！抑菌Ｘ除臭Ｘ抗敏Ｘ護理Ｘ防皺，所有衣物，為你完美呵護。搭載銷售破億台自動除菌離子專利技術，加上獨家 Dry AirWash 空氣除菌乾洗模式，更有18m/s颱風等級風速，讓衣服勁風烘乾！衣服加倍潔淨了，更爲自己和家人保留更多心力！你的洗衣日常，從此變得好～洗～翻～",
                    date: {
                        releaseDate: "",
                    },
                    accumulationViewer: 1000000,
                },
                {
                    slug: "",
                    type: "media",
                    bannerSrc: mediaBanner3,
                    editor: {
                        name: "貓貓小胖",
                        imgSrc: mediaEditor
                    },
                    title: "【開箱】紅酒喝不完怎麼辦？讓「eto紅酒真空保存醒酒瓶」為你保鮮12天！",
                    discription: "SHARP 好洗翻｜夏普空氣除菌滾筒洗衣機，讓洗衣不只是洗衣！抑菌Ｘ除臭Ｘ抗敏Ｘ護理Ｘ防皺，所有衣物，為你完美呵護。搭載銷售破億台自動除菌離子專利技術，加上獨家 Dry AirWash 空氣除菌乾洗模式，更有18m/s颱風等級風速，讓衣服勁風烘乾！衣服加倍潔淨了，更爲自己和家人保留更多心力！你的洗衣日常，從此變得好～洗～翻～SHARP 好洗翻｜夏普空氣除菌滾筒洗衣機，讓洗衣不只是洗衣！抑菌Ｘ除臭Ｘ抗敏Ｘ護理Ｘ防皺，所有衣物，為你完美呵護。搭載銷售破億台自動除菌離子專利技術，加上獨家 Dry AirWash 空氣除菌乾洗模式，更有18m/s颱風等級風速，讓衣服勁風烘乾！衣服加倍潔淨了，更爲自己和家人保留更多心力！你的洗衣日常，從此變得好～洗～翻～",
                    date: {
                        releaseDate: "",
                    },
                    accumulationViewer: 1000000,
                },
                {
                    slug: "",
                    type: "media",
                    bannerSrc: mediaBanner4,
                    editor: {
                        name: "貓貓小胖",
                        imgSrc: mediaEditor
                    },
                    title: "【開箱】好香好箱？是有多香？Airmate艾美特多功能氣炸烤箱評價、食譜、清潔分享",
                    discription: "SHARP 好洗翻｜夏普空氣除菌滾筒洗衣機，讓洗衣不只是洗衣！抑菌Ｘ除臭Ｘ抗敏Ｘ護理Ｘ防皺，所有衣物，為你完美呵護。搭載銷售破億台自動除菌離子專利技術，加上獨家 Dry AirWash 空氣除菌乾洗模式，更有18m/s颱風等級風速，讓衣服勁風烘乾！衣服加倍潔淨了，更爲自己和家人保留更多心力！你的洗衣日常，從此變得好～洗～翻～SHARP 好洗翻｜夏普空氣除菌滾筒洗衣機，讓洗衣不只是洗衣！抑菌Ｘ除臭Ｘ抗敏Ｘ護理Ｘ防皺，所有衣物，為你完美呵護。搭載銷售破億台自動除菌離子專利技術，加上獨家 Dry AirWash 空氣除菌乾洗模式，更有18m/s颱風等級風速，讓衣服勁風烘乾！衣服加倍潔淨了，更爲自己和家人保留更多心力！你的洗衣日常，從此變得好～洗～翻～",
                    date: {
                        releaseDate: "",
                    },
                    accumulationViewer: 1000000,
                },
                {
                    slug: "",
                    type: "media",
                    bannerSrc: mediaBanner5,
                    editor: {
                        name: "貓貓小胖",
                        imgSrc: mediaEditor
                    },
                    title: "【2023最新】10款氣炸烤箱/氣炸鍋推薦排行榜",
                    discription: "SHARP 好洗翻｜夏普空氣除菌滾筒洗衣機，讓洗衣不只是洗衣！抑菌Ｘ除臭Ｘ抗敏Ｘ護理Ｘ防皺，所有衣物，為你完美呵護。搭載銷售破億台自動除菌離子專利技術，加上獨家 Dry AirWash 空氣除菌乾洗模式，更有18m/s颱風等級風速，讓衣服勁風烘乾！衣服加倍潔淨了，更爲自己和家人保留更多心力！你的洗衣日常，從此變得好～洗～翻～SHARP 好洗翻｜夏普空氣除菌滾筒洗衣機，讓洗衣不只是洗衣！抑菌Ｘ除臭Ｘ抗敏Ｘ護理Ｘ防皺，所有衣物，為你完美呵護。搭載銷售破億台自動除菌離子專利技術，加上獨家 Dry AirWash 空氣除菌乾洗模式，更有18m/s颱風等級風速，讓衣服勁風烘乾！衣服加倍潔淨了，更爲自己和家人保留更多心力！你的洗衣日常，從此變得好～洗～翻～",
                    date: {
                        releaseDate: "",
                    },
                    accumulationViewer: 1000000,
                },
                {
                    slug: "",
                    type: "media",
                    bannerSrc: mediaBanner6,
                    editor: {
                        name: "貓貓小胖",
                        imgSrc: mediaEditor
                    },
                    title: "【2023最新】精選5款小型微波爐推薦，教你選微波爐不踩雷！",
                    discription: "SHARP 好洗翻｜夏普空氣除菌滾筒洗衣機，讓洗衣不只是洗衣！抑菌Ｘ除臭Ｘ抗敏Ｘ護理Ｘ防皺，所有衣物，為你完美呵護。搭載銷售破億台自動除菌離子專利技術，加上獨家 Dry AirWash 空氣除菌乾洗模式，更有18m/s颱風等級風速，讓衣服勁風烘乾！衣服加倍潔淨了，更爲自己和家人保留更多心力！你的洗衣日常，從此變得好～洗～翻～SHARP 好洗翻｜夏普空氣除菌滾筒洗衣機，讓洗衣不只是洗衣！抑菌Ｘ除臭Ｘ抗敏Ｘ護理Ｘ防皺，所有衣物，為你完美呵護。搭載銷售破億台自動除菌離子專利技術，加上獨家 Dry AirWash 空氣除菌乾洗模式，更有18m/s颱風等級風速，讓衣服勁風烘乾！衣服加倍潔淨了，更爲自己和家人保留更多心力！你的洗衣日常，從此變得好～洗～翻～",
                    date: {
                        releaseDate: "",
                    },
                    accumulationViewer: 1000000,
                },
            ],
        }
    },
}
</script>